@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;

    var opScope = ViewBag.opScope;
}

@using FAP.Web.Enum;
@using FAP.Web.Utilitys;

<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;"></div>
            @if (opScope != "" && opScope != "0")
            {
                <form id="OAP0029A_Form">
                    <table>
                        <tr>
                            <td width="100px">
                                <label>回覆日期 : </label>
                            </td>
                            <td colspan="3">
                                <input type="text" class="" autocomplete="off" id="ce_rply_dt" name="ce_rply_dt" />
                            </td>
                        </tr>
                        <tr>
                            <td width="100px">
                                <label>寄送方式 : </label>
                            </td>
                            <td>
                                @Html.DropDownList("OAP0029A_send_style", (SelectList)ViewBag.sendStyle_A, new { @class = "" })
                            </td>
                            <td width="100px">
                                <label>結果 : </label>
                            </td>
                            <td>
                                @Html.DropDownList("OAP0029A_ce_result_status", (SelectList)ViewBag.resultStatus_A, new { @class = "" })
                            </td>
                        </tr>
                        <tr>
                            <td width="100px">
                                <label>抽件人員 : </label>
                            </td>
                            <td>
                                <input type="text" id="OAP0029A_apply_id" name="OAP0029A_apply_id" maxlength="5" onkeyup="InputToUpper(this);"/>
                            </td>
                            <td>
                                <label>申請單號 : </label>
                            </td>
                            <td>
                                <input type="text" id="OAP0029A_apply_no" name="OAP0029A_apply_no" onkeyup="InputToUpper(this);" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <input type="button" class="btn btn-primary" id="OAP0029A_Search" value="查詢" />
                            </td>
                        </tr>
                    </table>
                </form>
            }
        </div>
    </div>
    <div class=" ShowOrNot">
        <div class="col-sm-24">
            <div id="Review_jqgridDiv" class="jqd" style="padding-bottom:5px;"></div>
        </div>
        <div class="row">
            <div class="col-sm-24" style="text-align:center;">
                <input type="button" class="btn btn-primary" style="margin-right:20px;" id="btnApproved_Mod" value="核准" />
                <input type="button" class="btn btn-primary" style="margin-right:20px;" id="btnRejected_Mod" value="駁回" />
            </div>
        </div>
    </div>
    @*<div id="Review_DetailDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div class="col-sm-24">
            <div id="His_jqgridDiv" class="jqd" style="padding-bottom:5px;"></div>
        </div>
        <div style="text-align:center; margin-top: 10px" class="Review_DetailAct">
            <input type="button" class="btn btn-primary" style="margin-left:-20px;margin-right:20px;" id="btnDetailApproved_Mod" value="核准" />
            <input type="button" class="btn btn-primary" style="margin-right:20px;" id="btnDetailRejected_Mod" value="駁回" />
            <input type="button" class="btn btn-primary" id="btnDetailBack_Mod" value="回上一頁">
        </div>
    </div>*@
    <div id="RejectedCheckDialog" style="display:none" role="dialog">
        <table>
            <tr>
                <td>
                    <input type="button" id="btnConfirmed_Reject" class="btn btn-primary" style="" value="確認駁回" />
                    <input type="button" id="btnCancel_Reject" class="btn btn-primary" style="margin-right:10px;float:right;" value="取消駁回" />
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function () {
        //region set url
        var UrlFor = {};
        UrlFor.Search = '@Url.Action("qryOAP0029A", "OAP0029A")';
        UrlFor.GetData = '@Url.Action("GetCacheData", "OAP0029A")';
        UrlFor.Approved = '@Url.Action("ApprovedData", "OAP0029A")';
        UrlFor.Rejected = '@Url.Action("RejectedData", "OAP0029A")';
        UrlFor.CheckedData = '@Url.Action("CheckChange", "OAP0029A")';
        //#endregion

        //region 參數設定
        var Update_DateTime_B_Id = 'Update_DateTime_B';
        var Update_DateTime_E_Id = 'Update_DateTime_E';
        var h_Aply_No = 'h_aply_no' //申請單號
        var ReApproved = 'btnApproved_Mod' //核准
        var ReRejected = 'btnRejected_Mod' //駁回

        //#endregion

        var opScope = '@Html.Raw(ViewBag.opScope)';
        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');
        }
        else {
            //#region 初始設定
            $('.ShowOrNot').hide();
            $('.Review_DetailAct').hide();
            $("#" + ReApproved).prop('disabled', true);
            $("#" + ReRejected).prop('disabled', true);

            $('#ce_rply_dt').datepicker({
                //dateFormat: 'yyyy-mm'
            });

            //#endregion

            var _dtn = new Date();
            var _date = (_dtn.getFullYear() - 1911) + '/' + created.padLeft((_dtn.getMonth() + 1), 2) + '/' + created.padLeft((_dtn.getDate()), 2);
            $('#ce_rply_dt').val(_date);


            //#region 註冊事件
            $('input:button').each(function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'OAP0029A_Search':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { form_Search(); });
                        break;
                    case 'btnApproved_Mod':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { ApprovedDataFun(); });
                        break;
                    case 'btnRejected_Mod':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { RejectedDataFun(); });
                        break;
                    case 'btnConfirmed_Reject':
                        $('#' + id).on('click', function () { ConfirmedRejectFun(); });
                        break;
                    case 'btnCancel_Reject':
                    case 'btnDetailBack_Mod':
                        $('#' + id).on('click', function () { customerUtility.closeDialog(this); $('#' + h_Aply_No).val(''); });
                        break;
                }
            });
            //#endregion

            //#region 核准
            function ApprovedDataFun() {
                $('#validationSummary').children().remove();
                var aplyNos = [];
                $.blockUI(); //畫面鎖起來
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNos: aplyNos
                    }),
                    url: UrlFor.Approved,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        //if (openflag) {
                        //    customerUtility.closeDialog($('#btnDetailRejected_Mod'));
                        //}
                        review_SearchGrid();
                    }
                    else {

                    }
                    var validationSummary = $('#validationSummary ul.validation-summary-errors');
                    if (validationSummary.length == 0) {
                        $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                        validationSummary = $('#validationSummary ul.validation-summary-errors');
                    }
                    validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                    $.unblockUI(); //畫面打開
                });
            }
            //#endregion

            //region 駁回
            function RejectedDataFun() {
                var dialogId = 'RejectedCheckDialog';
                $('#' + dialogId).dialog({
                    position: { my: "top+30%", at: "center top", of: window },
                    title: '確定駁回',
                    width: 500,
                    autoOpen: false,
                    maxHeight: 700,
                    resizable: false,
                    closeText: '取消'
                });
                $('#' + dialogId).dialog('open');
            }
            //#endregion

            //region 確定駁回
            function ConfirmedRejectFun() {
                $('#validationSummary').children().remove();
                $.blockUI(); //畫面鎖起來
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: $('#' + h_Aply_No).val(),
                    }),
                    url: UrlFor.Rejected,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result, 'a');
                    if (result.RETURN_FLAG) {
                        customerUtility.closeDialog($('#btnCancel_Reject'));
                        review_SearchGrid();
                        customerUtility.closeDialog($('#btnDetailApproved_Mod'));
                    } else {
                    
                    }
                    //var validationSummary = $('#validationSummary ul.validation-summary-errors');
                    //if (validationSummary.length == 0) {
                    //    $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                    //    validationSummary = $('#validationSummary ul.validation-summary-errors');
                    //}
                    //validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                    $.unblockUI(); //畫面打開
                });
            }
            //#endregion

            //region 查詢
            function form_Search() {
                $('.ShowOrNot').hide();
                $('#validationSummary').children().remove();
                jqgridCustom.clearJqgrid('Review_jqgridDiv');
                var Update_B = $('#' + Update_DateTime_B_Id).val();
                var Update_E = $('#' + Update_DateTime_E_Id).val();
                $.blockUI(); //畫面鎖起來
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        searchModel: ReviewSearchViewModel(
                            $('#ce_rply_dt').val(),
                            $('#OAP0029A_send_style').val(),
                            $('#OAP0029A_ce_result_status').val(),
                            $('#OAP0029A_apply_id').val(),
                            $('#OAP0029A_apply_no').val()
                            )
                    }),
                    url: UrlFor.Search,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('.ShowOrNot').show();
                        review_SearchGrid();
                    }
                    else {
                        var validationSummary = $('#validationSummary ul.validation-summary-errors');
                        if (validationSummary.length == 0) {
                            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                            validationSummary = $('#validationSummary ul.validation-summary-errors');
                        }
                        validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                    }
                    $.unblockUI(); //畫面打開
                });
            }
            //#endregion

            //#region jqgrid
            function formatterCheck(cellvalue, options, rdata) {
                var str = '';
                if (rdata.review_flag) {
                    str = "<input type='checkbox' class = 'ApprovedIschecked' id='" + options.gid + options.colModel.index + options.rowId + "'  title= ' '" + (rdata.Ischecked == true ? 'checked' : ' ') + " />";
                }
                return str;
            }

            //查詢Grid
            function review_SearchGrid() {
                $("#" + ReApproved).prop('disabled', true);
                $("#" + ReRejected).prop('disabled', true);
                var _dRelationType = $('#dRelationType').val();
                var colNameArray = ['勾選', '結果', '來源', '支票號碼(抽)', '支票面額', '支票抬頭', '抽票申請單號', '退件原因', '其他說明', '是否為本人'];
                var colModelArray = [];
                colModelArray.push({ name: "Ischecked", index: "Ischecked", width: 65, sortable: false, align: 'center', formatter: formatterCheck });
                colModelArray.push({ name: "ce_result_status", index: "ce_result_status", width: 60, sortable: false, align: 'center' });
                colModelArray.push({ name: "scre_from", index: "scre_from", width: 65, sortable: false, align: 'center' });
                colModelArray.push({ name: "check_no", index: "check_no", width: 100, sortable: false, align: 'center' });
                colModelArray.push({ name: "amount", index: "amount", width: 150, sortable: false, align: 'right' });
                colModelArray.push({ name: "receiver", index: "receiver", width: 150, sortable: false, align: 'left' });
                colModelArray.push({ name: "apply_no", index: "apply_no", width: 120, sortable: false, align: 'left' });
                colModelArray.push({ name: "rej_rsn", index: "rej_rsn", width: 180, sortable: false, align: 'center' });
                colModelArray.push({ name: "memo", index: "memo", width: 200, sortable: false, align: 'left' });
                colModelArray.push({ name: "review_flag", index: "review_flag", hidden: true });
                jqgridCustom.createJqgridByCache(
                    'Review_jqgridDiv',
                    'Review_List',
                    'Review_Peger',
                     UrlFor.GetData,
                     {
                         type: 'OAP0029AViewData'
                     },
                     colNameArray,
                     colModelArray,
                     '待覆核文件-抽票原因維護',
                     jqgridCustom.getPage('Review_jqgridDiv'),
                     jqgridCustom.getRowNum('Review_jqgridDiv'),
                     ReviewrGridCompeleteFun,
                     true
                    )
            }
            function ReviewrGridCompeleteFun(listId) {
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    //CheckBox
                    $(this).find('td').find('.ApprovedIschecked').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            forChecked(i + 1, $(this).prop('checked'));
                        });
                    });
                });
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        apply_no: '',
                        flag: false
                    }),
                    dataType: "json",
                    url: UrlFor.CheckedData,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $("#" + ReApproved + ",#" + ReRejected).prop('disabled', !result.Datas);
                    }
                });
            }
            //#endregion

            //region 打勾事件
            function forChecked(rowid, flag) {
                var listId = 'Review_List';
                var data = $("#" + listId).getRowData(rowid);
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        apply_no: data.apply_no,
                        flag: flag
                    }),
                    dataType: "json",
                    url: UrlFor.CheckedData,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $("#" + ReApproved + ",#" + ReRejected).prop('disabled', !result.Datas);
                    }
                });
            }
            //#endregion

            //#region 查詢畫面  ViewModel
            function ReviewSearchViewModel(ce_rply_dt, send_style, ce_result_status, apply_id, apply_no) {
                var obj = {};
                obj['ce_rply_dt'] = ce_rply_dt;
                obj['send_style'] = send_style;
                obj['ce_result_status'] = ce_result_status;
                obj['apply_id'] = apply_id;
                obj['apply_no'] = apply_no;
                return obj;
            }
            //#endregion
        }
    });
</script>