@using Treasury.Web.Enum;
@using Treasury.WebUtility;
@{
    ViewBag.Title = "金庫進出管理作業-金庫物品存取申請作業";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var opScope = ViewBag.opScope;

}

<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <form id="TAForm">
                     <table >
                         <tr>
                             <td width="120px">
                                 <span class="red">＊</span>
                                 <label class="red">執行功能:</label>
                             </td>
                             <td width="250px">
                                 @Html.RadioButton("cIFeaturesType", "TAInsert", new { @checked = true }) 新增申請
                                 @Html.RadioButton("cIFeaturesType", "TASearch") 查詢
                             </td>
                             <td width="120px">
                                 <span class="red TAInsert">＊</span>
                                 <label class="red TAInsert">存取申請項目:</label>
                                 <label class="TASearch" style="display:none">存取項目:</label>
                             </td>
                             <td>
                                 @Html.DropDownList("aProject",(SelectList)ViewBag.aProject ,new {@class = "TAInsert" })
                                 @Html.DropDownList("aProjectAll", (SelectList)ViewBag.aProjectAll, new {@class= "TASearch", @style="display:none;"})
                             </td>
                         </tr>
                         <tr class="TAInsert">
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">申請單位:</label>
                             </td>
                             <td>
                                 @Html.DropDownList("aIUnit", (SelectList)ViewBag.aUnit)
                             </td>
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">申請人:</label>
                             </td>
                             <td>
                                 @Html.DropDownList("applicant", (SelectList)ViewBag.applicant)
                             </td>
                         </tr>
                         <tr class="TAInsert">
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">填寫申請原因:</label>
                             </td>
                             <td colspan="3">
                                 @Html.TextBox("TAReason", null, new { @style = "width:80%"  })
                             </td>
                         </tr>
                         <tr class="TAInsert">
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">預計存取日期:</label>
                             </td>
                             <td >
                                 <input type="text" id="EXP_ACCESS_DATE" name="EXP_ACCESS_DATE" />
                             </td>
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">申請作業:</label>
                             </td>
                             <td>
                                 @Html.RadioButton("cProjectType", Ref.AccessProjectTradeType.P.ToString(), new { @checked = true }) @Ref.AccessProjectTradeType.P.GetDescription()
                                 @Html.RadioButton("cProjectType", Ref.AccessProjectTradeType.G.ToString()) @Ref.AccessProjectTradeType.G.GetDescription()
                             </td>
                         </tr>
                         <tr class="TASearch" style="display:none">
                             <td>
                                 <label>申請日期:</label>
                             </td>
                             <td colspan="3">
                                 <input type="text" id="APLY_DT_From" name="APLY_DT_From" />
                                 <label> ~&ensp;</label>
                                 <input type="text" id="APLY_DT_To" name="APLY_DT_To" />
                             </td>
                         <tr class="TASearch" style="display:none">
                             <td>
                                 <label>申請單號:</label>
                             </td>
                             <td >
                                 <input type="text" id="APLY_NO" />                           
                             </td>
                             <td>
                                 <label style="padding-right:20px">申請單位:</label>
                             </td>
                             <td>
                                 @Html.DropDownList("aSUnitAll", (SelectList)ViewBag.aUnitAll)
                             </td>
                         </tr>
                         <tr class="TASearch" style="display:none">
                             <td>
                                 <label>實際存取日期:</label>
                             </td>
                             <td colspan="3">                                
                                 <input type="text" id="CONFIRM_DT_From" name="CONFIRM_DT_From" />
                                 <label> ~&ensp;</label>
                                 <input type="text" id="CONFIRM_DT_To" name="CONFIRM_DT_To" />
                             </td>
                         </tr>
                         <tr class="TASearch" style="display:none">
                             <td>
                                 <label>金庫登記簿單號:</label>
                             </td>
                             <td colspan="3">
                                 <input type="text" id="TREA_REGISTER_ID" />
                             </td>
                         </tr>
                         <tr class="TAInsert" >
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">填表單位 : </label>
                             </td>
                             <td>
                                 @Html.Label("lCREATE_Dep", (string)ViewBag.lCREATE_Dep)
                             </td>
                             <td>
                                 <span class="red">＊</span>
                                 <label class="red">填表人 :</label>
                             </td>
                             <td>
                                 @Html.Label("lCREATE_User", (string)ViewBag.lCREATE_User)
                             </td>
                         </tr>
                         <tr  style="text-align:center">
                             <td colspan="4">
                                 <input type="hidden" id="TAR_AplyNo" />
                                 <input type="button" class="TAInsert btn btn-primary" id="TAI_Insert" value="新增" />
                                 <input type="button" class="TASearch btn btn-primary" id="TAI_Search" value="查詢" style="display:none" />
                             </td>
                         </tr>
                     </table>
                    <div id="TASearchDetail">
                    </div>
                </form>

            }
        </div>
    </div>
    @*查詢區塊*@
    <div id="TASearchDialog" style="display:none" role="dialog" class="myDialog">
        <div id="TAjqgridDiv1" class="col-sm-24 jqd" style="padding-bottom:5px;">
        </div>
        <div id="TAjqgridDiv2" class="col-sm-24 jqd">
        </div>
        <div class="TAPrintClass" style="text-align:center">
            <input type="button" class="TAPrint btn btn-primary" id="TAI_Print"  value="列印" />
        </div>
    </div>

    <div id="TAOpenInsertDialog" style="display:none" role="dialog" class="myDialog">
        <div id="TAOpenInsertDetail"></div>
    </div>
    <div id="TAOpenSearchDialog" style="display:none" role="dialog" class="myDialog">
        <div id="TAOpenSearchDetail"></div>
    </div>
</div>


<script type="text/javascript">


    $(function () {

        //#region url設定
        var TAurl = {};
        TAurl.openBILL = '@Url.Action("View", "Bill")';
        TAurl.openESTATE = '@Url.Action("View", "Estate")';
        TAurl.openSEAL = '@Url.Action("View", "Seal")';
        TAurl.changeUnit = '@Url.Action("ChangeUnit", "TreasuryAccess")';
        TAurl.search = '@Url.Action("Search", "TreasuryAccess")';
        TAurl.getData = '@Url.Action("GetCacheData", "TreasuryAccess")';
        TAurl.cancel = '@Url.Action("Cancel", "TreasuryAccess")';
        TAurl.invalidate = '@Url.Action("Invalidate", "TreasuryAccess")';
        TAurl.getByAplyNo = '@Url.Action("GetByAplyNo", "TreasuryAccess")';

        var openInsertDetailId = 'TAOpenInsertDetail';
        var openSearchDetailId = 'TAOpenSearchDetail';
        var TAFormId = 'TAForm';
        var EXP_ACCESS_DATEId = 'EXP_ACCESS_DATE';
        //#endregion

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else
        {

            //#region 初始設定

            created.createDatepicker(EXP_ACCESS_DATEId, null);
            created.createDatepickerRange('APLY_DT_From', 'APLY_DT_To');
            created.createDatepickerRange('CONFIRM_DT_From', 'CONFIRM_DT_To');
            verified.datepicker(TAFormId, EXP_ACCESS_DATEId, $('#' + EXP_ACCESS_DATEId).val());
            verified.required(TAFormId, 'TAReason', message.required('字軌')); //字軌為必填
            verified.required(TAFormId, EXP_ACCESS_DATEId, message.required('預計存取日期')); //預計存取日期為必填

            $('.TASearch').hide();
            $('input[name=cIFeaturesType]').on('change', function () {
                var type = $('input[name=cIFeaturesType]:checked').val();
                $('.TAInsert,.TASearch').hide();
                reset();
                $('.' + type).show();
            });

            $('input:button').each(function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'TAI_Insert':
                        $('#' + id).on('click', function () { TAInsert(); });
                        break;
                    case 'TAI_Search':
                        $('#' + id).on('click', function () { TASearch(); });
                        break;
                    case 'TAI_Print':
                        $('#' + id).on('click', function () { TAReport(); });
                        break;
                }
            });

            $('#aIUnit').on('change', function () {
                setApplicant($(this).val())
            });

            //#endregion

        }

        //#region 申請單位變更=>變更申請人
        function setApplicant(DPT_CD)
        {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    DPT_CD: DPT_CD
                }),
                dataType:"json",
                url: TAurl.changeUnit,
                contentType:'application/json'
            }).done(function (result) {
                customerUtility.addoption('applicant',result);
            })

        }
        //#endregion

        //#region 初始設定
        function reset()
        {
            resetTADialogDeatil();
        }
        //#endregion

        //#region 新增事件
        function TAInsert() {
            if ($('#TAForm').valid())
            {
                resetTADialogDeatil();
                var _aProject = $('#aProject').val();
                _aProject = _aProject || '';
                switch (_aProject) {
                    case '@Ref.TreaItemType.D1012.ToString()':
                        open(_aProject);
                        break;
                    case '@Ref.TreaItemType.D1014.ToString()':
                        open(_aProject);
                        break;
                    case '@Ref.TreaItemType.D1008.ToString()':
                    case '@Ref.TreaItemType.D1009.ToString()':
                    case '@Ref.TreaItemType.D1010.ToString()':
                    case '@Ref.TreaItemType.D1011.ToString()':
                        open(_aProject);
                        break;
                    case '':
                        customerUtility.alert('無申請項目', 'w');
                        break;
                    default:
                        customerUtility.alert('申請項目 : ' + $('#aProject option:selected').html() + ' 功能尚未完成', 'w');
                        break;
                }
            }
        }
        //#endregion

        //#region 查詢畫面查詢
        function TASearch() {
            var _items = [];
            if ($('#aProjectAll').val() == 'All') {
                $('#aProjectAll option').each(function () {
                    if ($(this).val() != 'All')
                        _items.push($(this).val());
                })
            }
            else {
                _items.push($('#aProjectAll').val());
            }

            var _Units = [];
            if ($('#aSUnitAll').val() == 'All') {
                $('#aSUnitAll option').each(function () {
                    if ($(this).val() != 'All')
                        _Units.push($(this).val());
                })
            }
            else {
                _Units.push($('#aSUnitAll').val());
            }

            var dialogId = 'TASearchDialog';
            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: '查詢畫面',
                width: 1300,
                autoOpen: false,
                resizable: false,
                closeText: '取消'
            });

            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    searchModel: TreasuryAccessSearchViewModel(
                     _items,
                     $('#APLY_DT_From').val(),
                     $('#APLY_DT_To').val(),
                     $('#APLY_NO').val(),
                     _Units,
                     $('#CONFIRM_DT_From').val(),
                     $('#CONFIRM_DT_To').val(),
                     $('#TREA_REGISTER_ID').val()
                     )
                }),
                url: TAurl.search,
                contentType: 'application/json',
            }).done(function (result) {
                if (result.RETURN_FLAG) {
                    $('#' + dialogId).dialog('open');
                    TAAccessGrid();
                    TAReportGrid();
                }
                else {
                    customerUtility.alert(result.DESCRIPTION,'w');
                }
            });
        }
        //#endregion

        //#region 呼叫報表
        function TAReport() {
            if ($('.TAReportCs:checked').length > 0) {
                $('.TAReportCs:checked').each(function () {
                    var listId = 'TAReportList';
                    var aply_No = $(this).parents('tr:first').find($.validator.format('td[aria-describedby$={0}_vAPLY_NO]', listId)).text();
                    var item = $(this).parents('tr:first').find($.validator.format('td[aria-describedby$={0}_vItem]', listId)).text();
                    var reportType = '';
                    var title = '';
                    var parms = [];
                    var itemData = GetItemData(item);
                    if (itemData.reportType != null) {
                        parms.push(customerUtility.reportParm('aply_No', aply_No));
                        customerUtility.report(
                            customerUtility.reportModel(itemData.reportTitle, itemData.reportType),
                            parms,
                            null
                            );
                    }
                });
            }
            else {
                customerUtility.alert('無選擇列印報表', 'w');
            }
        }
        //#endregion

        //#region 重設新增畫面
        function resetTADialogDeatil()
        {
            $('#AplyNo').val('');
            $('#' + openInsertDetailId).children().remove();
            $('#' + openSearchDetailId).children().remove();
        }
        //#endregion

        //#region formate 樣式

        function formatterCancleFlag(cellvalue, options, rdata) {
            let str = '';
            if (cellvalue == 'Y')
            {
                str += '<div class="btn-group">';
                str += '<a title="取消申請" class="btn actionCancle" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="TA' + options.gid + 'Cancle' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-reply fa-lg"></i></a>';
                str += '</div>';
            }
            return str;
        }

        function formatterInvalidFlag(cellvalue, options, rdata) {
            let str = '';
            if (cellvalue == 'Y')
            {
                str += '<div class="btn-group">';
                str += '<a title="作廢" class="btn actionInvalid" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="TA' + options.gid + 'Delete' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-trash fa-lg"></i></a>';
                str += '</div>';
            }
            return str;
        }

        function formatterCheck(cellvalue, options, rdata) {
            let str = '';
            if (cellvalue == 'Y') {
                str += "<div class='checkbox checkbox-info' title=' ' style='padding-top: 0px; margin-top: 0px; margin-bottom: 0px;'><input type='checkbox' id='" + options.gid + options.colModel.index + options.rowId + "' ' tage='" + options.colModel.index + "' name='" +
                    options.gid + options.colModel.index + options.rowId + "' title =' ' class='cbox TAReportCs customerCheck'></div>";
            }
            return str;
        }

        function formatterAPLYNO(cellvalue, options, rdata) {
            return "<a href='#' class='openDialog DialogAPLYNO' style='text-decoration:underline;' return:false; id='" + options.gid + "APLYNO" + options.rowId + "'  name='" + cellvalue + "' title='" + cellvalue + "' '>" + cellvalue + "</a>";
        }

        function UnformatterAPLYNO(cellvalue, options, rdata) {
            return cellvalue;
        }

        //#endregion

        //#region 查詢表單
        function TAAccessGrid() {
            var colNameArray = ['取消申請', '作廢',
                '存取申請項目', '申請日期', '申請單號',
                '申請單位', '申請人', '入庫原因',
                '表單狀態', '覆核意見/退回意見', '申請人ID', '表單狀態ID', '取出/存入', '存取申請項目'];
            var colModelArray = [
                { name: "vCancleFlag", index: "vCancleFlag", width: 70, sortable: false, align: 'center', formatter: formatterCancleFlag },
                { name: "vInvalidFlag", index: "vInvalidFlag", width: 40, sortable: false, align: 'center', formatter: formatterInvalidFlag },
                { name: "vItemDec", index: "vItemDec", width: 150, sortable: false, align: 'center' },
                { name: "vAPLY_DT", index: "vAPLY_DT", width: 100, sortable: false, align: 'center'},
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 130, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vAPLY_UNIT", index: "vAPLY_UNIT", width: 180, sortable: false, align: 'left' },
                { name: "vAPLY_UID_NAME", index: "vAPLY_UID_NAME", width: 70, sortable: false, align: 'center' },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width:160, sortable: false, align: 'left' },
                { name: "vAPLY_STATUS_D", index: "vAPLY_STATUS_D", width: 160, sortable: false, align: 'left'},
                { name: "vDESC", index: "vDESC", width: 160, sortable: false, align: 'left' },
                { name: "vAPLY_UID", index: "vAPLY_UID", hidden: true },
                { name: "vAPLY_STATUS", index: "vAPLY_STATUS", hidden: true },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", hidden: true },
                { name: "vItem", index: "vItem", hidden: true },
            ];
            jqgridCustom.createJqgridByCache(
                'TAjqgridDiv1',
                'TAAccessList',
                'TAAccessPeger',
                TAurl.getData,
                {
                    type: 'Access'
                },
                colNameArray,
                colModelArray,
                '申請代辦區',
                jqgridCustom.getPage('TAjqgridDiv1'),
                TACancelAndInvalidateGridCompeleteFun,
                true
                );
        }

        function TAReportGrid() {
            var colNameArray = ['列印',
                '存取申請項目', '申請日期', '申請單號' ,
                '申請單位', '申請人', '入庫原因',
                '表單狀態', '覆核意見/退回意見', '申請人ID', '表單狀態ID', '取出/存入', '存取申請項目'];
            var colModelArray = [
                { name: "vPrintFlag", index: "vPrintFlag", width: 110, sortable: false, align: 'center', formatter: formatterCheck },
                { name: "vItemDec", index: "vItemDec", width: 150, sortable: false, align: 'center' },
                { name: "vAPLY_DT", index: "vAPLY_DT", width: 100, sortable: false, align: 'center'},
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 130, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vAPLY_UNIT", index: "vAPLY_UNIT", width: 180, sortable: false, align: 'left' },
                { name: "vAPLY_UID_NAME", index: "vAPLY_UID_NAME", width: 70, sortable: false, align: 'center' },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width: 160, sortable: false, align: 'left' },
                { name: "vAPLY_STATUS_D", index: "vAPLY_STATUS_D", width: 160, sortable: false, align: 'left'},
                { name: "vDESC", index: "vDESC", width: 160, sortable: false, align: 'left' },
                { name: "vAPLY_UID", index: "vAPLY_UID", hidden: true },
                { name: "vAPLY_STATUS", index: "vAPLY_STATUS", hidden: true },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", hidden: true },
                { name: "vItem", index: "vItem", hidden: true },
            ];
            jqgridCustom.createJqgridByCache(
                'TAjqgridDiv2',
                'TAReportList',
                'TAReportPeger',
                TAurl.getData,
                {
                    type: 'Report'
                },
                colNameArray,
                colModelArray,
                '在途/已結申請單',
                jqgridCustom.getPage('TAjqgridDiv2'),
                TAPrintGridCompeleteFun,
                true
                );
        }

        //#endregion

        //#region 新增事件(打開Dialog)
        function openTADialog(title, width, dialogId)
        {
            title = title || '';
            width = width || 'auto';
            title += '明細';
            var dialogId = dialogId; 'TAOpenInsertDialog';
            $('#' + dialogId).dialog({
                position: {my:"top+30%",at:"center top",of:window},
                title: title,
                width: width,
                autoOpen : false,
                resizable: false,
                closeText : '取消'
            });
            $('#' + dialogId).dialog('open');
        }

        //#endregion

        //#region 新增事件

        function open(itemId) {
            //var AccessType = $('input[name=cProjectType]:checked').val();
            var _data = GetItemData(itemId);
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    AplyNo: null,
                    data: TreasuryAccessViewModel(
                     $('#aProject').val(),
                     $('#aIUnit').val(),
                     $('#applicant').val(),
                     $('#TAReason').val(),
                     $('#EXP_ACCESS_DATE').val(),
                     $('input[name=cProjectType]:checked').val())
                }),
                url: _data.url,
                contentType: 'application/json',
                success: function (data, textStatus, jqXHR) {
                    $('#' + openInsertDetailId).html(data);
                    openTADialog(_data.title, _data.openDialogWidth, 'TAOpenInsertDialog');
                }
            })
        }
        //#endregion

        //#region 註冊 取消申請 & 作廢 & 開啟申請單號 事件
        function TACancelAndInvalidateGridCompeleteFun(listId) {
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                //取消申請
                $(this).find('td').find('a.actionCancle').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        TACancelFun(listId , i + 1);
                    });
                });
                //作廢
                $(this).find('td').find('a.actionInvalid').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        TAInvalidateFun(listId, i + 1);
                    });
                });
                //申請單號
                $(this).find('td').find('a.DialogAPLYNO').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        TAOpenAPLYNOFun(listId, i + 1);
                    });
                });
            });
        }

        function TAPrintGridCompeleteFun(listId) {
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                //申請單號
                $(this).find('td').find('a.DialogAPLYNO').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        TAOpenAPLYNOFun(listId, i + 1);
                    });
                });
            });
        }
        //#endregion

        //#region 取消申請
        function TACancelFun(listId, rowid) {
            var data = $("#" + listId).getRowData(rowid);
            if (!confirm('是否取消申請單號為' + data.vAPLY_NO + '的資料!'))
            {
                return false;
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    AplyNo: data.vAPLY_NO
                }),
                url: TAurl.cancel,
                contentType: 'application/json',
            }).done(function (result) {
                customerUtility.alertAuto(result);
                if (result.RETURN_FLAG) {
                    TAAccessGrid();
                    TAReportGrid();
                }
            });
        }
        //#endregion

        //#region 作廢
        function TAInvalidateFun(listId, rowid) {
            var data = $("#" + listId).getRowData(rowid);
            if (!confirm('是否作廢單號為' + data.vAPLY_NO + '的資料!')) {
                return false;
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    AplyNo: data.vAPLY_NO
                }),
                url: TAurl.invalidate,
                contentType: 'application/json',
            }).done(function (result) {
                customerUtility.alertAuto(result);
                if (result.RETURN_FLAG) {
                    TAAccessGrid();
                    TAReportGrid();
                }
            });
        }
        //#endregion

        //#region 開啟申請單號
        function TAOpenAPLYNOFun(listId,rowid) {
            var data = $("#" + listId).getRowData(rowid);
            var itemId = data.vItem;
            //var _accessType = data.vACCESS_TYPE;
            var itemData = GetItemData(itemId);
            if (itemData.url != null)
            {
                $('#AplyNo').val(data.vAPLY_NO);
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: data.vAPLY_NO,
                        data: null
                    }),
                    url: TAurl.getByAplyNo,
                    contentType: 'application/json',
                })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        var aplyNoData = result.Datas;
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify({
                                AplyNo: data.vAPLY_NO,
                                data: null
                            }),
                            url: itemData.url,
                            contentType: 'application/json',
                            success: function (data, textStatus, jqXHR) {
                                $('#' + openSearchDetailId).html(GetAplyNoDetail() + data);
                                $('#TAVMvAplyNo').text(aplyNoData.vAplyNo);
                                $('#TAVMvItem').text(aplyNoData.vItem)
                                $('#TAVMvAplyUnit').text(aplyNoData.vAplyUnit);
                                $('#TAVMvAplyUid').text(aplyNoData.vAplyUid);
                                $('#TAVMvChargeUnit').text(aplyNoData.vAplyUnit);
                                $('#TAVMvAccessType').text(aplyNoData.vAccessType);
                                $('#TAVMvExpectedAccessDate').text(aplyNoData.vExpectedAccessDate);
                                $('#TAVMvCreateDt').text(aplyNoData.vCreateDt);
                                $('#TAVMvCreateUnit').text(aplyNoData.vCreateUnit);
                                $('#TAVMvCreateUid').text(aplyNoData.vCreateUid);
                                $('#TAVMvAccessReason').val(aplyNoData.vAccessReason);
                                openTADialog(itemData.title, itemData.openDialogWidth, 'TAOpenSearchDialog');
                            }
                        })
                    }
                });
            }
        }
        //#endregion

        //#region 申請項目設定檔案
        function GetItemData(item) {
            item = item || '';
            var _reportTitle = '金庫物品存取申請單';
            var obj = {};
            obj.url = null; //開啟金庫物品的頁面 url
            obj.title = null; //開啟金庫物品的頁面 Title
            obj.openDialogWidth = '850px'; //開啟金庫物品的頁面 寬度
            obj.reportTitle = _reportTitle; //報表Title
            obj.reportType = null; //報表類型

            switch (item) {
                case '@Ref.TreaItemType.D1012.ToString()':
                    obj.url = TAurl.openBILL;
                    obj.title = '@Ref.TreaItemType.D1012.GetDescription()';
                    obj.openDialogWidth = '850px';
                    obj.reportType = 'BILL';
                    break;
                case '@Ref.TreaItemType.D1014.ToString()':
                    obj.url = TAurl.openESTATE;
                    obj.title = '@Ref.TreaItemType.D1014.GetDescription()';
                    obj.reportType = 'ESTATE';
                    break;
                case '@Ref.TreaItemType.D1008.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1008.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1009.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1009.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1010.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1010.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1011.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1011.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
            }
            return obj;
        }
        //#endregion

        //#region 金庫物品存取作業查詢畫面  ViewModel
        function TreasuryAccessSearchViewModel(
        vItem,
        vAPLY_DT_S,
        vAPLY_DT_E,
        vAPLY_NO,
        vAplyUnit,
        vActualAccessDate_S,
        vActualAccessDate_E,
        vTREA_REGISTER_ID,
        vCreateUnit,
        vCreateUid
        ) {
            var obj = {};
            obj['vItem'] = vItem;
            obj['vAPLY_DT_S'] = vAPLY_DT_S;
            obj['vAPLY_DT_E'] = vAPLY_DT_E;
            obj['vAPLY_NO'] = vAPLY_NO;
            obj['vAplyUnit'] = vAplyUnit;
            obj['vActualAccessDate_S'] = vActualAccessDate_S;
            obj['vActualAccessDate_E'] = vActualAccessDate_E;
            obj['vTREA_REGISTER_ID'] = vTREA_REGISTER_ID;
            obj['vCreateUnit'] = vCreateUnit;
            obj['vCreateUid'] = vCreateUid;
            return obj;
        }
        //#endregion


        //#region 金庫物品存取作業新增申請畫面  ViewModel
        function TreasuryAccessViewModel(
        vItem,
        vAplyUnit,
        vAplyUid,
        vAccessReason,
        vExpectedAccessDate,
        vAccessType
        ) {
            var obj = {};
            obj['vItem'] = vItem;
            obj['vAplyUnit'] = vAplyUnit;
            obj['vAplyUid'] = vAplyUid;
            obj['vAccessReason'] = vAccessReason;
            obj['vExpectedAccessDate'] = vExpectedAccessDate;
            obj['vAccessType'] = vAccessType;
            return obj;
        }
        //#endregion

        //#region 申請單號基本資料(點選單號時使用)
        function GetAplyNoDetail() {
            var str = '';
            str += '<div  class="aplyNoDetail" style="border-bottom:1px solid #000">';
            str += '<table style="width:95%" >';
            str += '<tr>';
            str += '<td style="width:150px">';
            str += '<label>申請單號 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvAplyNo"></label>';
            str += '</td>';
            str += '<td style="width:150px">';
            str += '<label>存取申請項目 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvItem"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvAplyUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvAplyUid"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>權責部門 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvChargeUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請作業 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvAccessType"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>預計存取日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvExpectedAccessDate"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateDt"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += ' <label>填表單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUid"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請原因 : </label>';
            str += '</td>';
            str += '<td colspan="3">';
            str += '<textarea id="TAVMvAccessReason" style="width:100%" disabled></textarea>';
            str += '</td>';
            str += '</tr>';
            str += '</table>';
            str += '</div>';
            return str;
        }
        //#endregion



    });
</script>


