@using FAP.Web.Enum;
@using FAP.Web.Utilitys;
@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;

    var opScope = ViewBag.opScope;
}


<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <form id="OAP0022_Form">
                    <table>
                        <tr>
                            <td width="100px">
                                <label>覆核日期 : </label>
                            </td>
                            <td>
                                <input id="OAP0022_APPR_s" name="OAP0022_APPR_s" type="text">
                                ~
                                <input id="OAP0022_APPR_e" name="OAP0022_APPR_e" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>接收人員 : </label>
                            </td>
                            <td>
                                <input type="text" id="OAP0022_RECE_id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>表單號碼 : </label>
                            </td>
                            <td>
                                <input type="text" id="OAP0022_REPORT_NO" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>支票號碼 : </label>
                            </td>
                            <td>
                                <input type="text" id="OAP0022_CHECK_NO" />
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="button" class="btn btn-primary" id="OAP0022_Search" value="查詢" />
                        <input type="button" id="OAP0022_Print" value="列印" class="btn btn-primary" disabled />
                        <input type="button" id="OAP0022_ReportNo" value="產生表單號碼" class="btn btn-primary" disabled />
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
    <div class="row" style="padding-left:10px">
        <div id="OAP0022jqgridDiv" class="jqd" style="padding-bottom:5px;">
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () {

        var OAP0022url = {};
        OAP0022url.getData = '@Url.Action("GetCacheData", "OAP0022")';
        OAP0022url.qryOAP0022 = '@Url.Action("qryOAP0022", "OAP0022")';
        OAP0022url.setReportNo = '@Url.Action("SetReportNo", "OAP0022")';
        OAP0022url.CheckChange = '@Url.Action("CheckChange", "OAP0022")';
        OAP0022url.getReportParm = '@Url.Action("GetReportParm", "OAP0022")';

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');
        }

        $('#OAP0022_APPR_s').datepicker();
        $('#OAP0022_APPR_e').datepicker();
        var _dtn = new Date();
        var _date = (_dtn.getFullYear() - 1911) + '/' + created.padLeft((_dtn.getMonth() + 1), 2) + '/' + created.padLeft((_dtn.getDate()), 2);
        $('#OAP0022_APPR_s').val(_date);
        $('#OAP0022_APPR_e').val(_date);

        //#region 註冊事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'OAP0022_Search':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () {
                        OAP0022_SearchFun();
                    });
                    break;
                case 'OAP0022_ReportNo':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () {
                        OAP0022_SetReportNo();
                    });
                    break;
                case 'OAP0022_Print':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () {
                        $.blockUI(); //畫面鎖起來
                        var _result = '';
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: OAP0022url.getReportParm,
                            contentType: 'application/json'
                        }).done(function (result) {
                            _result = _result || result;
                            if (_result.trim() != '') {
                                var parms = []; 
                                parms.push(customerUtility.reportParm('APPR_s', $('#OAP0022_APPR_s').val()));
                                parms.push(customerUtility.reportParm('APPR_e', $('#OAP0022_APPR_e').val()));
                                parms.push(customerUtility.reportParm('RECE_id', $('#OAP0022_RECE_id').val()));
                                parms.push(customerUtility.reportParm('REPORT_NO', $('#OAP0022_REPORT_NO').val()));
                                parms.push(customerUtility.reportParm('CHECK_NO', $('#OAP0022_CHECK_NO').val()));
                                parms.push(customerUtility.reportParm('results', _result));
                                customerUtility.report(
                                customerUtility.reportModel('應付票據變更用印清冊', 'OAP0022'),
                                parms,
                                null);
                            }
                            $.unblockUI(); //畫面打開
                        });
                    });           
                    break;
            }
        });

        function OAP0022_SearchFun() {
            jqgridCustom.clearJqgrid('OAP0022jqgridDiv');
            $('#validationSummary').children().remove();
            var validationSummary = $('#validationSummary ul.validation-summary-errors');
            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            if (($('#OAP0022_APPR_s').val() || '').trim() == "" )
            {
                alert('覆核日期(起)不能為空!');
                return false;
            }
            if( ($('#OAP0022_APPR_e').val() || '').trim() == "")
            {
                alert('覆核日期(迄)不能為空!');
                return false;
            }
            $.blockUI(); //畫面鎖起來
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    appr_s: $('#OAP0022_APPR_s').val(),
                    appr_e: $('#OAP0022_APPR_e').val(),
                    rece_id: $('#OAP0022_RECE_id').val(),
                    report_no: $('#OAP0022_REPORT_NO').val(),
                    check_no: $('#OAP0022_CHECK_NO').val()
                }),
                dataType: "json",
                url: OAP0022url.qryOAP0022,
                contentType: 'application/json',
            }).done(function (result) {          
                if (result.RETURN_FLAG) {
                    $('#OAP0022_Print').prop('disabled', !result.Datas.Item1);
                    $('#OAP0022_ReportNo').prop('disabled', !result.Datas.Item2);
                    OAP0022Data();
                }
                else {
                    validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                }
                $.unblockUI(); //畫面打開
            });
        }

        function OAP0022_SetReportNo()
        {
            $('#validationSummary').children().remove();
            var validationSummary = $('#validationSummary ul.validation-summary-errors');
            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            $.blockUI(); //畫面鎖起來
            $.ajax({
                type: "POST",
                dataType: "json",
                url: OAP0022url.setReportNo,
                contentType: 'application/json',
            }).done(function (result) {
                validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                if (result.RETURN_FLAG) {
                    OAP0022Data();
                    $('#OAP0022_Print').prop('disabled', !result.Datas.Item1);
                    $('#OAP0022_ReportNo').prop('disabled', !result.Datas.Item2);
                }
                $.unblockUI(); //畫面打開
            });

        }

        function formatterCheck(cellvalue, options, rdata) {
            var str = '';
            
            str = "<input type='checkbox' class = 'OAP0022check' id='" + options.gid + options.colModel.index + options.rowId + "'  title= ' '" + (rdata.checkFlag == true ? 'checked' : ' ') + " />";
            
            return str;
        }

        function OAP0022Data() {
            var colNameArray = ['選擇', '申請單號', '支票號碼', '接收日', '接收人員', '表單號碼'];
            var colModelArray = [];
            colModelArray.push({ name: "chechFlag", index: "checkFlag", width: 70, sortable: false, align: 'center', formatter: formatterCheck }),
            colModelArray.push({ name: "apply_no", index: "apply_no", width: 120, sortable: false, align: 'center' });
            colModelArray.push({ name: "check_no", index: "check_no", width: 500, sortable: false, align: 'left' });
            colModelArray.push({ name: "rece_date", index: "rece_date", width: 90, sortable: false, align: 'center' });
            colModelArray.push({ name: "rece_id", index: "rece_id", width: 100, sortable: false, align: 'center' });
            colModelArray.push({ name: "report_no", index: "report_no", width: 115, sortable: false, align: 'center' });
            jqgridCustom.createJqgridByCache(
                'OAP0022jqgridDiv',
                'OAP0022TempList',
                'OAP0022TempPeger', 
                OAP0022url.getData,
                {
                    type: "OAP0022ViewData"
                },
                colNameArray,
                colModelArray,
                '應付票據變更用印清冊',
                jqgridCustom.getPage('OAP0022jqgridDiv'),
                jqgridCustom.getRowNum('OAP0022jqgridDiv'),
                OAP0022TempCompleteFun,
                true
                );
        }

        function OAP0022TempCompleteFun(listId)
        {
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                $(this).find('td').find('.OAP0022check').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        OAP0022Check(i + 1, $(this).prop('checked'));
                    });
                });
            });
        }

        function OAP0022Check(rowid, flag) {
            var listId = 'OAP0022TempList';
            var data = $("#" + listId).getRowData(rowid);
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    check_no: data.check_no,
                    apply_no: data.apply_no,
                    flag: flag
                }),
                dataType: "json",
                url: OAP0022url.CheckChange,
                contentType: 'application/json',
            }).done(function (result) {
                if (result.RETURN_FLAG) {
                    $('#OAP0022_Print').prop('disabled', !result.Datas.Item1);
                    $('#OAP0022_ReportNo').prop('disabled', !result.Datas.Item2);
                }
                else {
                    validationSummary.append('<li>' + result.DESCRIPTION + '</li>');
                }
            });
        }


    });
</script>


