@model FRT.Web.ViewModels.ORTB001Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;

    var opScope = ViewBag.opScope;

    var statusjqList = ViewBag.statusjqList as SelectList;

}


<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                @Html.Hidden("hidStatus", "")

                <span style="color:red;">如須”新增”或”刪除”，請先按”查詢”!</span>
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.sysType)：@Html.TextBoxFor(model => model.sysType, new { @size = "1", @maxlength = "1", @onkeyup = "InputToUpper(this);" })
                        </td>

                        <td>
                            @Html.DisplayNameFor(model => model.srceFrom)：@Html.TextBoxFor(model => model.srceFrom, new { @size = "3", @maxlength = "3", @onkeyup = "InputToUpper(this);" })
                        </td>

                        <td>
                            @Html.DisplayNameFor(model => model.srceKind)：@Html.TextBoxFor(model => model.srceKind, new { @size = "4", @maxlength = "4", @onkeyup = "InputToUpper(this);" })
                        </td>

                        <td>
                            @Html.DisplayNameFor(model => model.srcePgm)：@Html.TextBoxFor(model => model.srcePgm, new { @size = "10", @maxlength = "10", @onkeyup = "InputToUpper(this);" })
                        </td>
                    </tr>


                </table>


                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
                        <input type="submit" id="btnModify" name="btnModify" value="申請覆核" class="btn btn-primary" />
                        <input type="submit" id="btnClear" name="btnClear" value="清空" class="btn btn-primary" />
                    </div>
                </div>
                <br>
                @Html.Hidden("onEdit", "")
                @Html.Hidden("valueErr", "")
                <button id="btnNew" name="btnNew" class="btn btn-primary">新增</button>
                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>



<script type="text/javascript">
    var lastSelectRoot = "";

    //新增
    $("#btnNew").on("click", function () {
        if ($("#onEdit").val() == "Y") {
            alert("畫面仍有資料在編輯中，不可新增!!");
        } else {
            $("#grid").jqGrid('addRow', "new", { addParams: { position: "last" } });
            var sel_id = $('#grid').jqGrid('getGridParam', 'selrow');
            $("#grid").jqGrid("setCell", sel_id, "status", "A");

            be = "<input class=\"edit\" style='height:28px;width:50px; visibility: hidden;' type='button' id='btn_edit_" + sel_id + "' value='修改' onclick=\" TheOnEditFunction ('" + sel_id + "');\"  />";
            de = "<input class=\"del\" style='height:28px;width:50px; visibility: hidden;' type='button' id='btn_del_" + sel_id + "' value='刪除' onclick=\" TheOnDelFunction ('" + sel_id + "');\"  />";

            se = "<input class=\"save\" style='height:28px;width:50px; ' type='button' id='btn_save_" + sel_id + "' value='儲存' onclick=\"TheOnSaveFunction('" + sel_id + "');\"  />";
            ce = "<input class=\"cancel\" style='height:28px;width:50px; ' type='button' id='btn_cancel_" + sel_id + "'  value='取消' onclick=\"TheOnCancelFunction('" + sel_id + "');\"  />";
            jQuery("#grid").jqGrid('setRowData', sel_id, { Action: be + de + se + ce });
            $("#btn_edit_" + sel_id).hide();
            $("#btn_del_" + sel_id).hide();
            $("#onEdit").val("Y");
            lastSelectRoot = sel_id;
        }
        

    });




    //jqgrid中的刪除
    function TheOnDelFunction(rowid) {
        if (window.confirm('您確定要刪除嗎？') == true) {

            chkData(rowid, "Delete");

        }

    }


    //jqgrid中的修改
    function TheOnEditFunction(rowid) {
        if ($("#onEdit").val() == "Y") {
            alert("畫面仍有資料在編輯中，不可修改!!");
        } else {
            var rowData = jQuery("#grid").jqGrid("getRowData", rowid);
            //var rowid = rowData.tempId;



            jQuery("#grid").setSelection(rowid, true);
            jQuery("#grid").editRow(rowid);


            //alert("rowid is " + rowid);
            $("#btn_save_" + rowid).css("visibility", "visible");
            $("#btn_cancel_" + rowid).css("visibility", "visible");

            $("#btn_edit_" + rowid).css("visibility", "hidden");
            $("#btn_del_" + rowid).css("visibility", "hidden");
            $("#btn_edit_" + rowid).hide();
            $("#btn_del_" + rowid).hide();
            $("#btn_save_" + rowid).show();
            $("#btn_cancel_" + rowid).show();

            $("#onEdit").val("Y");
            lastSelectRoot = rowid;
        }
        
    }


    //jqgrid中的儲存
    function TheOnSaveFunction(rowid) {
        chkData(rowid, "Edit")
        //if ($("#valueErr").val() == "Y") {
        //} else {
        //    chkData(rowid, "Edit")

        //    //DisplayEditButton(rowid);

        //}
    }


    //檢查該筆資料是否已在覆核中或已存在主檔
    function chkData(rowid, execBtn) {

        var status = "";
        var sysType = "";
        var srceFrom = "";
        var srceKind = "";
        var srcePgm = "";

        var errMsg = "";
        rowData = $("#grid").jqGrid('getRowData', rowid);
        status = rowData.status;

        if (execBtn == "Edit") {

            var rowid = $('#grid').jqGrid('getGridParam', 'selrow');
            
            sysType = $("#" + rowid + "_sysType").val();
            srceFrom = $("#" + rowid + "_srceFrom").val();
            srceKind = $("#" + rowid + "_srceKind").val();
            srcePgm = $("#" + rowid + "_srcePgm").val();

            
            if (sysType != "A" && sysType != "F")
                errMsg += "系統別-僅能輸入'A'或'F'";


            if (!checkLetter(srceFrom) && srceFrom.length == 0)
                errMsg += "　資料來源-輸入錯誤";

            if (!checkLetter(srceKind) && srceKind.length > 0)
                errMsg += "　資料類別-輸入錯誤";

            if (sysType == "A" && srceKind.length == 0)
                errMsg += "　資料類別-輸入錯誤(系統別=A時，資料類別不可為空)";

            if (sysType == "F" && srceKind.length > 0)
                errMsg += "　資料類別-輸入錯誤(系統別=F時，資料類別需為空)";

            if (!checkLetter(srcePgm) || srcePgm.length == 0)
                errMsg += "　來源程式-輸入錯誤";



            var gridData = $("#grid").jqGrid('getGridParam', 'data');

            for (i = 0, count = gridData.length; i < count; i += 1) {

                if (sysType == gridData[i].sysType
                    && srceFrom == gridData[i].srceFrom
                    && srceKind == gridData[i].srceKind
                    && srcePgm == gridData[i].srcePgm)
                    errMsg += "　資料重覆請確認";
            }



            if (errMsg != "") {
                $("#valueErr").val("Y");
                alert(errMsg);
                return;
            }
                

        } else {
            
            sysType = rowData.sysType;
            srceFrom = rowData.srceFrom;
            srceKind = rowData.srceKind;
            srcePgm = rowData.srcePgm;

        }


        
        var para = {
            'ORTB001Model': {
                'status': status,
                'sysType': sysType,
                'srceFrom': srceFrom,
                'srceKind': srceKind,
                'srcePgm': srcePgm
            }};
        

        $.ajax({
            type: "POST",
            url: '@Url.Action("chkData", "ORTB001")',
            async: false,
            cache: false,
            dataType: "json",
            data: {
                'status': status
                , 'sysType': sysType
                , 'srceFrom': srceFrom
                , 'srceKind': srceKind
                , 'srcePgm': srcePgm
            },

            success: function (json) {

                if (json.success) {
                    if (execBtn == "Edit") {
                        jQuery("#grid").saveRow(rowid, false);
                        DisplayEditButton(rowid);
                    } else {
                        rowData = $("#grid").jqGrid('getRowData', rowid);
                        if (rowData.tempId.indexOf("jqg") >= 0) {
                            $("#grid").jqGrid('delRowData', rowid);
                            jQuery("#grid").trigger("reloadGrid");
                        } else {
                            $("#grid").jqGrid("setCell", rowid, "status", "D");
                        }
                    }
                    

                } else {
                    if (execBtn == "Edit") {
                        $("#valueErr").val("Y");
                        
                        //jQuery("#grid").editRow(rowid);
                    }

                    alert(json.err);

                }
            }
        });
    }


    //jqgrid中的取消
    function TheOnCancelFunction(rowid) {
        $("#onEdit").val("");
        $("#valueErr").val("");
        lastSelectRoot = "";

        jQuery("#grid").restoreRow(rowid);


        $("#btn_save_" + rowid).css("visibility", "hidden");
        $("#btn_cancel_" + rowid).css("visibility", "hidden");

        $("#btn_edit_" + rowid).css("visibility", "visible");
        $("#btn_del_" + rowid).css("visibility", "visible");
        $("#btn_edit_" + rowid).show();
        $("#btn_del_" + rowid).show();
        $("#btn_save_" + rowid).hide();
        $("#btn_cancel_" + rowid).hide();

    }



    function DisplayEditButton(rowid) {
        if ($("#valueErr").val() == "Y") {
        } else {
            jQuery("#grid").trigger("reloadGrid");
            $("#btn_save_" + rowid).css("visibility", "hidden");
            $("#btn_cancel_" + rowid).css("visibility", "hidden");

            $("#btn_edit_" + rowid).css("visibility", "visible");
            $("#btn_del_" + rowid).css("visibility", "visible");
            $("#btn_edit_" + rowid).show();
            $("#btn_del_" + rowid).show();
            $("#btn_save_" + rowid).hide();
            $("#btn_cancel_" + rowid).hide();

            $("#onEdit").val("");
            lastSelectRoot = "";

        }
    }


    $(document).click(function (e) {
        if ($("#onEdit").val() == "Y" & e.target.id != "btnNew" & e.target.id != "btnClear") {
            if (e.target.id.indexOf(lastSelectRoot) < 0) {
                alert("畫面仍有資料在編輯中，不可執行其它功能!!");
                return
            }

        }

    });


    //取得"資料狀態"下拉選單
    function getStatus() {
        return $('#hidStatus').val();
    }

    $(function () {


        $(window).bind('resize', function () {
            var newWidth = $("#grid").closest(".ui-jqgrid").parent().width();
            jQuery("#grid").setGridWidth(newWidth, false);
        }).trigger('resize');

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else {
            $('#btnModify').attr('disabled', true);
            $('#btnNew').attr('disabled', true);

            $('#hidStatus').val('@Html.Raw(ViewBag.statusjqList)');
        }


        //*---------------清除 begin ----------------*//
        $("#btnClear").click().on('click', function () {
            $('#validationSummary').children().remove();
            $('#sysType').val("");
            $('#srceFrom').val("");
            $('#srceKind').val("");
            $('#srcePgm').val("");

            $('#sysType').attr('disabled', false);
            $('#srceFrom').attr('disabled', false);
            $('#srceKind').attr('disabled', false);
            $('#srcePgm').attr('disabled', false);

            $('#btnModify').attr('disabled', true);
            $('#btnNew').attr('disabled', true);
            $('#btnQry').attr('disabled', false);
            jQuery("#grid").jqGrid('clearGridData').trigger("reloadGrid");

            $("#onEdit").val("");
            $("#valueErr").val("");
            lastSelectRoot = "";
        });
        //*---------------清除 end ----------------*//



        //*---------------查詢 begin ----------------*//
        $("#btnQry").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }




            $('#sysType').attr('disabled', true);
            $('#srceFrom').attr('disabled', true);
            $('#srceKind').attr('disabled', true);
            $('#srcePgm').attr('disabled', true);

            $('#btnQry').attr('disabled', true);
            $('#btnNew').attr('disabled', false);
            $('#btnModify').attr('disabled', false);

            var jsonData = JSON.stringify({
                'sysType': $("#sysType").val(),
                'srceFrom': $("#srceFrom").val(),
                'srceKind': $("#srceKind").val(),
                'srcePgm': $("#srcePgm").val()
            });

            $.blockUI(); //畫面鎖起來

            $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("qryFRTBPGM", "ORTB001")',
                contentType: 'application/json',
                success: function (data) {

                    if (data.success) {
                        //更新畫面GRID
                        jQuery("#grid").jqGrid('clearGridData')
                            .jqGrid('setGridParam', { data: data.dataList })
                            .trigger("reloadGrid");


                        if(data.dataList.length == 0)
                            validationSummary.append('<li>' + '資料不存在，請進行新增維護!!"' + '</li>');


                    } else
                        validationSummary.append('<li>' + data.err + '</li>');

                    $.unblockUI(); //畫面打開
                }
            });
        });
        //*---------------查詢 end ----------------*//



        //*-------------------GRID begin--------------------*//
        $("#grid").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "tempId" },
            colModel: [
                {
                    label: "修改/刪除", name: 'Action', index: 'Action', search: false, align: 'center'
                },
                 {
                     label: 'tempId',
                     name: 'tempId', align: 'center', hidden: true,
                     editable: false,
                 },
                 {
                     label: '資料狀態',
                     name: 'status', align: 'center',
                     editable: false,
                     edittype: "select",
                     formatter: 'select',
                     editoptions: {
                         value: getStatus()
                     }
                 },
                {
                    label: '系統別',
                    name: 'sysType', align: 'center',
                    editable: true,
                    editrules: { custom: true, custom_func: chkInput },
                    editoptions: {
                        size: 1,
                        maxlength: 1,
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                this.value = this.value.toUpperCase();
                            }
                        }]
                    }

                },
                {
                    label: '資料來源',
                    name: 'srceFrom', align: 'center',
                    editable: true,
                    editrules: { custom: true, custom_func: chkInput },
                    editoptions: {
                        size: 3,
                        maxlength: 3,
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                this.value = this.value.toUpperCase();
                            }
                        }]
                    }

                },
                {
                    label: '資料類別',
                    name: 'srceKind', align: 'center',
                    editable: true,
                    editrules: { custom: true, custom_func: chkInput },
                    editoptions: {
                        size: 4,
                        maxlength: 4,
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                this.value = this.value.toUpperCase();
                            }
                        }]
                    }

                },
                {
                    label: '來源程式',
                    name: 'srcePgm', align: 'center',
                    editable: true,
                    editrules: { custom: true, custom_func: chkInput },
                    editoptions: {
                        size: 10,
                        maxlength: 10,
                        dataEvents: [{
                            type: 'change', fn: function (e) {
                                this.value = this.value.toUpperCase();
                            }
                        }]
                    }
                }
            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: false,
            forceFit: false,
            loadonce: true,
            rownumbers: true,
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 25, 50],
            pager: "#pager",
            onSelectRow: function (tempId) {



            },
            loadComplete: function () {
                if ($("#valueErr").val() == "Y") {
                } else {
                    var ids = jQuery("#grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];
                        be = "<input class=\"edit\" style='height:28px;width:50px; ' type='button' id='btn_edit_" + rowId + "' value='修改' onclick=\"TheOnEditFunction('" + rowId + "');\"  />";

                        de = "<input class=\"del\" style='height:28px;width:50px;' type='button' id='btn_del_" + rowId + "' value='刪除' onclick=\" TheOnDelFunction ('" + rowId + "');\"  />";

                        se = "<input class=\"save\" style='height:28px;width:50px; ' type='button' id='btn_save_" + rowId + "' value='儲存' onclick=\"TheOnSaveFunction('" + rowId + "');\"  />";
                        ce = "<input class=\"cancel\" style='height:28px;width:50px; visibility: hidden;' type='button' id='btn_cancel_" + rowId + "'  value='取消' onclick=\"TheOnCancelFunction('" + rowId + "');\"  />";
                        jQuery("#grid").jqGrid('setRowData', ids[i], { Action: be + de + se + ce });

                        $("#btn_save_" + rowId).hide();
                        $("#btn_cancel_" + rowId).hide();

                        if ($("#btnModify").prop('disabled')) {
                            $("#btn_edit_" + rowId).hide();
                            $("#btn_del_" + rowId).hide();
                        }

                        rowData = $("#grid").jqGrid('getRowData', ids[i]);
                        if (rowData.tempId.indexOf("jqg") < 0) {
                            $("#btn_edit_" + rowId).hide();
                        }


                    }
                }

            }
        });

        //*-------------------GRID end--------------------*//

        //欄位檢核
        function chkInput(value, colname) {

            var rowid = $('#grid').jqGrid('getGridParam', 'selrow');
            var status = $("#" + rowid + "_sysType").val();
            var sysType = $("#" + rowid + "_sysType").val();
            var srceFrom = $("#" + rowid + "_srceFrom").val();
            var srceKind = $("#" + rowid + "_srceKind").val();
            var srcePgm = $("#" + rowid + "_srcePgm").val();

            var errMsg = "";
            if (sysType != "A" && sysType != "F")
                errMsg += "系統別-僅能輸入'A'或'F'";


            if (!checkLetter(srceFrom) && srceFrom.length == 0)
                errMsg += "　資料來源-輸入錯誤";

            if (!checkLetter(srceKind) && srceKind.length > 0)
                errMsg += "　資料類別-輸入錯誤";

            if (sysType == "A" && srceKind.length == 0)
                errMsg += "　資料類別-輸入錯誤(系統別=A時，資料類別不可為空)";

            if (sysType == "F" && srceKind.length > 0)
                errMsg += "　資料類別-輸入錯誤(系統別=F時，資料類別需為空)";

            if (!checkLetter(srcePgm) || srcePgm.length == 0)
                errMsg += "　來源程式-輸入錯誤";

            if (errMsg != "") {
                $("#valueErr").val("Y");
                return [false, errMsg];
            }else {
                $("#valueErr").val("");
                return [true, ""];
            }

            
        }


        



        //*---------------修改(申請覆核) begin ----------------*//
        $("#btnModify").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }


            var bPass = true;

            if ($('#onEdit').val() == "Y") {
                bPass = false;
                validationSummary.append('<li>' + '畫面資料未存檔!!' + '</li>');
            }


            if (bPass == false)
                return;


            //var gridData = $("#grid").jqGrid('getRowData');
            var gridData = $("#grid").jqGrid('getGridParam', 'data');

            var jsonData = JSON.stringify({
                'sysType': $("#sysType").val(),
                'srceFrom': $("#srceFrom").val(),
                'srceKind': $("#srceKind").val(),
                'srcePgm': $("#srcePgm").val(),
                'gridData': gridData
            });


            $.blockUI();


            $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("execSave", "ORTB001")',
                contentType: 'application/json',
                success: function (data) {


                    if (data.success) {
                        $("#btnModify").attr('disabled', true);
                        $("#btnNew").attr('disabled', true);
                        validationSummary.append('<li>' + '申請覆核成功!!' + '</li>');
                        if(data.err.length > 0)
                            validationSummary.append('<li>' + '以下資料覆核中，不可修改/刪除此筆資料：' + data.err + '</li>');

                        var ids = jQuery("#grid").jqGrid('getDataIDs');
                        for (var i = 0; i < ids.length; i++) {
                            var rowId = ids[i];

                            $("#btn_edit_" + rowId).hide();
                            $("#btn_del_" + rowId).hide();
                            $("#btn_save_" + rowId).hide();
                            $("#btn_cancel_" + rowId).hide();

                        }

                    } else {
                        validationSummary.append('<li>' + data.err + '</li>');
                    }

                    $.unblockUI();
                }
            });

           

        });
        //*---------------修改(申請覆核) end ----------------*//

    });
</script>


