


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(測試環境)@ViewBag.Title - 財會管理系統</title>

    @*@Html.Analytics(AppConfig.GoogleAnalyticsNum())*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryjqgrid")
    @Scripts.Render("~/bundles/sso")


</head>



<body>

    <div class="container margin-top-2" style="margin-left: 20px;margin-right: 10px;" >

          

            @RenderBody()



        </div>

    
    @Scripts.Render("~/bundles/locales")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @*<script>
        $(function () {
            if ($('.menu-list') != null) {
                $('ul.main-menu li a').each(function () {
                    if ($($(this))[0].href == String(window.location))
                        $(this).parent().addClass('active');
                });
            }
            
        })


    </script>*@

</body>
</html>


