@model FGL.Web.ViewModels.OGL00002Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName + "歷史紀錄查詢";

    var opScope = ViewBag.opScope;


    var apprStatList = ViewBag.apprStatList as SelectList;
}




<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>


            @if (opScope != "" && opScope != "0")
            {
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.tranA)：@Html.TextBoxFor(model => model.tranA, new { @size = "3", @maxlength = "2", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranB)：@Html.TextBoxFor(model => model.tranB, new { @size = "2", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranC)：@Html.TextBoxFor(model => model.tranC, new { @size = "2", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranD)：@Html.TextBoxFor(model => model.tranD, new { @size = "3", @maxlength = "2", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>

                    <tr>

                        <td>
                            @Html.DisplayNameFor(model => model.tranE)：@Html.TextBoxFor(model => model.tranE, new { @size = "2", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranF)：@Html.TextBoxFor(model => model.tranF, new { @size = "3", @maxlength = "2", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranG)：@Html.TextBoxFor(model => model.tranG, new { @size = "3", @maxlength = "2", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranH)：@Html.TextBoxFor(model => model.tranH, new { @size = "4", @maxlength = "3", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            @Html.DisplayNameFor(model => model.tranI)：@Html.TextBoxFor(model => model.tranI, new { @size = "5", @maxlength = "4", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranJ)：@Html.TextBoxFor(model => model.tranJ, new { @size = "2", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.tranK)：@Html.TextBoxFor(model => model.tranK, new { @size = "2", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>

                    <tr>

                        <td colspan="2">
                            覆核日期：
                            <input id="apprDateB" name="apprDateB" type="text">
                            ~
                            <input id="apprDateE" name="apprDateE" type="text">
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.apprStat)：@Html.DropDownList("apprStat", apprStatList, "請選擇")
                        </td>
                    </tr>
                </table>

                <table style="text-align:center">
                    <tr>
                        <td colspan="27" style="text-align:left">
                            保險商品編號：
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.p01, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p02, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p03, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p04, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p05, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p06, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p07, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p08, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p09, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p10, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p11, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p12, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p13, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p14, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p15, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p16, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p17, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p18, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p19, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p20, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p21, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p22, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p23, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p24, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p25, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p26, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                        <td>@Html.TextBoxFor(model => model.p27, new { @size = "1", @maxlength = "1", @onkeyup = "this.value = this.value.toUpperCase();" })</td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
                        <input type="submit" id="btnClear" name="btnClear" value="清空" class="btn btn-primary" />
                        <input type="button" id="btnReturn" name="btnReturn" value="返回" class="btn btn-primary" />
                    </div>
                </div>
                <br>

                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>





<script type="text/javascript">




    $(function () {

        $(window).bind('resize', function () {
            var newWidth = $("#grid").closest(".ui-jqgrid").parent().width();
            jQuery("#grid").setGridWidth(newWidth, false);
        }).trigger('resize');


        $('#apprDateB').datepicker({
            dateFormat: 'yyyy-mm-dd'
        });

        $('#apprDateE').datepicker({
            dateFormat: 'yyyy-mm-dd'
        });

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        }

        //*---------------清除 begin ----------------*//
        $("#btnClear").click().on('click', function () {
            $('#validationSummary').children().remove();

            $('#tranA').val("");
            $('#tranB').val("");
            $('#tranC').val("");
            $('#tranD').val("");
            $('#tranE').val("");
            $('#tranF').val("");
            $('#tranG').val("");
            $('#tranH').val("");
            $('#tranI').val("");
            $('#tranJ').val("");
            $('#tranK').val("");

            $('#apprStat').val("");

            $('#apprDateB').val("");
            $('#apprDateE').val("");


            $('#p01').val("");
            $('#p02').val("");
            $('#p03').val("");
            $('#p04').val("");
            $('#p05').val("");
            $('#p06').val("");
            $('#p07').val("");
            $('#p08').val("");
            $('#p09').val("");
            $('#p10').val("");
            $('#p11').val("");
            $('#p12').val("");
            $('#p13').val("");
            $('#p14').val("");
            $('#p15').val("");
            $('#p16').val("");
            $('#p17').val("");
            $('#p18').val("");
            $('#p19').val("");
            $('#p20').val("");
            $('#p21').val("");
            $('#p22').val("");
            $('#p23').val("");
            $('#p24').val("");
            $('#p25').val("");
            $('#p26').val("");
            $('#p27').val("");



            jQuery("#grid").jqGrid('clearGridData').trigger("reloadGrid");
        });
        //*---------------清除 end ----------------*//


        /*------------------查詢 begin---------------------*/

        $("#btnQry").click().on('click', function () {
            createGrid();
        });


        function createGrid() {
            $('#validationSummary').children().remove();
            var validationSummary = $('#validationSummary ul.validation-summary-errors');
            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }

            $('#qryResult').children().remove();

            $('#qryResult').append('<table id="' + "grid" + '"></table>');
            $('#qryResult').append('<div id="' + "pager" + '"></div>');


            var bPass = true;


            //覆核日期期檢核
            if (!checkDate($("#apprDateB").val(), false)) {
                validationSummary.append('<li>覆核日期起-格式錯誤!!</li>');
                bPass = false;
            }

            if (!checkDate($("#apprDateE").val(), false)) {
                validationSummary.append('<li>覆核日期訖-格式錯誤!!</li>');
                bPass = false;
            }

            if ($("#apprDateB").val().length > 0 & $("#apprDateE").val().length > 0 & ($("#apprDateE").val() < $("#apprDateB").val())) {
                validationSummary.append('<li>覆核日期訖 不可小於 覆核日期訖 !!</li>');
                bPass = false;
            }

            if (!bPass)
                return;


            var para = {
                model: {
                    'tranA': $('#tranA').val(),
                    'tranB': $('#tranB').val(),
                    'tranC': $('#tranC').val(),
                    'tranD': $('#tranD').val(),
                    'tranE': $('#tranE').val(),
                    'tranF': $('#tranF').val(),
                    'tranG': $('#tranG').val(),
                    'tranH': $('#tranH').val(),
                    'tranI': $('#tranI').val(),
                    'tranJ': $('#tranJ').val(),
                    'tranK': $('#tranK').val(),

                    'p01': $('#p01').val(),
                    'p02': $('#p02').val(),
                    'p03': $('#p03').val(),
                    'p04': $('#p04').val(),
                    'p05': $('#p05').val(),
                    'p06': $('#p06').val(),
                    'p07': $('#p07').val(),
                    'p08': $('#p08').val(),
                    'p09': $('#p09').val(),
                    'p10': $('#p10').val(),
                    'p11': $('#p11').val(),
                    'p12': $('#p12').val(),
                    'p13': $('#p13').val(),
                    'p14': $('#p14').val(),
                    'p15': $('#p15').val(),
                    'p16': $('#p16').val(),
                    'p17': $('#p17').val(),
                    'p18': $('#p18').val(),
                    'p19': $('#p19').val(),
                    'p20': $('#p20').val(),
                    'p21': $('#p21').val(),
                    'p22': $('#p22').val(),
                    'p23': $('#p23').val(),
                    'p24': $('#p24').val(),
                    'p25': $('#p25').val(),
                    'p26': $('#p26').val(),
                    'p27': $('#p27').val()

                }
             , apprDateB: $("#apprDateB").val()
             , apprDateE: $("#apprDateE").val()
             , apprStat: $("#apprStat").val()
            };

            $.blockUI(); //畫面鎖起來

            $("#grid").jqGrid({
                url: '/OGL00002/qryApprHis/',
                postData: para,
                datatype: 'json',
                jsonReader: {
                    repeatitems: false//, id: 'cFunctionID'
                },
                mtype: 'POST',
                colModel: [
                    {
                        label: '覆核單號',
                        name: 'aplyNo', align: 'center', width: 120,
                        editable: false
                    },
                {
                    label: '覆核結果',
                    name: 'apprStat', align: 'center', width: 80,
                    editable: false
                },
                {
                    label: '執行功能',
                    name: 'execActionDesc', align: 'center', width: 80,
                    editable: false

                },
                 { label: '1', name: 'p01', align: 'center', editable: false, width: 35 },
                 { label: '2', name: 'p02', align: 'center', editable: false, width: 35 },
                 { label: '3', name: 'p03', align: 'center', editable: false, width: 35 },
                 { label: '4', name: 'p04', align: 'center', editable: false, width: 35 },
                 { label: '5', name: 'p05', align: 'center', editable: false, width: 35 },
                 { label: '6', name: 'p06', align: 'center', editable: false, width: 35 },
                 { label: '7', name: 'p07', align: 'center', editable: false, width: 35 },
                 { label: '8', name: 'p08', align: 'center', editable: false, width: 35 },
                 { label: '9', name: 'p09', align: 'center', editable: false, width: 35 },
                 { label: '10', name: 'p10', align: 'center', editable: false, width: 35 },
                 { label: '11', name: 'p11', align: 'center', editable: false, width: 35 },
                 { label: '12', name: 'p12', align: 'center', editable: false, width: 35 },
                 { label: '13', name: 'p13', align: 'center', editable: false, width: 35 },
                 { label: '14', name: 'p14', align: 'center', editable: false, width: 35 },
                 { label: '15', name: 'p15', align: 'center', editable: false, width: 35 },
                 { label: '16', name: 'p16', align: 'center', editable: false, width: 35 },
                 { label: '17', name: 'p17', align: 'center', editable: false, width: 35 },
                 { label: '18', name: 'p18', align: 'center', editable: false, width: 35 },
                 { label: '19', name: 'p19', align: 'center', editable: false, width: 35 },
                 { label: '20', name: 'p20', align: 'center', editable: false, width: 35 },
                 { label: '21', name: 'p21', align: 'center', editable: false, width: 35 },
                 { label: '22', name: 'p22', align: 'center', editable: false, width: 35 },
                 { label: '23', name: 'p23', align: 'center', editable: false, width: 35 },
                 { label: '24', name: 'p24', align: 'center', editable: false, width: 35 },
                 { label: '25', name: 'p25', align: 'center', editable: false, width: 35 },
                 { label: '26', name: 'p26', align: 'center', editable: false, width: 35 },
                 { label: '27', name: 'p27', align: 'center', editable: false, width: 35 },

                 { label: 'A', name: 'tranA', align: 'center', editable: false, width: 35 },
                 { label: 'B', name: 'tranB', align: 'center', editable: false, width: 35 },
                 { label: 'C', name: 'tranC', align: 'center', editable: false, width: 35 },
                 { label: 'D', name: 'tranD', align: 'center', editable: false, width: 35 },
                 { label: 'E', name: 'tranE', align: 'center', editable: false, width: 35 },
                 { label: 'F', name: 'tranF', align: 'center', editable: false, width: 35 },
                 { label: 'G', name: 'tranG', align: 'center', editable: false, width: 35 },
                 { label: 'H', name: 'tranH', align: 'center', editable: false, width: 40 },
                 { label: 'I', name: 'tranI', align: 'center', editable: false, width: 45 },
                 { label: 'J', name: 'tranJ', align: 'center', editable: false, width: 35 },
                 { label: 'K', name: 'tranK', align: 'center', editable: false, width: 35 },
                { label: "異動人員", name: 'updateId', align: 'center', editable: false, width: 80 },
                 { label: "異動時間", name: 'updateDatetime', align: 'center', editable: false, width: 160 },

            { label: "覆核人員", name: 'apprId', align: 'center', editable: false, width: 80 },
                 { label: "覆核時間", name: 'apprDt', align: 'center', editable: false, width: 160 }
                ],
                autowidth: true,
                shrinkToFit: false,
                forceFit: true,
                pager: '#pager',
                width: 'auto',
                height: 'auto',
                resizeStop: function () {
                    resizeColumnHeader.call(this);
                    fixPositionsOfFrozenDivs.call(this);
                    fixGboxHeight.call(this);
                },
                rowNum: 20,
                rowList: [20, 50],
                viewrecords: true,
                loadonce: true,
                loadComplete: function () {
                    $("#grid").closest("div.ui-jqgrid-view").children("div.ui-jqgrid-titlebar").css("text-align", "center").children("span.ui-jqgrid-title").css("float", "none");
                    $("#grid").closest("div.ui-jqgrid-view").children("div.ui-jqgrid-titlebar").children("span.ui-jqgrid-title").css("font-size", "16px");

                    var cnt = $('#grid').getGridParam('records')
                    if (cnt == 0) {
                        validationSummary.append('<li>' + '查無資料!!"' + '</li>');
                    } else {
                        var ids = jQuery("#grid").jqGrid('getDataIDs');

                        //for (var i = 0; i < ids.length; i++) {
                        //    var rowId = ids[i];

                        //    if (i % 4 == 2 || i % 4 == 3)
                        //        $("#grid").jqGrid('setRowData', rowId, false, { weightfont: 'bold', background: 'lightgoldenrodyellow' });
                        //}

                    }



                    $.unblockUI(); //畫面打開
                }

            });

            /*------------------查詢 end---------------------*/
            jQuery("#grid").jqGrid('setGroupHeaders', {
                useColSpanStyle: true,
                groupHeaders: [
                    { startColumnName: 'p01', numberOfColumns: 27, titleText: '保險商品編號(欄位空白表示不檢核轉換)' }
                    , { startColumnName: 'tranA', numberOfColumns: 11, titleText: '對照欄位' }
                    //, { startColumnName: 'updateId', numberOfColumns: 1, titleText: '覆核人員' }
                    //, { startColumnName: 'updateDatetime', numberOfColumns: 1, titleText: '覆核日期' }
                    //, { startColumnName: 'updateDatetime', numberOfColumns: 1, titleText: '覆核日期' }
                ]

            });
        }
        //function arrtRowspan(rowId, cellValue, rawObject, cm, rdata) {
        //    return ' rowspan=' + '"2"';

        //}


        //回上一頁
        $("#btnReturn").click().on('click', function () {
            //$("#iframe").load("/GL/FGL10181A/index");
            history.go(-1)
        })
    });
</script>


