<!DOCTYPE html>
@using Treasury.Web.Enum;
@using Treasury.WebUtility;
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 金庫管理系統</title>

    @*@Html.Analytics(AppConfig.GoogleAnalyticsNum())*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryjqgrid")
    @Scripts.Render("~/bundles/locales")
    @Scripts.Render("~/bundles/treasury")   
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        baseUrl = '@Url.Content("~/")';

        //Cross Frame Scripting
        if (top != self) {
            top.location = self.location;
        }
    </script>
</head>



<body>

    <div class="container margin-top-5" >
            @{ Html.RenderAction("MenuByUser", "Navigation", null); }
            @RenderBody()
            @*<hr class="colorgraph" />*@
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year -金庫管理系統</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/Customer")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            if ($('.menu-list') != null) {
                $('ul.main-menu li a').each(function () {
                    if ($($(this))[0].href == String(window.location))
                        $(this).parent().addClass('active');
                });
            }
            customerUtility.reportSendUrl = '@Url.Action("SendReport", "Common")';
            customerUtility.reportUrl = '@Url.HttpRouteUrl("Report", new { aspx = "ReportViewer"})';
            customerUtility.reportCommonUrl = '@Url.Action("GetReport","Common")';
        })

        //#region 申請項目設定檔案
        function GetItemDataByDefault(item) {

            var TAurl = {};
            TAurl.openBILL = '@Url.Action("View", "Bill")';
            TAurl.openESTATE = '@Url.Action("View", "Estate")';
            TAurl.openSEAL = '@Url.Action("View", "Seal")';
            TAurl.openSTOCK = '@Url.Action("View", "Stock")';
            TAurl.openCA = '@Url.Action("View","CA")';
            TAurl.openMARGING = '@Url.Action("View", "Marging")';
            TAurl.openMARGINP = '@Url.Action("View", "Marginp")';
            TAurl.openDEPOSIT = '@Url.Action("View", "Deposit")';
            TAurl.openItemImp = '@Url.Action("View", "ItemImp")';

            item = item || '';
            var _reportTitle = '金庫物品存取申請單';
            var obj = {};
            obj.url = null; //開啟金庫物品的頁面 url
            obj.title = null; //開啟金庫物品的頁面 Title
            obj.openDialogWidth = 860; //開啟金庫物品的頁面 寬度
            obj.reportTitle = _reportTitle; //報表Title
            obj.reportType = null; //報表類型

            switch (item) {
                case '@Ref.TreaItemType.D1012.ToString()':
                    obj.url = TAurl.openBILL;
                    obj.title = '@Ref.TreaItemType.D1012.GetDescription()';
                    obj.reportType = 'BILL';
                    break;
                case '@Ref.TreaItemType.D1014.ToString()':
                    obj.url = TAurl.openESTATE;
                    obj.title = '@Ref.TreaItemType.D1014.GetDescription()';
                    obj.reportType = 'ESTATE';
                    break;
                case '@Ref.TreaItemType.D1008.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1008.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1009.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1009.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1010.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1010.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1011.ToString()':
                    obj.url = TAurl.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1011.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1015.ToString()':
                    obj.url = TAurl.openSTOCK;
                    obj.title = '@Ref.TreaItemType.D1015.GetDescription()';
                    obj.openDialogWidth = 1200;
                    obj.reportType = 'STOCK';
                    break;
                case '@Ref.TreaItemType.D1024.ToString()':
                    obj.url = TAurl.openCA;
                    obj.title = '@Ref.TreaItemType.D1024.GetDescription()';
                    obj.reportType = 'CA';
                    break;
                case '@Ref.TreaItemType.D1017.ToString()':
                    obj.url = TAurl.openMARGINP;
                    obj.title = '@Ref.TreaItemType.D1017.GetDescription()';
                    obj.openDialogWidth = 1325;
                    obj.reportType = 'MARGINP';
                    break;
                case '@Ref.TreaItemType.D1016.ToString()':
                    obj.url = TAurl.openMARGING;
                    obj.title = '@Ref.TreaItemType.D1016.GetDescription()';
                    obj.openDialogWidth = 900;
                    obj.reportType = 'MARGING';
                    break;
                case '@Ref.TreaItemType.D1018.ToString()':
                    obj.url = TAurl.openItemImp;
                    obj.title = '@Ref.TreaItemType.D1018.GetDescription()';
                    obj.openDialogWidth = 1040;
                    obj.reportType = 'ITEMIMP';
                    break;
                case '@Ref.TreaItemType.D1013.ToString()':
                    obj.url = TAurl.openDEPOSIT;
                    obj.title = '@Ref.TreaItemType.D1013.GetDescription()';
                    obj.openDialogWidth = 1325;
                    obj.reportType = 'DEPOSIT';
                    break;
            }
            return obj;
        }
        //#endregion
    </script>

</body>
</html>


