<div>
    <form id="IM_Form_Search_ChangeRecord">
        <table>
            <tr>
                <td  align="right">
                    <label>資料庫名稱 :&ensp;</label>
                </td>
                <td>
                    @Html.DropDownList("dTREA_ITEM_NAME_CR", (SelectList)ViewBag.dTREA_ITEM_CR, new { @class = "IM_InsertType" })
                </td>
                <td align="right">
                    <label>權責部門 :&ensp;</label>
                </td>
                <td>
                    @Html.DropDownList("dCHARGE_DEPT_CR", (SelectList)ViewBag.dCHARGE_DEPT_CR, new { @class = "IM_InsertType" })
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label>權責科別 :&ensp;</label>
                </td>
                <td>
                    <select id="dCHARGE_SECT_CR"></select>
                </td>
                <td align="right">
                    <label>經辦 :&ensp;</label>
                </td>
                <td>
                    <select id="dCHARGE_UID_CR"></select>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label>覆核狀態 :&ensp;</label>
                </td>
                <td>
                    @Html.DropDownList("dAppr_Status", (SelectList)ViewBag.dAppr_Status)
                </td>
                <td align="right">
                    <label>工作單號 :&ensp;</label>
                </td>
                <td>
                    <input type="text" id="tAply_No" name="tAply_No" />
                </td>
                <td>
                    <label>異動人員(5碼ID) :&ensp;</label>
                </td>
                <td>
                    <input type="text" id="tLast_Update_Uid" name="tLast_Update_Uid" />
                </td>
            </tr>
            <tr>
                <td colspan="6" align="center">
                    <input type="button" class="btn btn-primary" id="IM_ChangeRecordSearch" value="查詢" />
                </td>
            </tr>
        </table>
    </form>
    <div id="OpenChangeRecordSearchDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="OpenChangeRecordSearchDetail"></div>
    </div>
</div>

<script>
    $(function () {
        //#region url設定
        var IM_Url = {};
        IM_Url.Change = '@Url.Action("Change", "ItemChargeUnit")';
        IM_Url.openChangeRecordView = '@Url.Action("ChangeRecordView", "ItemChargeUnit")';
        //#endregion url設定
        //#region 參數設定
        var ITEM_NAME_CR_ID = 'dTREA_ITEM_NAME_CR';
        var CHARGE_DEPT_CR_ID = 'dCHARGE_DEPT_CR';
        var CHARGE_SECT_CR_ID = 'dCHARGE_SECT_CR';
        var CHARGE_UID_CR_ID = 'dCHARGE_UID_CR';

        var IM_Appr_Status = 'dAppr_Status'; //覆核狀態Id
        var IM_Aply_No = 'tAply_No'; //工作單號
        var IM_Last_Update_Uid = 'tLast_Update_Uid'; //異動人員Id

        var openChangeRecordSearchDetailId = 'OpenChangeRecordSearchDetail';
        //#endregion 參數設定
        //#region 註冊事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'IM_ChangeRecordSearch':
                    $('#' + id).on('click', function () { IM_ChangeRecordSearch(); });
                    break;
            }
        });
        $('#' + CHARGE_DEPT_CR_ID).change(function () {
            var _Dept = $('#' + CHARGE_DEPT_CR_ID).val();
            listChange_RC(_Dept, null);
        });
        $('#' + CHARGE_SECT_CR_ID).change(function () {
            var _Dept = $('#' + CHARGE_DEPT_CR_ID).val();
            var _Sect = $('#' + CHARGE_SECT_CR_ID).val();
            listChange_RC(_Dept, _Sect);
        });
        //#endregion 註冊事件
        //#region 初始動作
        $('#' + CHARGE_DEPT_CR_ID).trigger("change");
        //#endregion
        //#region SelectedChange
        function listChange_RC(_Dept, _Sect) {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    Charge_Dept: _Dept,
                    Charge_Sect: _Sect,
                }),
                url: IM_Url.Change,
                contentType: 'application/json'
            }).done(function (result) {
                $('#' + CHARGE_SECT_CR_ID).find('option').remove();
                $('#' + CHARGE_UID_CR_ID).find('option').remove();
                customerUtility.addoption('dCHARGE_SECT_CR', result.Item1);
                customerUtility.addoption('dCHARGE_UID_CR', result.Item2);

                if (_Sect != null)
                    $('#' + CHARGE_SECT_CR_ID).val(_Sect);
                else
                    $('#' + CHARGE_SECT_CR_ID).val($($('#' + CHARGE_SECT_CR_ID + ' option')[0]).val());
            });
        }
        //#endregion
        function IM_ChangeRecordSearch() {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    AplyNo: null,
                    data: TreasuryInOutChangeRecordSearchViewModel(
                        $('#' + ITEM_NAME_CR_ID).val(),
                        $('#' + CHARGE_DEPT_CR_ID).val(),
                        $('#' + CHARGE_SECT_CR_ID).val(),
                        $('#' + CHARGE_UID_CR_ID).val(),
                        $('#' + IM_Aply_No).val(),
                        $('#' + IM_Appr_Status).val(),
                        $('#' + IM_Last_Update_Uid).val()
                        )
                }),
                dataType: 'html',
                url: IM_Url.openChangeRecordView,
                contentType: 'application/json',
                success: function (vdata, textStatus, jqXHR) {
                    $('#' + openChangeRecordSearchDetailId).children().remove();
                    $('#' + openChangeRecordSearchDetailId).html(vdata);
                    openDialog('保管資料發送異動紀錄', 1300, 'OpenChangeRecordSearchDialog');
                }
            });
        }

        function openDialog(title, width, dialogId) {
            title = title || '';
            width = width || 'auto';
            title += '查詢結果';
            var dialogId = dialogId;
            $('#' + dialogId).dialog({
                position: { my: "top", at: "center top", of: window },
                title: title,
                width: width,
                autoOpen: false,
                resizable: false,
                maxHeight: 600,
                closeText: '取消',
                close: function () {
                }
            });
            $('#' + dialogId).dialog('open');
        }
        //#region 異動紀錄查詢畫面  ViewModel
        function TreasuryInOutChangeRecordSearchViewModel(
            vTREA_ITEM_NAME,
            vCHARGE_DEPT,
            vCHARGE_SECT,
            vCHARGE_UID,
            vAply_No,
            vAppr_Status,
            vLast_Update_Uid
            ) {
            var obj = {};
            obj['vTREA_ITEM_NAME'] = vTREA_ITEM_NAME;
            obj['vCHARGE_DEPT'] = vCHARGE_DEPT;
            obj['vCHARGE_SECT'] = vCHARGE_SECT;
            obj['vCHARGE_UID'] = vCHARGE_UID;
            obj['vAply_No'] = vAply_No;
            obj['vAppr_Status'] = vAppr_Status;
            obj['vLast_Update_Uid'] = vLast_Update_Uid;
            return obj;
        }
        //#endregion
    });
</script>
