@{
    ViewBag.Title = "金庫進出管理作業-金庫設備維護作業";
    var opScope = ViewBag.opScope;
}
@using Treasury.Web.Enum;
@using Treasury.WebUtility;
<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <form id="TM_Form_Search">
                    <table>
                        <tr>
                            <td>
                                <label>控管模式 : </label>
                                @Html.DropDownList("dControl_Mode_Search", (SelectList)ViewBag.dControl_Mode_Search)
                            </td>
                            <td>
                                <label>停用註記 : </label>
                                @Html.DropDownList("dIs_Disabled_Search", (SelectList)ViewBag.dIs_Disabled_Search)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="button" class="btn btn-primary" id="TM_Search" value="查詢" />
                                <input type="button" class="btn btn-primary" id="TM_ChangeRecord_Search" value="開啟異動紀錄查詢" />
                            </td>
                        </tr>
                    </table>
                </form>
                <div id="OpenSearchDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
                    <div id="OpenSearchDetail"></div>
                </div>
            }
        </div>
    </div>
    <div id="TM_SearchDetail" style="display:none" role="dialog" class="myDialog">
        <div style="padding-bottom:5px;">
            <input type="button" id="TM_Insert" value="新增設備名稱" class="btn btn-primary" />
        </div>
        <div id="TM_jqgridDiv" class="jqd" style="padding-bottom:5px;"></div>
        <div style="text-align:center;" class="TM_Act">
            <input type="button" id="TM_Apply" value="申請覆核" class="btn btn-primary" />
            <input type="button" id="TM_Cancel" value="取消申請" class="btn btn-primary" />
            <input type="button" id="TM_Back" value="回上一頁" class="btn btn-primary" />
        </div>
    </div>
    <div id="TM_Dialog" style="display:none;">
        <form id="TM_DialogForm">
            <table>
                <tr>
                    <td>
                        <label>設備名稱 : </label>
                    </td>
                    <td>
                        <input type="text" class="TM_InsertType" id="tEquip_Name" name="tEquip_Name" />
                        <input type="hidden" id="hTrea_Equip_Id" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>控管模式 : </label>
                    </td>
                    <td>
                        @Html.DropDownList("dControl_Mode", (SelectList)ViewBag.dControl_Mode, new { @class = "TM_InsertType" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>常用數量 : </label>
                    </td>
                    <td>
                        <input type="text" class="TM_InsertType" id="tNormal_Cnt" name="tNormal_Cnt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>備份數量 : </label>
                    </td>
                    <td>
                        <input type="text" class="TM_InsertType" id="tReserve_Cnt" name="tReserve_Cnt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>總數量 : </label>
                    </td>
                    <td>
                        <label id="lSum_Cnt" name="lSum_Cnt"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>備註 : </label>
                    </td>
                    <td>
                        <input type="text" class="TM_InsertType" id="tMemo" name="tMemo" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>停用註記 : </label>
                    </td>
                    <td>
                        @Html.DropDownList("dIs_Disabled", (SelectList)ViewBag.dIs_Disabled, new { @class = "TM_InsertType" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="TM_InsertTemp" value="新增" class="btn btn-primary" />
                        <input type="button" id="TM_UpdateTemp" value="修改" class="btn btn-primary" />
                        <input type="button" id="TM_DeleteTemp" value="刪除" class="btn btn-primary" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" id="TM_CancelTemp" value="取消" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="OpenChangeRecordDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="OpenChangeRecordDetail"></div>
    </div>
</div>

<script>
    $(function () {
        //#region url設定
        var TM_Url = {};
        TM_Url.search = '@Url.Action("SearchData", "TreasuryMaintain")';
        TM_Url.getData = '@Url.Action("GetCacheData", "TreasuryMaintain")';
        TM_Url.InsertTempData = '@Url.Action("InsertTempData", "TreasuryMaintain")';
        TM_Url.UpdateTempData = '@Url.Action("UpdateTempData", "TreasuryMaintain")';
        TM_Url.DeleteTempData = '@Url.Action("DeleteTempData", "TreasuryMaintain")';
        TM_Url.ResetTempData = '@Url.Action("ResetTempData", "TreasuryMaintain")';
        TM_Url.ApplyTempData = '@Url.Action("ApplyTempData", "TreasuryMaintain")';
        TM_Url.Check_Equip_Name = '@Url.Action("Check_Equip_Name", "TreasuryMaintain")';
        TM_Url.openChangeRecord = '@Url.Action("ChangeRecord", "TreasuryMaintain")';
        TM_Url.openChangeRecordView = '@Url.Action("ChangeRecordView", "TreasuryMaintain")';
        //#endregion url設定

        //#region 參數設定
        var TM_Form_Search_Id = 'TM_Form_Search'; //formId
        var TM_Control_Mode_Search = 'dControl_Mode_Search'; //控管模式Id
        var TM_Is_Disabled_Search = 'dIs_Disabled_Search'; //停用註記Id

        var TM_FormId = 'TM_DialogForm'; //formId
        var TM_Trea_Equip_Id = 'hTrea_Equip_Id'; //金庫設備編號Id
        var TM_Equip_Name = 'tEquip_Name'; //設備名稱Id
        var TM_Control_Mode = 'dControl_Mode'; //控管模式Id
        var TM_Is_Disabled = 'dIs_Disabled'; //停用註記Id
        var TM_Normal_Cnt = 'tNormal_Cnt'; //常用數量Id
        var TM_Reserve_Cnt = 'tReserve_Cnt'; //備份數量Id
        var TM_Sum_Cnt = 'lSum_Cnt'; //總數量Id
        var TM_Memo = 'tMemo'; //備註Id

        var TM_ConfirmFlag = false; //離開時提醒訊息

        var openSearchDetailId = 'OpenSearchDetail';
        var openChangeRecordDetailId = 'OpenChangeRecordDetail';
        //#endregion 參數設定

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        }
        else {
            //#region 初始動作
            setTM_Verified();
            //#endregion 初始動作

            //#region 註冊verified
            function setTM_Verified() {
                verified.required(TM_FormId, TM_Equip_Name, message.required('設備名稱')); //設備名稱為必填
                verified.required(TM_FormId, TM_Normal_Cnt, message.required('常用數量')); //常用數量為必填
                verified.required(TM_FormId, TM_Reserve_Cnt, message.required('備份數量')); //備份數量為必填

                verified.positiveInt(TM_FormId, TM_Normal_Cnt); //常用數量 僅能輸入數字(正)
                verified.positiveInt(TM_FormId, TM_Reserve_Cnt); //備份數量 僅能輸入數字(正)
            }
            //#endregion 註冊verified

            //#region 註冊事件
            //按鈕
            $('input:button').each(function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'TM_Search':
                        $('#' + id).on('click', function () { TM_Search(); });
                        break;
                    case 'TM_ChangeRecord_Search':
                        $('#' + id).on('click', function () { TM_ChangeRecord_Search(); });
                        break;
                    case 'TM_Insert':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { TM_InsertFun(); });
                        break;
                    case 'TM_Apply':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { TM_ApplyFun(); });
                        break;
                    case 'TM_Cancel':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () {
                            if (TM_ConfirmFlag && !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                                return false;
                            }
                            TM_CancelFun();
                        });
                        break;
                    case 'TM_Back':
                    case 'TM_CancelTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click',
                            function () {
                                if (id == 'TM_Back' &&
                                    TM_ConfirmFlag &&
                                    !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                                    return false;
                                }
                                customerUtility.closeDialog(this);
                            });
                        break;
                    case 'TM_InsertTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { TM_InsertTempFun(); });
                        break;
                    case 'TM_UpdateTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { TM_UpdateTempFun(); });
                        break;
                    case 'TM_DeleteTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { TM_DeleteTempFun(); });
                        break;
                }
            });

            //常用數量或備份數量輸入完畢
            $('#' + TM_Normal_Cnt + ',#' + TM_Reserve_Cnt).off('blur', function () { });
            $('#' + TM_Normal_Cnt + ',#' + TM_Reserve_Cnt).on('blur', function () {
                setSum_Cnt();
            });
            //#endregion 註冊事件

            //#region dialog
            function dialogOpen(type, rowid) {
                $('#' + TM_FormId).validate().resetForm();
                var dialogId = 'TM_Dialog';
                var listId = 'TM_TempList';
                var TM_InsertClass = 'TM_InsertType';
                var title = customerUtility.getDialogType(type);;
                $('#' + dialogId).dialog({
                    position: { my: "top+30%", at: "center top", of: window },
                    title: title + '金庫設備',
                    width: 'auto',
                    autoOpen: false,
                    resizable: false,
                    closeText: '取消',
                    close: function (event, ui) {
                        customerUtility.closeDialog(this);
                    }
                });
                $('#TM_InsertTemp,#TM_UpdateTemp,#TM_DeleteTemp').hide();
                if (type == '@Ref.ActionType.Add.ToString()') {
                    ResetInsertDialog();
                    $('#TM_InsertTemp').show();
                    $('#' + TM_Normal_Cnt).val('1');
                    $('#' + TM_Reserve_Cnt).val('0');
                    $('.' + TM_InsertClass).prop('disabled', false);
                }
                else if (type == '@Ref.ActionType.Dele.ToString()') {
                    dialogSetData(listId, rowid);
                    $('#TM_DeleteTemp').show();
                    $('.' + TM_InsertClass).prop('disabled', true);
                }
                else if (type == '@Ref.ActionType.Edit.ToString()') {
                    dialogSetData(listId, rowid);
                    $('#TM_UpdateTemp').show();
                    $('.' + TM_InsertClass).prop('disabled', false);
                }
                else if (type == '@Ref.ActionType.View.ToString()') {
                    dialogSetData(listId, rowid);
                    $('.' + TM_InsertClass).prop('disabled', true);
                }
                $('#' + dialogId).dialog('open');
            }

            function ResetInsertDialog() {
                if ($('#' + TM_Control_Mode + ' option').length > 0) {
                    $('#' + TM_Control_Mode).val($($('#' + TM_Control_Mode + ' option')[0]).val())
                }
                $('#' + TM_Trea_Equip_Id).val('');
                $('#' + TM_Equip_Name).val('');
                $('#' + TM_Normal_Cnt).val('');
                $('#' + TM_Reserve_Cnt).val('');
                $('#' + TM_Sum_Cnt).html('');
                $('#' + TM_Memo).val('');
            }

            function dialogSetData(listId, rowid) {
                listId = listId || '';
                rowid = rowid || 0;
                ResetInsertDialog();
                if (rowid > 0) {
                    var data = $("#" + listId).getRowData(rowid);
                    //set value
                    $('#' + TM_Trea_Equip_Id).val(data.vTrea_Equip_Id);
                    $('#' + TM_Equip_Name).val(data.vEquip_Name);
                    $('#' + TM_Control_Mode).val(data.vControl_Mode);
                    $('#' + TM_Normal_Cnt).val(data.vNormal_Cnt);
                    $('#' + TM_Reserve_Cnt).val(data.vReserve_Cnt);
                    $('#' + TM_Sum_Cnt).html(data.vSum_Cnt);
                    $('#' + TM_Memo).val(data.vMemo);
                    $('#' + TM_Is_Disabled).val(data.vIs_Disabled)
                }
            }
            //#endregion dialog

            //計算總數量
            function setSum_Cnt() {
                var _TM_Normal_Cnt = parseInt($('#' + TM_Normal_Cnt).val());
                var _TM_Reserve_Cnt = parseInt($('#' + TM_Reserve_Cnt).val());

                if (!isNaN(_TM_Normal_Cnt) && !isNaN(_TM_Reserve_Cnt)) {
                    $('#' + TM_Sum_Cnt).html(_TM_Normal_Cnt + _TM_Reserve_Cnt);
                }
                else {
                    $('#' + TM_Sum_Cnt).html('');
                }
            }

            //#region jqgrid
            function formattervControl_Mode(cellvalue, options, rdata) {
                switch (rdata.vControl_Mode) {
                    @{
                        foreach (var item in ((SelectList)ViewBag.dControl_Mode))
                        {
                            <text>
                            case '@item.Value':
                            return '@item.Text';
                        </text>
                        }
                    }
                }
            }

            function unformattervControl_Mode(cellvalue, options, rdata) {
                return rdata.vControl_Mode;
            }

            function formattervIs_Disabled(cellvalue, options, rdata) {
                switch (rdata.vIs_Disabled) {
                    @{
                        foreach (var item in ((SelectList)ViewBag.dIs_Disabled))
                        {
                            <text>
                            case '@item.Value':
                            return '@item.Text';
                        </text>
                        }
                    }
                }
            }

            function unformattervIs_Disabled(cellvalue, options, rdata) {
                return rdata.vIs_Disabled;
            }

            function formattervData_Status_Name(cellvalue, options, rdata) {
                if (rdata.vData_Status == 2) {
                    return "<a href='#' class='openDialog DialogAply_No' style='text-decoration:underline;' return:false; id='" + options.gid + "Aply_No" + options.rowId + "'  name='" + cellvalue + "' title='" + cellvalue + "' '>" + cellvalue + "</a>";
                }
                else {
                    return cellvalue;
                }
            }

            function UnformattervData_Status_Name(cellvalue, options, rdata) {
                return cellvalue;
            }

            function TM_CompleteFun(listId) {
                jqgridCustom.randerAction(listId, 'TM_Temp', tempActFun);
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    var tr = $(this);
                    var status = tr.find($.validator.format('td[aria-describedby$={0}_vData_Status]', listId)).text();
                    var Exec_Action = tr.find($.validator.format('td[aria-describedby$={0}_vExec_Action]', listId)).text();
                    if (status != '1') {
                        $(this).find('.actionEditIcon').hide();
                        $(this).find('.actionDeleIcon').hide();
                    }

                    if (Exec_Action != 'A') {
                        $(this).find('.actionDeleIcon').hide();
                    }
                    //異動申請單號
                    $(this).find('td').find('a.DialogAply_No').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            OpenAply_NoFun(listId, i + 1);
                        });
                    });

                });
            }

            var tempActFun = {};
            tempActFun.Edit = function (i) {
                dialogOpen('@Ref.ActionType.Edit.ToString()', i);
            }
            tempActFun.Dele = function (i) {
                dialogOpen('@Ref.ActionType.Dele.ToString()', i);
            }
            tempActFun.View = function (i) {
                dialogOpen('@Ref.ActionType.View.ToString()', i);
            }

            function OpenAply_NoFun(listId, rowid) {
                var data = $("#" + listId).getRowData(rowid);

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: data.vAply_No,
                        data: TreasuryInOutChangeRecordSearchViewModel(data.vTrea_Equip_Id)
                    }),
                    dataType: 'html',
                    url: TM_Url.openChangeRecordView,
                    contentType: 'application/json',
                    success: function (datas, textStatus, jqXHR) {
                        $('#' + openChangeRecordDetailId).html(datas);
                        openDetailDialog('金庫設備異動紀錄', 1250, 'OpenChangeRecordDialog');
                    }
                })
            }

            function openDetailDialog(title, width, dialogId) {
                title = title || '';
                width = width || 'auto';
                title += '查詢結果';
                var dialogId = dialogId;
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: title,
                    width: width,
                    autoOpen: false,
                    resizable: false,
                    maxHeight: 600,
                    closeText: '取消',
                    close: function () {
                        $('#' + openChangeRecordDetailId).children().remove();
                    }
                });
                $('#' + dialogId).dialog('open');
            }

            function TM_TempGrid() {
                var colNameArray = ['動作', '執行功能', '設備名稱', '控管模式', '常用數量', '備份數量', '總數量', '備註', '停用註記', '資料狀態', '資料凍結人員', '執行功能值', '金庫設備編號', '控管模式值', '停用註記值', '資料狀態值', '異動申請單號'];
                var colModelArray = [];
                colModelArray.push({ name: "act", index: "act", width: 90, sortable: false });
                colModelArray.push({ name: "vExec_Action_Name", index: "vExec_Action_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vEquip_Name", index: "vEquip_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vControl_Mode_Show", index: "vControl_Mode_Show", width: 70, align: 'center', sortable: false, formatter: formattervControl_Mode, unformatter: unformattervControl_Mode });
                colModelArray.push({ name: "vNormal_Cnt", index: "vNormal_Cnt", width: 80, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vReserve_Cnt", index: "vReserve_Cnt", width: 80, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vSum_Cnt", index: "vSum_Cnt", width: 80, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vMemo", index: "vMemo", width: 100, sortable: false });
                colModelArray.push({ name: "vIs_Disabled_Show", index: "vIs_Disabled_Show", width: 100, align: 'center', sortable: false, formatter: formattervIs_Disabled, unformatter: unformattervIs_Disabled });

                colModelArray.push({ name: "vData_Status_Name", index: "vData_Status_Name", width: 100, sortable: false, align: 'center', formatter: formattervData_Status_Name, unformat: UnformattervData_Status_Name });
                colModelArray.push({ name: "vFreeze_Uid_Name", index: "vFreeze_Uid_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vExec_Action", index: "vExec_Action", hidden: true });
                colModelArray.push({ name: "vTrea_Equip_Id", index: "vTrea_Equip_Id", hidden: true });
                colModelArray.push({ name: "vControl_Mode", index: "vControl_Mode", hidden: true });
                colModelArray.push({ name: "vIs_Disabled", index: "vIs_Disabled", hidden: true });
                colModelArray.push({ name: "vData_Status", index: "vData_Status", hidden: true });
                colModelArray.push({ name: "vAply_No", index: "vAply_No", hidden: true });
                jqgridCustom.createJqgridByCache(
                    'TM_jqgridDiv',
                    'TM_TempList',
                    'TM_TempPeger',
                    TM_Url.getData,
                    {
                        type: 'S'
                    },
                    colNameArray,
                    colModelArray,
                    '金庫設備維護作業',
                    jqgridCustom.getPage('TM_jqgridDiv'),
                    TM_CompleteFun,
                    true
                    );
            }
            //#endregion jqgrid

            function TM_Search() {
                var dialogId = 'TM_SearchDetail';
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: '查詢畫面',
                    width: 1100,
                    autoOpen: false,
                    maxHeight: 700,
                    resizable: false,
                    closeText: '取消'
                });

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        searchModel: TreasuryInOutSearchViewModel(
                            $('#' + TM_Control_Mode_Search).val(),
                            $('#' + TM_Is_Disabled_Search).val())
                    }),
                    url: TM_Url.search,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#' + dialogId).dialog('open');
                        TM_TempGrid();
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                    }
                });
            }

            function TM_ChangeRecord_Search() {
                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    url: TM_Url.openChangeRecord,
                    contentType: 'application/json',
                    success: function (vdata, textStatus, jqXHR) {
                        $('#' + openSearchDetailId).children().remove();
                        $('#' + openSearchDetailId).html(vdata);
                        openChangeRecordDialog('金庫設備異動紀錄', 800, 'OpenSearchDialog');
                    }
                })
            }

            function openChangeRecordDialog(title, width, dialogId) {
                title = title || '';
                width = width || 'auto';
                title += '查詢結果';
                var dialogId = dialogId;
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: title,
                    width: width,
                    autoOpen: false,
                    resizable: false,
                    maxHeight: 600,
                    closeText: '取消',
                    close: function () {
                        $('#' + openSearchDetailId).children().remove();
                    }
                });
                $('#' + dialogId).dialog('open');
            }

            //開啟金庫設備新增頁面
            function TM_InsertFun() {

                dialogOpen('@Ref.ActionType.Add.ToString()', null);
            }

            //申請覆核
            function TM_ApplyFun() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: TM_Url.ApplyTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result);
                    if (result.RETURN_FLAG) {
                        customerUtility.closeDialog($('#TM_Apply'));
                    }
                })
            }

            //取消申請
            function TM_CancelFun() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: TM_Url.ResetTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    ResetInsertDialog();
                    TM_TempGrid();
                    TM_ConfirmFlag = false;
                })
            }

            //新增金庫設備暫存資料
            function TM_InsertTempFun() {
                if ($('#' + TM_FormId).valid()) {
                    //檢核設備名稱
                    if (Check_Equip_Name()) {
                        customerUtility.alert('設備名稱不可重覆', 'w');
                        return false;
                    }

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: TM_ViewModel(
                                created.uuid(),
                                $('#' + TM_Equip_Name).val().trim(),
                                $('#' + TM_Control_Mode).val().trim(),
                                $('#' + TM_Normal_Cnt).val().trim(),
                                $('#' + TM_Reserve_Cnt).val().trim(),
                                $('#' + TM_Sum_Cnt).html().trim(),
                                $('#' + TM_Memo).val().trim(),
                                $('#' + TM_Is_Disabled).val().trim())
                        }),
                        dataType: "json",
                        url: TM_Url.InsertTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#TM_InsertTemp'));
                            TM_TempGrid();
                            TM_ConfirmFlag = true;
                        }
                    })
                }
            }

            //修改金庫設備暫存資料
            function TM_UpdateTempFun() {
                if ($('#' + TM_FormId).valid()) {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: TM_ViewModel(
                                $('#' + TM_Trea_Equip_Id).val().trim(),
                                $('#' + TM_Equip_Name).val().trim(),
                                $('#' + TM_Control_Mode).val().trim(),
                                $('#' + TM_Normal_Cnt).val().trim(),
                                $('#' + TM_Reserve_Cnt).val().trim(),
                                $('#' + TM_Sum_Cnt).html().trim(),
                                $('#' + TM_Memo).val().trim(),
                                $('#' + TM_Is_Disabled).val().trim())
                        }),
                        dataType: "json",
                        url: TM_Url.UpdateTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#TM_UpdateTemp'));
                            TM_TempGrid();
                            TM_ConfirmFlag = true;
                        }
                    })
                }
            }

            //刪除金庫設備暫存資料
            function TM_DeleteTempFun() {
                if ($('#' + TM_FormId).valid()) {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: TM_ViewModel(
                                $('#' + TM_Trea_Equip_Id).val().trim())
                        }),
                        dataType: "json",
                        url: TM_Url.DeleteTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#TM_DeleteTemp'));
                            TM_TempGrid();
                            TM_ConfirmFlag = result.Datas;
                        }
                    })
                }
            }

            //檢核設備名稱
            function Check_Equip_Name() {
                var _Check_Equip_Name;
                $.ajax({
                    type: "POST",
                    async: false,
                    data: JSON.stringify({
                        vEquip_Name: $('#' + TM_Equip_Name).val().trim()
                    }),
                    dataType: "json",
                    url: TM_Url.Check_Equip_Name,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        _Check_Equip_Name = true;
                    }
                    else {
                        _Check_Equip_Name = false;
                    }
                })

                return _Check_Equip_Name;
            }

            function TM_ViewModel(
                vTrea_Equip_Id,
                vEquip_Name,
                vControl_Mode,
                vNormal_Cnt,
                vReserve_Cnt,
                vSum_Cnt,
                vMemo,
                vIs_Disabled
                ) {
                var obj = {};
                obj['vTrea_Equip_Id'] = vTrea_Equip_Id;
                obj['vEquip_Name'] = vEquip_Name;
                obj['vControl_Mode'] = vControl_Mode;
                obj['vNormal_Cnt'] = vNormal_Cnt;
                obj['vReserve_Cnt'] = vReserve_Cnt;
                obj['vSum_Cnt'] = vSum_Cnt;
                obj['vMemo'] = vMemo;
                obj['vIs_Disabled'] = vIs_Disabled;
                return obj;
            }

            //#region 查詢畫面  ViewModel
            function TreasuryInOutSearchViewModel(
                vControl_Mode,
                vIs_Disabled
                ) {
                var obj = {};
                obj['vControl_Mode'] = vControl_Mode;
                obj['vIs_Disabled'] = vIs_Disabled;
                return obj;
            }
            //#endregion

            //#region 異動紀錄查詢畫面  ViewModel
            function TreasuryInOutChangeRecordSearchViewModel(
                vTrea_Equip_Id
                ) {
                var obj = {};
                obj['vControl_Mode'] = "All";
                obj['vAply_No'] = null;
                obj['vAppr_Status'] = "All";
                obj['vLast_Update_Uid'] = null;
                obj['vIs_Disabled'] = "All";
                obj['vTrea_Equip_Id'] = vTrea_Equip_Id;
                return obj;
            }
        }
    });
</script>