@using Treasury.Web.Enum;
@using Treasury.WebUtility;
@{
    ViewBag.Title = "金庫進出管理作業-入庫人員確認作業";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var opScope = ViewBag.opScope;

}
<style>
    .textRight {
        text-align: right;
    }

    .center {
        text-align: center;
    }
</style>

<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;"></div>
            @if (opScope != "" && opScope != "0")
            {
                <div>
                    <form id="confirmForm">
                        <table>
                            <tr>
                                <td width="150px"></td>
                                <td width="120px">
                                    <label>日期 :&ensp;</label>
                                </td>
                                <td>
                                    <input type="text" id="APLY_DT_From" name="APLY_DT_From" />
                                    @*<label> ~&ensp;</label>
                                        <input type="text" id="APLY_DT_To" name="APLY_DT_To" />*@
                                </td>
                            </tr>
                            <tr>
                                <td width="150px"></td>
                                <td width="120px">
                                    @*<label>開褲類型 :&ensp;</label>*@
                                </td>
                                <td>
                                    @*@Html.DropDownList("StorageType", (SelectList)ViewBag.storageTyp)*@
                                </td>
                            </tr>
                            <tr>
                                <td width="150px"></td>
                                <td width="120px">
                                    <label>金庫登記簿單號 :&ensp;</label>
                                </td>
                                <td>
                                    <input type="text" id="TREA_REGISTER_ID" name="TREA_REGISTER_ID" size="17" maxlength="10" />
                                </td>
                            </tr>
                            <tr>
                                <td width="150px"></td>
                                <td width="120px">
                                    <label>已確認 :&ensp;</label>
                                </td>
                                <td>
                                    <input type="checkbox" id="IS_CHECKED" class="checkbox checkbox-info" name="IS_CHECKED" value="isChecked">
                                    @*$('input[name="IS_CHECKED"]:checked');*@
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="center">
                                    <input type="button" class="btn btn-primary" id="SearchStorage" value="查詢" />
                                    <input type="button" class="btn btn-primary" id="ConfirmStorage" value="入庫確認" />
                                    @Html.Hidden("h_DPT_ID", (string)ViewBag.hDPT_ID)
                                    @Html.Hidden("h_EMP_ID", (string)ViewBag.hEMP_ID)
                                    @Html.Hidden("h_cUSER_ID", (string)ViewBag.cUSER_ID)
                                    @Html.Hidden("h_REGISTER_ID", (string)ViewBag.register_ID)
                                    @Html.Hidden("h_itemId", (string)ViewBag.itemID)
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>              
                <input type="button" class="btn btn-primary" id="InsertApply" value="新增" style="display:none" />
                <div id="InsertDialog" style="display:none;" role="dialog">
                    <form id="InsertForm">
                        <table>
                            <tr>
                                <td><label>作業類型</label></td>
                                <td colspan="3">@Html.DropDownList("ItemOpType", (SelectList)ViewBag.itemOpType)</td>
                            </tr>
                            <tr>
                                <td><label>存取項目</label></td>
                                <td>@Html.DropDownList("TreaItem", (SelectList)ViewBag.treaItem)</td>
                                <td class="ShowOrNot" style="display:none">@Html.DropDownList("AccessType", (SelectList)ViewBag.accessType)</td>
                                <td id="AccessItemTd" class="ShowOrNot">@Html.DropDownList("AccessItem", (SelectList)ViewBag.sealItem)</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>入庫原因 : </label>
                                </td>
                                <td colspan="3">
                                    <input type="text" id="InsertReason" maxlength="50" />
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <input type="button" class="btn btn-primary" id="InsertConfirm" value="新增" />
                                    <input type="button" class="btn btn-primary" id="UpdateConfirm" value="修改" />
                                </td>
                                <td colspan="3">
                                    <input type="hidden" id="_hvSEAL_ITEM_ID" />
                                    <input type="hidden" id="huuid" /> 
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            }
        </div>  
    </div>
    <div id="SearchjqgridDiv" class="jqd"></div>
    <div id="ACSearchjqgridDiv" class="jqd"></div>
    <div id="TAOpenSearchDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="TAOpenSearchDetail"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //region set url
        var UrlFor = {};
        @*UrlFor.openBILL = '@Url.Action("View", "Bill")';
        UrlFor.openESTATE = '@Url.Action("View", "Estate")';
        UrlFor.openSEAL = '@Url.Action("View", "Seal")';
        UrlFor.openSTOCK = '@Url.Action("View", "Stock")';
        UrlFor.openCA = '@Url.Action("View","CA")';
        UrlFor.openMARGING = '@Url.Action("View", "Marging")';
        UrlFor.openMARGINP = '@Url.Action("View", "Marginp")';
        UrlFor.openDEPOSIT = '@Url.Action("View", "Deposit")';
        UrlFor.openItemImp = '@Url.Action("View", "ItemImp")';*@
        UrlFor.Search = '@Url.Action("Search", "ConfirmStorage")';
        UrlFor.GetData = '@Url.Action("GetCacheData", "ConfirmStorage")';
        UrlFor.GetItemId = '@Url.Action("GetItemId", "ConfirmStorage")';
        UrlFor.OpTypeChange = '@Url.Action("OpTypeChange", "ConfirmStorage")';
        UrlFor.Insert = '@Url.Action("Insert", "ConfirmStorage")';
        UrlFor.Delete = '@Url.Action("Delete", "ConfirmStorage")';
        UrlFor.Update = '@Url.Action("Update", "ConfirmStorage")';
        UrlFor.Confirm = '@Url.Action("Confirm", "ConfirmStorage")';
        UrlFor.getByAplyNo = '@Url.Action("GetByAplyNo", "TreasuryAccess")';
        UrlFor.changeUnit = '@Url.Action("ChangeUnit", "TreasuryAccess")';
        //#endregion
        //region 變數設定 name
        var SearchForm = 'confirmForm';
        var APLY_DT_From = 'APLY_DT_From';
        var APLY_DT_To = 'APLY_DT_To';
        var TREA_REGISTER_ID = 'TREA_REGISTER_ID';
        //#endregion

        var opScope = '@Html.Raw(ViewBag.opScope)';
        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        }
        else if ( '@Html.Raw(ViewBag.register_ID)' == '')
        {
            var today = $.datepicker.formatDate('yy/mm/dd', new Date());
            $('#' + APLY_DT_From).val(today);
            $('#APLY_DT_From').prop('disabled', true);
            $('#IS_CHECKED').prop('disabled', true);
            $('#SearchStorage').prop('disabled', true);
            $('#ConfirmStorage').prop('disabled', true);
            customerUtility.alert("目前無開庫記錄資料,請至指定開庫作業進行動作", 'w');
        }
        else {
            //console.log('@Html.Raw(ViewBag.register_ID)');
            //初始畫面
            var _register_ID = '@Html.Raw(ViewBag.register_ID)';
            $('#' + TREA_REGISTER_ID).val(_register_ID);
            $('#' + TREA_REGISTER_ID).prop('disabled', true);
            //region datepicker
            var today = $.datepicker.formatDate('yy/mm/dd', new Date());
            //created.createDatepicker(APLY_DT_From, today);
            $('#' + APLY_DT_From).val(today);
            verified.datepicker(SearchForm, APLY_DT_From, $('#' + APLY_DT_From).val());
            verified.required(SearchForm, APLY_DT_From, message.required('申請日期(起)'));
            //#endregion
            $('#ConfirmStorage').prop('disabled', true);
            $('#InsertReason').hide();
            $('#InsertApply').hide();
            $('#APLY_DT_From').prop('disabled', true);

            var optype = $('#ItemOpType').val();
            if (optype == "2") {
                $('.ShowOrNot').show();
            }
            else {
                $('.ShowOrNot').hide();
            }


            //region 驗證金庫需求單號
            $('#TREA_REGISTER_ID').blur(function () {
                var reg = /^[W]\d{9}$/;
                var str = $(this).val();
                reg.test(str);
                if ($(this).val() != "") {
                    if (!reg.test(str)) {
                        $(this).next('span').empty();
                        var wLabel = $('<label></label>').text("單號為大寫W + 9碼數字").attr('class', 'red');
                        var wSpan = $('<span></span>').append(wLabel);
                        $(this).after(wSpan);
                    }
                    else {
                        $(this).next('span').empty();
                    }
                }
                else {
                    $(this).next('span').empty();
                }
            });
            //#endregion
            //region 產生產生button事件
            $('input:button').each(function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'SearchStorage':
                        $('#' + id).on('click', function () { formSearch(); });
                        break;
                    case 'ConfirmStorage':
                        $('#' + id).on('click', function () { formConfirm(); });
                        break;
                    case 'InsertApply':
                        $('#' + id).on('click', function () { formInsert(); });
                        break;
                    case 'InsertConfirm':
                        $('#' + id).on('click', function () { insertConfirm(); });
                        break;
                    case 'UpdateConfirm':
                        $('#' + id).on('click', function () { updateConfirm(); });
                        break;
                }
            });
            //#endregion
            //IS_CHECKED Changeg事件
            $('#IS_CHECKED').change(function () {
                if ($(this).is(":checked")) {
                    if (confirm("變更為查詢已確認資料?")) {
                        
                        $('#SearchjqgridDiv').empty();
                    }
                    else {
                        $(this).prop('checked', false);
                        return false;
                    }
                }
                else {
                    if (confirm("變更為查詢未確認資料?")) {
                        $('#ACSearchjqgridDiv').empty();
                    }
                    else {
                        $(this).prop('checked', true);
                        return false;
                    }
                }
            });
            //#endregion
            //作業類型SelectedChange事件 (1,2,3,4)
            $('#ItemOpType').change(function () {
                var opTypeId = this.value;
                var accessType = $('#AccessType').val();
                var rid = $('#h_REGISTER_ID').val();
                var ITEM_ID_List = $('#h_itemId').val().split(';');
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        OpTypeId: opTypeId,
                        ItemIdList: ITEM_ID_List,
                        AccessType: accessType,
                        vSEAL_ITEM_ID: $('#_hvSEAL_ITEM_ID').val(),
                        RemoveRowData: true,
                        RegisterId: rid
                    }),
                    url: UrlFor.OpTypeChange,
                    contentType: 'application/json',
                }).done(function (result) {
                    $('#TreaItem').find('option').remove();
                    customerUtility.addoption('TreaItem', result.Item1);
                    if (opTypeId == "2") {
                        if ($('#TreaItem option').length > 0) {
                            $('.ShowOrNot').show();
                            $('#TreaItem').val($($('#TreaItem option')[0]).val()).change();
                            $('#AccessItemTd').children().remove();
                            $('#AccessItemTd').append('<select id="AccessItem" name="AccessItem"></select>');
                            customerUtility.addoption('AccessItem', result.Item2);
                        }
                    }
                    else {
                        $('.ShowOrNot').hide();
                        $('#AccessItemTd').empty();
                    }
                    //vITeM_OP_TYPE == "2" != "4" 不能輸入
                    if (opTypeId != "4") {
                        $('#InsertReason').prop('disabled', true);
                    } else {
                        $('#InsertReason').prop('disabled', false);
                    }
                });
            })
            //作業項目SelectedChange事件 (ITEMD1008,D1009,D1010,D1011)
            $("#TreaItem").change(function () {
                var itemId = this.value;
                var accessType = $('#AccessType').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        ItemId: itemId,
                        AccessType: accessType,
                        vSEAL_ITEM_ID :  $('#_hvSEAL_ITEM_ID').val()
                    }),
                    url: UrlFor.GetItemId,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.Item1 == "2") {
                        $('.ShowOrNot').show();
                        $('#AccessItemTd').children().remove();
                        $('#AccessItemTd').append('<select id="AccessItem" name="AccessItem"></select>');
                        customerUtility.addoption('AccessItem', result.Item2);
                    }
                    else {
                        $('.ShowOrNot').hide();
                        $('#AccessItemTd').empty();
                    }
                    //vITeM_OP_TYPE == "2" != "4" 不能輸入
                    if (result.Item1 != "4") {
                        $('#InsertReason').prop('disabled', true);
                    } else {
                        $('#InsertReason').prop('disabled', false);
                    }
                });
            })
            //#endregion
            //P,G
            $('#AccessType').change(function () {
                var typeId = this.value;
                var itemId = $('#TreaItem').val();
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        ItemId: itemId,
                        AccessType: typeId,
                        vSEAL_ITEM_ID: $('#_hvSEAL_ITEM_ID').val()
                    }),
                    url: UrlFor.GetItemId,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.Item1 == "2") {
                        $('.ShowOrNot').show();
                        $('#AccessItemTd').children().remove();
                        $('#AccessItemTd').append('<select id="AccessItem" name="AccessItem"></select>');
                        customerUtility.addoption('AccessItem', result.Item2);
                        if ($('input[name="IS_CHECKED"]').is(':checked')) {
                            $('#AccessItem').hide();
                        }
                    }
                    else {
                        $('.ShowOrNot').hide();
                        $('#AccessItemTd').empty();
                    }
                    //vITeM_OP_TYPE == "2" != "4" 不能輸入
                    if (result.Item1 != "4") {
                        $('#InsertReason').prop('disabled', true);
                    } else {
                        $('#InsertReason').prop('disabled', false);
                    }
                });
            });
        }

        //初始畫面
        //region datepicker
        //created.createDatepicker(APLY_DT_To, today);
        //created.createDatepickerRange(APLY_DT_From, APLY_DT_To);
        //verified.datepicker(SearchForm, APLY_DT_To, $('#' + APLY_DT_To).val());
        //verified.required(SearchForm, APLY_DT_To, message.required('申請日期(迄)'));
        //#endregion
        //region 驗證日期
        //function compareDate() {
        //    var dateFrom = $('#APLY_DT_From').val();
        //    var dateTo = $('#APLY_DT_To').val();
        //    if (Date.parse(dateTo) >= Date.parse(dateFrom)) {
        //        return true;
        //    }
        //    else {
        //        return false;
        //    }
        //}
        //#endregion
        //region 入庫確認
        function formConfirm() {
            var txtConform = "";
            var listId = 'SearchList';
            var needToCheck = false;
            var _cTxt = [];
            if (!$('input[name="IS_CHECKED"]').is(':checked')) {
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    var tr = $(this);
                    var opType = tr.find($.validator.format('td[aria-describedby$={0}_vITeM_OP_TYPE]', listId)).text();
                    var itemDesc = tr.find($.validator.format('td[aria-describedby$={0}_vITEM]', listId)).text();
                    var sealItem = tr.find($.validator.format('td[aria-describedby$={0}_vSEAL_ITEM]', listId)).text();
                    var checkValue = tr.find($.validator.format('td[aria-describedby$={0}_vITEM_ID]', listId)).find('input:checkbox:first').is(':checked');
                    if (opType == '2' && checkValue == false) {
                        _cTxt.push(itemDesc + ": " + sealItem);
                        needToCheck = true;
                    }
                });
            }

            if ($('input[name="IS_CHECKED"]').is(':checked')) {
                txtConform = '是否異動已確認?';
            } else {
                txtConform = '是否已確認?';
            }

            if (confirm(txtConform)) {
                    var _itemIdCheck = [];
                    var cUid = $('#h_cUSER_ID').val();

                    if ($('.ConfrimtCs:checked').length > 0) {
                        $('.ConfrimtCs:checked').each(function () {
                            var confirmUid = $(this).closest('tr').find("td:nth-child(14)").text();
                            var confirmName = $(this).closest('tr').find("td:nth-child(15)").text();
                            var item = $(this).closest('tr').find("td:nth-child(16)").text();
                            if (confirmUid.trim() !== "" && confirmUid != cUid) {
                                if (confirm(confirmName + "已確認" + item + ",是否要異動人員?")){

                                }
                                else {
                                    return false;
                                }
                            }
                            var applyNo = $(this).closest('tr').find("td:nth-child(12)").text();
                            var optype = $(this).closest('tr').find("td:nth-child(4)").text();
                            var uuid = $(this).closest('tr').find("td:nth-child(13)").text();
                            var data = $(this).val() + ";" + optype + ";" + applyNo + ";" + uuid;
                            _itemIdCheck.push(data);
                        });
                    }
                    if (_itemIdCheck.length === 0) {
                        customerUtility.alert("無選擇項目", 'w');
                        return false;
                    }
                    if (needToCheck) {
                        if (confirm("提醒 " + _cTxt.join(', ') + " 尚未回存金庫")) {

                        }
                        else {
                            return false;
                        }
                    }

                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            ConfirmModel: _itemIdCheck,
                            register_ID : _register_ID,
                            v_IS_CHECKED: $('input[name="IS_CHECKED"]:checked').val()
                        }),
                        url: UrlFor.Confirm,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (result.RETURN_FLAG) {
                            if ($('input[name="IS_CHECKED"]').is(':checked')) {
                                ACSearchStorageGrid();

                            }
                            else {
                                SearchStorageGrid();
                                $('#InsertReason').show();
                            }
                            customerUtility.alert(result.DESCRIPTION, 's');
                        }
                        else {
                            customerUtility.alert(result.DESCRIPTION, 'w');
                        }
                    });
                }
        }
        //#endregion
        // 確定修改
        function updateConfirm() {
            var opType = $('#ItemOpType').val();
            var itemId = $('#TreaItem').val();
            var insertReason = $('#InsertReason').val();
            if (opType == "2") {
                var accessItem = $('#AccessItem').val();
                //var accessType = $('#AccessType').val();
                var accessType = $("#AccessType option:selected").text();
            }
            if (opType == "3") {
                customerUtility.alert("此為不可新增作業項目!!", 'w');
                return false;
            }
            if (opType == "4") {
                if (insertReason.length == 0) {
                    customerUtility.alert("請輸入入庫原因!!", 'w');
                    return false;
                }
            }
            if (confirm("確定修改?")) {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        updateModel: InsertUpdateViewModel(
                            opType,
                            itemId,
                            accessItem,
                            accessType,
                            insertReason,
                            $('#h_cUSER_ID').val(),
                            $('#h_DPT_ID').val(),
                            $("#TreaItem option:selected").text(),
                            $("#AccessItem option:selected").text(),
                            $('#AccessType').val(),
                            $('#huuid').val(),
                            $('input[name="IS_CHECKED"]:checked').val()
                            ),
                        registerId: $('#h_REGISTER_ID').val()
                    }),
                    url: UrlFor.Update,
                    contentType: 'application/json'
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        //customerUtility.closeDialog($('#InsertDialog'));
                        $('#InsertDialog').dialog('close');
                        if ($('input[name="IS_CHECKED"]').is(':checked')) {
                            ACSearchStorageGrid();
                        }
                        else {
                            SearchStorageGrid();
                        }
                    }
                    customerUtility.alertAuto(result);
                });
            }
        }
        //#endregion
        //region 新增事件
        function formInsert() {
            openInsertDialog("新增", null, 'InsertDialog', false)
            //$('#InsertDialog').
        }
        //#endregion
        //region 確定新增
        function insertConfirm() {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    ItemId: $('#TreaItem').val()
                }),
                url: UrlFor.GetItemId,
                contentType: 'application/json',
            }).done(function (result) {
                var _IdCheck = [];
                var accessTypeCode = ""; //?? P or G  20181008 不知道是什麼參數 by Mark
                //$('#SearchJqgridDiv input[type="checkbox"]').each(function () {
                //    _IdCheck.push($(this).val());
                //    alert("XX")
                //});
                $('.ConfrimtCs').each(function () {
                    _IdCheck.push($(this).val());
                });
                var ditemId = $('#TreaItem').val();
                var itemOpType = $('#ItemOpType').val();
                if (itemOpType == "1") {
                    if (jQuery.inArray(ditemId, _IdCheck) !== -1) {
                        customerUtility.alert("此項目已存在無法新增!!", 'w');
                        return false;
                    }
                }

                if (result.Item1 == "3") {
                    customerUtility.alert("此為不可新增作業項目!!", 'w');
                    return false;
                }
                if (result.Item1 == "4") {
                    var hasValue = $('#InsertReason').val();

                    if (hasValue.length == 0) {
                        customerUtility.alert("請輸入入庫原因!!", 'w');
                        return false;
                    }
                }
                var accessType;
                if (result.Item1 == "2") {
                    accessType = $('#AccessType option:selected').text();
                    accessTypeCode = $('#AccessType').val();
                }

                if (confirm("確定新增?")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            InsertModel: InsertUpdateViewModel(
                              result.Item1,
                              $('#TreaItem').val(),
                              $('#AccessItem').val(),
                              accessType,
                              $('#InsertReason').val(),
                              $('#h_cUSER_ID').val(),
                              $('#h_DPT_ID').val(),
                              $("#TreaItem option:selected").text(),
                              $("#AccessItem option:selected").text(),
                              accessTypeCode,
                              created.uuid()
                              )
                        }),
                        url: UrlFor.Insert,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#InsertDialog'));
                            $('#ConfirmStorage').prop('disabled', false);
                            if ($('input[name="IS_CHECKED"]').is(':checked')) {
                                ACSearchStorageGrid();
                            }
                            else {
                                SearchStorageGrid();
                            }
                        }
                        else {
                            customerUtility.alertAuto(result);
                        }
                    });
                }
            });
        }
        //#endregion
        //region 刪除
        function DeleteConfirm(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);

                //if (data.vITeM_OP_TYPE == "3") {
                //    customerUtility.alert("此為不可刪除作業項目!!", 'w');
                //    return false;
                //}
                if (confirm("是否刪除 " + data.vITEM + "??")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            DeleteModel: DeleteViewModel(
                                data.vITeM_OP_TYPE,
                                data.vITEM_ID,
                                $('#h_cUSER_ID').val(),
                                $('#h_DPT_ID').val(),
                                rowid,
                                data.hvAPLY_NO,
                                data.uuid,
                                $('input[name="IS_CHECKED"]:checked').val()
                                )
                        }),
                        url: UrlFor.Delete,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (result.RETURN_FLAG) {
                            customerUtility.alert(result.DESCRIPTION, 's');
                            if ($('input[name="IS_CHECKED"]').is(':checked')) {
                                ACSearchStorageGrid();
                            }
                            else {
                                SearchStorageGrid();
                            }
                        }
                        else {
                            customerUtility.alert(result.DESCRIPTION, 'w');
                        }
                    });
                }
            }
        }
        //#endregion
        //region 開起Dialog
        function openInsertDialog(title, width, dialogId, closeFlag) {
            title = title || '';
            width = width || 'auto';
            title += '項目';
            var dialogId = dialogId;
            $('#' + dialogId).dialog({
                position: { my: "top", at: "center top", of: window },
                title: title,
                width: width,
                autoOpen: false,
                resizable: false,
                maxHeight: 600,
                closeText: '取消',
                close: function () {
                    //關閉Dialog事件
                }
            });
            $('#InsertConfirm,#UpdateConfirm').hide();
            $('#ItemOpType').prop('disabled', false);
            $('#TreaItem').prop('disabled', false);
            $('#InsertConfirm').show();
            $('#UpdateConfirm').prop('disabled', true);
            $('#InsertConfirm').prop('disabled', false);
            $('#TreaItem').val('');
            $('#InsertReason').val("");
            if ($('#ItemOpType option').length > 0)
            {
                $('#ItemOpType').val($($('#ItemOpType option')[0]).val()).change();
            }
            $('#' + dialogId).dialog('open');
        }
        //#endregion
        //region 查詢事件
        function formSearch() {
            var rid = $('#h_REGISTER_ID').val();
            //if (rid.length == 0) {
            //    customerUtility.alert("無可以確認之項目", 'w');
            //    return false;
            //}
            var ITEM_ID_List = $('#h_itemId').val().split(';');
            $('#SearchjqgridDiv').children().remove();
            $('#ACSearchjqgridDiv').children().remove();
            if ($('#' + SearchForm).valid()) {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        searchModel: SearchViewModel(
                            $('#APLY_DT_From').val(),
                            $('#StorageType').val(),
                            $('#TREA_REGISTER_ID').val(),
                            $('input[name="IS_CHECKED"]:checked').val(),
                            ITEM_ID_List
                            ),
                        itemId: $('#h_itemId').val()
                    }),
                    url: UrlFor.Search,
                    contentType: 'application/json'
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#ConfirmStorage').prop('disabled', false);

                        if ($('input[name="IS_CHECKED"]').is(':checked')) {
                            ACSearchStorageGrid();
                            $('#InsertApply').hide();
                        }
                        else {
                            SearchStorageGrid();
                            $('#InsertReason').show();
                            $('#InsertApply').show();
                        }
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                        $('#InsertApply').show();
                    }
                });
            }
        }
        //#endregion
        function formatterItemId(cellvalue, option, rdata) {
            return rdata.vITEM_ID;
        }

        //#region jqGrid 單號變連結
        function formatterAPLYNO(cellvalue, options, rdata) {
            if (rdata.vITeM_OP_TYPE == "3")
                return "<a href='#' class='openDialog DialogAPLYNO' style='text-decoration:underline;' return:false; id='" + options.gid + "APLYNO" + options.rowId + "'  name='" + cellvalue + "' title='" + cellvalue + "' '>" + cellvalue + "</a>";
            else
                return "";
        }

        function UnformatterAPLYNO(cellvalue, options, rdata) {
            return cellvalue;
        }
        //#endregion
        //#region jqGrid checkbox
        function formatterCheck(cellvalue, options, rdata) {
            var str = '';

            str += "<div class='checkbox checkbox-info' title=' ' style=' padding-top: 0px; margin-top: 0px; margin-bottom: 0px;'><input type='checkbox' id='" + options.gid + options.colModel.index + options.rowId + "' ' tage='" + options.colModel.index + "' name='" +
                options.gid + options.colModel.index + options.rowId + "' title =' ' class='cbox ConfrimtCs customerCheck' value ='" + cellvalue + "'></div>";

            return str;
        }
        //#endregion
        //#region jqGrid 單號顯示原本樣式
        function unformatREGISTERID(cellvalue, option, rdata) {
            return cellvalue;
        }
        //#endregion
        //region 查詢Table
        function SearchStorageGrid() {
            var colTitleArray = ['動作', '確認', '作業類型', '存取項目', '作業別', '印章內容', '申請單號', '入庫原因', '作業別CODE', '印鑑物品編號', 'h申請單號', 'ID', 'h確認人員', 'h確認人員姓名', 'h存取項目', 'hitemId']
            var colModelArray = [
                { name: "act", index: "act", width: 75, sortable: false, align: 'center' },
                { name: "vITEM_ID", index: "vITEM_ID", width: 60, sortable: false, align: 'center', formatter: formatterCheck },
                { name: "vITeM_OP_TYPE", index: "vITeM_OP_TYPE", width: 70, sortable: false, align: 'center' },
                { name: "vITEM", index: "vITEM", width: 100, sortable: false, align: 'center' },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", width: 60, sortable: false, align: 'center' },
                { name: "vSEAL_ITEM", index: "vSEAL_ITEM", width: 175, sortable: false, align: 'center' },
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 130, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width: 175, sortable: false, align: 'center' },
                { name: "vACCESS_TYPE_CODE", index: "vACCESS_TYPE_CODE", hidden: true },
                { name: "vSEAL_ITEM_ID", index: "vSEAL_ITEM_ID", hidden: true },
                { name: "hvAPLY_NO", index: "hvAPLY_NO", hidden: true },
                { name: "uuid", index: "uuid", hidden: true },
                { name: "hCONFIRM_UID", index: "hCONFIRM_UID", hidden: true },
                { name: "hCONFIRM_Name", index: "hCONFIRM_Name", hidden: true },
                { name: "hITEM", index: "hITEM", hidden: true },
                { name: "hITEM_ID", index: "hITEM_ID", hidden: true, formatter: formatterItemId },
            ];
            jqgridCustom.createJqgridByCache(
              'SearchjqgridDiv',
              'SearchList',
              'SearchPeger',
              UrlFor.GetData,
              {
                  type: 'Search',
                  itemId: $('#h_itemId').val()
              },
              colTitleArray,
              colModelArray,
              '確認入庫清單',
              jqgridCustom.getPage('SearchjqgridDiv'),
              SearchGridDoneFun,
              true
              );
        }
        //#endregion
        //region 查詢Table (Already Check)
        function ACSearchStorageGrid() {
            var colTitleArray = ['動作', '確認', '作業類型', '存取項目', '作業別', '印章內容', '申請單號', '入庫原因', '確認人員', '確認時間', 'h申請單號', 'ID', 'h確認人員', 'h確認人員姓名', 'h存取項目', '印鑑物品編號', '作業別CODE', 'hitemId']
            var colModelArray = [
                { name: "act", index: "act", width: 70, sortable: false, align: 'center' },
                { name: "vITEM_ID", index: "vITEM_ID", width: 55, sortable: false, align: 'center', formatter: formatterCheck },
                { name: "vITeM_OP_TYPE", index: "vITeM_OP_TYPE", width: 70, sortable: false, align: 'center' },
                { name: "vITEM", index: "vITEM", width: 95, sortable: false, align: 'center' },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", width: 65, sortable: false, align: 'center' },
                { name: "vSEAL_ITEM", index: "vSEAL_ITEM", width: 90, sortable: false, align: 'center' },
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 125, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width: 125, sortable: false, align: 'center' },
                { name: "vCONFIRM_UID", index: "vCONFIRM_UID", width: 70, sortable: false, align: 'center' },
                { name: "vCONFIRM_DT", index: "vCONFIRM_DT", width: 145, sortable: false, align: 'center' },
                { name: "hvAPLY_NO", index: "hvAPLY_NO", hidden: true },
                { name: "uuid", index: "uuid", hidden: true },
                { name: "hCONFIRM_UID", index: "hCONFIRM_UID", hidden: true },
                { name: "hCONFIRM_Name", index: "hCONFIRM_Name", hidden: true },
                { name: "hITEM", index: "hITEM", hidden: true },
                { name: "vSEAL_ITEM_ID", index: "vSEAL_ITEM_ID", hidden: true },
                { name: "vACCESS_TYPE_CODE", index: "vACCESS_TYPE_CODE", hidden: true },
                { name: "hITEM_ID", index: "hITEM_ID", hidden: true, formatter: formatterItemId },
            ];
            jqgridCustom.createJqgridByCache(
              'ACSearchjqgridDiv',
              'ACSearchList',
              'ACSearchPeger',
              UrlFor.GetData,
              {
                  type: 'Search',
                  itemId: $('#h_itemId').val()
              },
              colTitleArray,
              colModelArray,
              '確認入庫清單',
              jqgridCustom.getPage('ACSearchjqgridDiv'),
              SearchGridDoneFun,
              true
              );
        }

        function SearchGridDoneFun(listId) {
            if (listId == 'SearchList') {
                jqgridCustom.randerAction(listId, 'Confirm', tempActFun);
            }
            else {
                jqgridCustom.randerAction(listId, 'Confirm', ACtempActFun);
            }

            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                var data = $("#" + listId).getRowData(i + 1);
                if (listId == 'SearchList') {
                    if (data.vITeM_OP_TYPE == '3') {
                        $(this).find('.actionEditIcon').hide();
                        $(this).find('.actionDeleIcon').hide();
                    }
                }
                else {
                    if (data.vITeM_OP_TYPE == '3') {
                        $(this).find('.actionEditIcon').hide();
                    }
                }
                $(this).find('.actionViewIcon').hide();
                //申請單號
                $(this).find('td').find('a.DialogAPLYNO').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        TAOpenAPLYNOFun(listId, i + 1, false);
                    });
                });
            });

        }

        var ACtempActFun = {};
        ACtempActFun.Edit = function (i) {
            dialogOpen('ACSearchList','@Ref.ActionType.Edit.ToString()', i);
        }
        ACtempActFun.Dele = function (i) {
            var listId = 'ACSearchList';
            DeleteConfirm(listId, i);
        }
        ACtempActFun.View = function (i) {
            dialogOpen('ACSearchList','@Ref.ActionType.View.ToString()', i);
        }

        //region 修改、刪除、檢視
        var tempActFun = {};
        tempActFun.Edit = function (i) {
            dialogOpen('SearchList','@Ref.ActionType.Edit.ToString()', i);
        }
        tempActFun.Dele = function (i) {
            var listId = 'SearchList';
            DeleteConfirm(listId, i);
        }
        tempActFun.View = function (i) {
            dialogOpen('SearchList', '@Ref.ActionType.View.ToString()', i);
        }
        //#endregion
        //region 修改、刪除、檢視事件
        function dialogOpen(listId, type, rowid) {
            var dialogId = 'InsertDialog';
            //var listId = 'SearchList';
            var title = customerUtility.getDialogType(type);
            var data = $("#" + listId).getRowData(rowid);
            $('#_hvSEAL_ITEM_ID').val('');
            $('#_hvSEAL_ITEM_ID').val(data.vSEAL_ITEM_ID);
            $('#huuid').val('');
            $('#huuid').val(data.uuid);
            $('#AccessItem').show();
            if ($('#ItemOpType option').length > 0) {
                $('#ItemOpType').val($($('#ItemOpType option')[0]).val()).change();
            }
            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: title + '作業',
                width: 'auto',
                autoOpen: false,
                resizable: false,
                closeText: '取消',
                close: function (event, ui) {
                    customerUtility.closeDialog(this);
                }
            });
            $('#InsertConfirm,#UpdateConfirm').hide();
            if (type == '@Ref.ActionType.Edit.ToString()') {
                $('#InsertReason').val('');
                $('#InsertReason').show();
                $('#UpdateConfirm').show();
                $('#UpdateConfirm').prop('disabled', false);
                $('#InsertConfirm').prop('disabled', true);
                $('#ItemOpType').val(data.vITeM_OP_TYPE);
                $('#AccessType').val(data.vACCESS_TYPE_CODE);
                var accessType = $('#AccessType').val();
                var ITEM_ID_List = $('#h_itemId').val().split(';');

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        OpTypeId: data.vITeM_OP_TYPE,
                        ItemIdList: ITEM_ID_List,
                        AccessType: accessType,
                        vSEAL_ITEM_ID: $('#_hvSEAL_ITEM_ID').val(),
                        ItemId: data.hITEM_ID,
                        RemoveRowData: false
                    }),
                    url: UrlFor.OpTypeChange,
                    contentType: 'application/json',
                }).done(function (result) {
                    $('#TreaItem').find('option').remove();
                    customerUtility.addoption('TreaItem', result.Item1);
                    $("#TreaItem option").filter(function () {
                        return this.text == data.vITEM;
                    }).attr('selected', true);
                    $('#ItemOpType').prop('disabled', true);
                    $('#TreaItem').prop('disabled', true);
                    if (data.vITeM_OP_TYPE == "2") {
                        $('.ShowOrNot').show();
                        $('#AccessItemTd').children().remove();
                        $('#AccessItemTd').append('<select id="AccessItem" name="AccessItem"></select>');
                        customerUtility.addoption('AccessItem', result.Item2);
                        $('#AccessItem').val(data.vSEAL_ITEM_ID);
                        if ($('input[name="IS_CHECKED"]').is(':checked')) {
                            $('#AccessItem').hide();
                        }
                    }
                    else {
                        $('.ShowOrNot').hide();
                        $('#AccessItemTd').empty();
                    }
                    //vITeM_OP_TYPE != "4" 不能輸入
                    if (data.vITeM_OP_TYPE != "4") {
                        $('#InsertReason').prop('disabled', true);
                    } else {
                        $('#InsertReason').prop('disabled', false);
                        $('#InsertReason').val(data.vACCESS_REASON);
                    }
                });
            }

            $('#' + dialogId).dialog('open');
        }
        //#endregion
        //#region 開啟申請單號
        function TAOpenAPLYNOFun(listId, rowid, closeFalg) {
            var data = $("#" + listId).getRowData(rowid);
            var itemId = data.hITEM_ID;
            //var _accessType = data.vACCESS_TYPE;
            var itemData = GetItemDataByDefault(itemId);
            if (itemData.url != null) {
                $('#TAR_AplyNo').val(data.vAPLY_NO);
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: data.vAPLY_NO,
                        data: null
                    }),
                    url: UrlFor.getByAplyNo,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        var aplyNoData = result.Datas.Item1;
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify({
                                AplyNo: data.vAPLY_NO,
                                data: null,
                                type: 0 //金庫物品存取申請作業
                            }),
                            dataType: 'html',
                            url: itemData.url,
                            contentType: 'application/json',
                            success: function (vdata, textStatus, jqXHR) {
                                $('#TAOpenSearchDetail').html(GetAplyNoDetail() + vdata);
                                $('#TAVMvAplyNo').text(aplyNoData.vAplyNo);
                                $('#TAVMvItem').text(aplyNoData.vItem);
                                customerUtility.addoption('TAVMvAplyUnit', result.Datas.Item3);
                                $('#TAVMvAplyUnit').val(aplyNoData.vAplyUnit);
                                customerUtility.addoption('TAVMvAplyUid', result.Datas.Item4);
                                $('#TAVMvAplyUid').val(aplyNoData.vAplyUid);
                                $('#TAVMvChargeUnit').text(aplyNoData.vChargeUnit);
                                $('#TAVMvAccessType').text(aplyNoData.vAccessType);
                                created.createDatepicker('TAVMvExpectedAccessDate', aplyNoData.vExpectedAccessDate);
                                $('#TAVMvExpectedAccessDate').datepicker("option", "minDate", aplyNoData.vCreateDt);
                                $('#TAVMvExpectedAccessDate').next().prop('disabled', true);
                                $('#TAVMvCreateDt').text(aplyNoData.vCreateDt);
                                $('#TAVMvCreateUnit').text(aplyNoData.vCreateUnit);
                                $('#TAVMvCreateUid').text(aplyNoData.vCreateUid);
                                $('#TAVMvAccessReason').val(aplyNoData.vAccessReason);
                                $('#TAVMvAplyUnit').off('change');
                                $('#TAVMvAplyUnit').on('change', function () {
                                    $.ajax({
                                        type: "POST",
                                        data: JSON.stringify({
                                            DPT_CD: $(this).val()
                                        }),
                                        dataType: "json",
                                        url: UrlFor.changeUnit,
                                        contentType: 'application/json'
                                    }).done(function (result) {
                                        customerUtility.addoption('TAVMvAplyUid', result);
                                    })
                                });
                                openTADialog(itemData.title, itemData.openDialogWidth, 'TAOpenSearchDialog', closeFalg, result.Datas.Item2);
                            }
                        })
                    }
                });
            }
        }
        //#endregion

        //#region 新增事件(打開Dialog)
        function openTADialog(title, width, dialogId, closeFalg, custodianFlag) {
            title = title || '';
            width = width || 'auto';
            title += '明細';
            var dialogId = dialogId;
            $('#' + dialogId).dialog({
                position: { my: "top", at: "center top", of: window },
                title: title,
                width: width,
                autoOpen: false,
                resizable: false,
                maxHeight: 600,
                closeText: '取消',
                close: function () {
                    ////查詢畫面且為可申請覆核的選項時關閉更新畫面
                    //if (dialogId == 'TAOpenSearchDialog' && $('#TAR_AplyNo').val() != '' && closeFalg) {
                    //    TAAccessGrid();
                    //    TAReportGrid();
                    //}
                    //    //新增畫面官必須清空畫面參數
                    //else if (dialogId == 'TAOpenInsertDialog') {
                    //    resetTADialogDeatil();
                    //}
                }
            });
            $('#' + dialogId).dialog('open');
        }

        //#endregion

        //region 查詢 ViewModel
        function SearchViewModel(vAPLY_DT_From, vSTORAGE_TYPE, vTREA_REGISTER_ID, v_IS_CHECKED, vITEM_ID_List) {
            var obj = {};
            obj['vCREATE_DT'] = vAPLY_DT_From;
            obj['vOPEN_TREA_TYPE'] = vSTORAGE_TYPE;
            obj['vTREA_REGISTER_ID'] = vTREA_REGISTER_ID;
            obj['v_IS_CHECKED'] = v_IS_CHECKED;
            obj['vITEM_ID_List'] = vITEM_ID_List;
            return obj;
        }
        //#endregion
        //region 新增修改 ViewModel
        function InsertUpdateViewModel(vITeM_OP_TYPE, vITEM_ID, vSEAL_ITEM_ID, vACCESS_TYPE, vACCESS_REASON, vCurrentUid, vCurrentUnit, vITEM, vSEAL_ITEM, vACCESS_TYPE_CODE, uuid, v_IS_CHECKED) {
            var obj = {};
            obj['vITeM_OP_TYPE'] = vITeM_OP_TYPE;
            obj['vITEM_ID'] = vITEM_ID;
            obj['vSEAL_ITEM_ID'] = vSEAL_ITEM_ID;
            obj['vACCESS_TYPE'] = vACCESS_TYPE;
            obj['vACCESS_REASON'] = vACCESS_REASON;
            obj['vCurrentUid'] = vCurrentUid;
            obj['vCurrentUnit'] = vCurrentUnit;
            obj['vITEM'] = vITEM;
            obj['vSEAL_ITEM'] = vSEAL_ITEM;
            obj['vACCESS_TYPE_CODE'] = vACCESS_TYPE_CODE;
            obj['uuid'] = uuid;
            obj['v_IS_CHECKED'] = v_IS_CHECKED;
            return obj;
        }
        //#endregion
        //region 刪除 ViewModel
        function DeleteViewModel(vITeM_OP_TYPE, vITEM_ID, vCurrentUid, vCurrentUnit, vrowid, hvAPLY_NO, uuid, v_IS_CHECKED) {
            var obj = {};
            obj['vITeM_OP_TYPE'] = vITeM_OP_TYPE;
            obj['vITEM_ID'] = vITEM_ID;
            obj['vCurrentUid'] = vCurrentUid;
            obj['vCurrentUnit'] = vCurrentUnit;
            obj['vrowid'] = vrowid;
            obj['vAPLY_NO'] = hvAPLY_NO;
            obj['uuid'] = uuid;
            obj['v_IS_CHECKED'] = v_IS_CHECKED;
            return obj;
        }
        //#endregion
        //#region 申請單號基本資料(點選單號時使用)
        function GetAplyNoDetail() {
            var str = '';
            str += '<div  class="aplyNoDetail" style="border-bottom:1px solid #000;margin-bottom:10px;">';
            str += '<form id="TAVMvForm">';
            str += '<table id="TAVMvTablr" style="width:95%" >';
            str += '<tr>';
            str += '<td style="width:150px">';
            str += '<label>申請單號 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvAplyNo"></label>';
            str += '</td>';
            str += '<td style="width:150px">';
            str += '<label>存取申請項目 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvItem"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<select id="TAVMvAplyUnit" name="TAVMvAplyUnit" disabled></select>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<select id="TAVMvAplyUid" name="TAVMvAplyUid" disabled></select>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>權責部門 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvChargeUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請作業 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvAccessType"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>預計存取日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<input type="text" id="TAVMvExpectedAccessDate" name="TAVMvExpectedAccessDate" style="width:170px" disabled/>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateDt"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += ' <label>填表單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUid"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請原因 : </label>';
            str += '</td>';
            str += '<td colspan="3">';
            str += '<textarea id="TAVMvAccessReason" style="width:100%" disabled></textarea>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td colspan="3">';
            str += '<input type="button" class="btn btn-primary" id="TAVMUpdate" value="修改" disabled style="display:none;margin-right:10px;" />';
            str += '<input type="button" class="btn btn-primary" id="TAVMSave" value="儲存" disabled style="display:none;margin-right:10px;" />';
            str += '<input type="button" class="btn btn-primary" id="TAVMCancel" value="取消" disabled style="display:none;" />';
            str += '</td>';
            str += '</tr>';
            str += '</table>';
            str += '</form>';
            str += '</div>';
            return str;
        }
        //#endregion

        //#region 申請項目設定檔案
        @*function GetItemData(item) {
            item = item || '';
            var _reportTitle = '金庫物品存取申請單';
            var obj = {};
            obj.url = null; //開啟金庫物品的頁面 url
            obj.title = null; //開啟金庫物品的頁面 Title
            obj.openDialogWidth = 860; //開啟金庫物品的頁面 寬度
            obj.reportTitle = _reportTitle; //報表Title
            obj.reportType = null; //報表類型

            switch (item) {
                case '@Ref.TreaItemType.D1012.ToString()':
                    obj.url = UrlFor.openBILL;
                    obj.title = '@Ref.TreaItemType.D1012.GetDescription()';
                    obj.reportType = 'BILL';
                    break;
                case '@Ref.TreaItemType.D1014.ToString()':
                    obj.url = UrlFor.openESTATE;
                    obj.title = '@Ref.TreaItemType.D1014.GetDescription()';
                    obj.reportType = 'ESTATE';
                    break;
                case '@Ref.TreaItemType.D1008.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1008.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1009.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1009.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1010.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1010.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1011.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1011.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1015.ToString()':
                    obj.url = UrlFor.openSTOCK;
                    obj.title = '@Ref.TreaItemType.D1015.GetDescription()';
                    obj.openDialogWidth = 1200;
                    obj.reportType = 'STOCK';
                    break;
                case '@Ref.TreaItemType.D1024.ToString()':
                    obj.url = UrlFor.openCA;
                    obj.title = '@Ref.TreaItemType.D1024.GetDescription()';
                    obj.reportType = 'CA';
                    break;
                case '@Ref.TreaItemType.D1017.ToString()':
                    obj.url = UrlFor.openMARGINP;
                    obj.title = '@Ref.TreaItemType.D1017.GetDescription()';
                    obj.openDialogWidth = 1250;
                    obj.reportType = 'MARGINP';
                    break;
                case '@Ref.TreaItemType.D1016.ToString()':
                    obj.url = UrlFor.openMARGING;
                    obj.title = '@Ref.TreaItemType.D1016.GetDescription()';
                    obj.openDialogWidth = 900;
                    obj.reportType = 'MARGING';
                    break;
                case '@Ref.TreaItemType.D1018.ToString()':
                    obj.url = UrlFor.openItemImp;
                    obj.title = '@Ref.TreaItemType.D1018.GetDescription()';
                    obj.openDialogWidth = 1040;
                    obj.reportType = 'ITEMIMP';
                    break;
                case '@Ref.TreaItemType.D1013.ToString()':
                    obj.url = UrlFor.openDEPOSIT;
                    obj.title = '@Ref.TreaItemType.D1013.GetDescription()';
                    obj.openDialogWidth = 1325;
                    obj.reportType = 'DEPOSIT';
                    break;
            }
            return obj;
        }*@
        //#endregion
    });
</script>
