@{
    ViewBag.Title = "金庫進出管理作業-定存檢核表項目設定";
    var opScope = ViewBag.opScope;
}
@using Treasury.Web.Enum;
@using Treasury.WebUtility;
<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <form id="DCI_Form_Search">
                    <table>
                        <tr>
                            <td align="right">
                                <label>停用狀態 : </label>
                            </td>
                            <td>
                                @Html.DropDownList("dIs_Disabled_Search", (SelectList)ViewBag.dIs_Disabled_Search)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="button" class="btn btn-primary" id="DCI_Search" value="查詢" />
                                <input type="button" class="btn btn-primary" id="DCI_Order" value="排序調整" />
                            </td>
                        </tr>
                    </table>
                </form>
            }
        </div>
    </div>
    <div id="DCI_SearchDetail" style="display:none" role="dialog" class="myDialog">
        <div style="padding-bottom:5px;">
            <input type="button" id="DCI_P_Insert" value="新增存入檢核項目" class="btn btn-primary" />
        </div>
        <div id="DCI_P_jqgridDiv" class="jqd" style="padding-bottom:5px;"></div>
        <div style="padding-bottom:5px;">
            <input type="button" id="DCI_G_Insert" value="新增取出檢核項目" class="btn btn-primary" />
        </div>
        <div id="DCI_G_jqgridDiv" class="jqd" style="padding-bottom:5px;"></div>
        <div style="text-align:center;" class="DCI_Act">
            <input type="button" id="DCI_Apply" value="申請覆核" class="btn btn-primary" />
            <input type="button" id="DCI_Cancel" value="取消申請" class="btn btn-primary" />
            <input type="button" id="DCI_Back" value="回上一頁" class="btn btn-primary" />
        </div>
    </div>
    <div id="DCI_OrderDetail" style="display:none" role="dialog" class="myDialog">
        <form id="DCI_Form_Order">
            <table>
                <tr>
                    <td align="right">
                        <label>交易別 : </label>
                    </td>
                    <td>
                        @Html.DropDownList("dAccess_Type", (SelectList)ViewBag.dAccess_Type)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" class="btn btn-primary" id="DCI_Order_Search" value="查詢" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="DCI_Dialog" style="display:none;">
        <form id="DCI_DialogForm">
            <table>
                <tr>
                    <td>
                        <label>檢核項目說明 : </label>
                    </td>
                    <td>
                        <input type="text" class="DCI_InsertType" id="tDep_Chk_Item_Desc" name="tDep_Chk_Item_Desc" style="width:500px" />
                        <input type="hidden" id="hAccess_Type" />
                        <input type="hidden" id="hIsortby" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>取代變數 : </label>
                    </td>
                    <td>
                        <input type="text" class="DCI_InsertType" id="tReplace" name="tReplace" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>停用狀態 : </label>
                    </td>
                    <td>
                        @Html.DropDownList("dIs_Disabled", (SelectList)ViewBag.dIs_Disabled, new { @class = "DCI_InsertType" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="DCI_InsertTemp" value="新增" class="btn btn-primary" />
                        <input type="button" id="DCI_UpdateTemp" value="修改" class="btn btn-primary" />
                        <input type="button" id="DCI_DeleteTemp" value="刪除" class="btn btn-primary" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" id="DCI_CancelTemp" value="取消" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="OpenDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="OpenDetail"></div>
    </div>
    <div id="OpenOrderDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="OpenOrderDetail"></div>
    </div>
</div>

<script>
    $(function () {
        //#region url設定
        var DCI_Url = {};
        DCI_Url.search = '@Url.Action("SearchData", "DepChkItem")';
        DCI_Url.getData = '@Url.Action("GetCacheData", "DepChkItem")';
        DCI_Url.InsertTempData = '@Url.Action("InsertTempData", "DepChkItem")';
        DCI_Url.UpdateTempData = '@Url.Action("UpdateTempData", "DepChkItem")';
        DCI_Url.DeleteTempData = '@Url.Action("DeleteTempData", "DepChkItem")';
        DCI_Url.ResetTempData = '@Url.Action("ResetTempData", "DepChkItem")';
        DCI_Url.ApplyTempData = '@Url.Action("ApplyTempData", "DepChkItem")';
        DCI_Url.openChangeRecordView = '@Url.Action("ChangeRecordView", "DepChkItem")';
        DCI_Url.openOrderView = '@Url.Action("OrderView", "DepChkItem")';
        //#endregion url設定

        //#region 參數設定
        var DCI_Form_Search_Id = 'DCI_Form_Search'; //formId
        var DCI_Is_Disabled_Search = 'dIs_Disabled_Search'; //停用狀態Id

        var DCI_FormId = 'DCI_DialogForm'; //formId
        var DCI_Access_Type = 'hAccess_Type'; //交易別Id
        var DCI_Isortby = 'hIsortby'; //資料順序Id
        var DCI_Dep_Chk_Item_Desc = 'tDep_Chk_Item_Desc'; //檢核項目說明Id
        var DCI_Replace = 'tReplace'; //取代變數Id
        var DCI_Is_Disabled = 'dIs_Disabled'; //停用狀態Id

        var DCI_Access_Type = 'dAccess_Type'; //交易別Id

        var DCI_ConfirmFlag = false; //離開時提醒訊息

        var OpenDetailId = 'OpenDetail';
        var OpenOrderDetailId = 'OpenOrderDetail';
        //#endregion 參數設定

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        }
        else {
            ////#region 初始動作
            setDCI_Verified();
            //#endregion 初始動作

            //#region 註冊verified
            function setDCI_Verified() {
                verified.required(DCI_FormId, DCI_Dep_Chk_Item_Desc, message.required('檢核項目說明')); //檢核項目說明為必填
            }
            //#endregion 註冊verified

            //#region 註冊事件
            //按鈕
            $('input:button').each(function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'DCI_Search':
                        $('#' + id).on('click', function () { DCI_Search(); });
                        break;
                    case 'DCI_Order':
                        $('#' + id).on('click', function () { DCI_Order(); });
                        break;
                    case 'DCI_P_Insert':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_InsertFun('P'); });
                        break;
                    case 'DCI_G_Insert':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_InsertFun('G'); });
                        break;
                    case 'DCI_Apply':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_ApplyFun(); });
                        break;
                    case 'DCI_Cancel':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () {
                            if (DCI_ConfirmFlag && !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                                return false;
                            }
                            DCI_CancelFun();
                        });
                        break;
                    case 'DCI_Back':
                    case 'DCI_CancelTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click',
                            function () {
                                if (id == 'DCI_Back' &&
                                    DCI_ConfirmFlag &&
                                    !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                                    return false;
                                }
                                customerUtility.closeDialog(this);
                            });
                        break;
                    case 'DCI_InsertTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_InsertTempFun(); });
                        break;
                    case 'DCI_UpdateTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_UpdateTempFun(); });
                        break;
                    case 'DCI_DeleteTemp':
                        $('#' + id).off('click');
                        $('#' + id).on('click', function () { DCI_DeleteTempFun(); });
                        break;
                    case 'DCI_Order_Search':
                        $('#' + id).on('click', function () { DCI_Order_Search(); });
                        break;
                }
            });
            //#endregion 註冊事件

            //#region dialog
            function dialogOpen(type, rowid, listId) {
                $('#' + DCI_FormId).validate().resetForm();
                var dialogId = 'DCI_Dialog';
                var listId = listId;
                var DCI_InsertClass = 'DCI_InsertType';
                var title = customerUtility.getDialogType(type);;
                $('#' + dialogId).dialog({
                    position: { my: "top+30%", at: "center top", of: window },
                    title: title + '定存檢核表項目',
                    width: 'auto',
                    autoOpen: false,
                    resizable: false,
                    closeText: '取消',
                    close: function (event, ui) {
                        customerUtility.closeDialog(this);
                    }
                });
                $('#DCI_InsertTemp,#DCI_UpdateTemp,#DCI_DeleteTemp').hide();
                if (type == '@Ref.ActionType.Add.ToString()') {
                    ResetInsertDialog();
                    $('#DCI_InsertTemp').show();
                    $('.' + DCI_InsertClass).prop('disabled', false);
                }
                else if (type == '@Ref.ActionType.Dele.ToString()') {
                    dialogSetData(listId, rowid);
                    $('#DCI_DeleteTemp').show();
                    $('.' + DCI_InsertClass).prop('disabled', true);
                }
                else if (type == '@Ref.ActionType.Edit.ToString()') {
                    dialogSetData(listId, rowid);
                    $('#DCI_UpdateTemp').show();
                    $('.' + DCI_InsertClass).prop('disabled', false);
                }
                else if (type == '@Ref.ActionType.View.ToString()') {
                    dialogSetData(listId, rowid);
                    $('.' + DCI_InsertClass).prop('disabled', true);
                }
                $('#' + dialogId).dialog('open');
            }

            function ResetInsertDialog() {
                if ($('#' + DCI_Is_Disabled + ' option').length > 0) {
                    $('#' + DCI_Is_Disabled).val($($('#' + DCI_Is_Disabled + ' option')[0]).val())
                }
                $('#' + DCI_Isortby).val('');
                $('#' + DCI_Dep_Chk_Item_Desc).val('');
                $('#' + DCI_Replace).val('');
            }

            function dialogSetData(listId, rowid) {
                listId = listId || '';
                rowid = rowid || 0;
                ResetInsertDialog();
                if (rowid > 0) {
                    var data = $("#" + listId).getRowData(rowid);
                    //set value
                    $('#' + DCI_Access_Type).val(data.vAccess_Type);
                    $('#' + DCI_Isortby).val(data.vIsortby);
                    $('#' + DCI_Dep_Chk_Item_Desc).val(data.vDep_Chk_Item_Desc);
                    $('#' + DCI_Replace).val(data.vReplace);
                    $('#' + DCI_Is_Disabled).val(data.vIs_Disabled);
                }
            }
            //#endregion dialog

            //#region jqgrid
            function formatterAct(cellvalue, options, rdata) {
                var str = '';
                str += '<div class="btn-group">';
                str += '<a title="修改" class="btn actionEditIcon" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="DCI' + options.gid + 'Edit' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-pencil-square-o fa-lg"></i></a>';
                str += '<a title="檢視" class="btn actionViewIcon" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="DCI' + options.gid + 'View' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-search fa-lg"></i></a>';
                str += '<a title="刪除" class="btn actionDeleIcon" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="DCI' + options.gid + 'Dele' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-trash fa-lg"></i></a>';
                str += '</div>';
                return str;
            }

            function formattervIs_Disabled(cellvalue, options, rdata) {
                switch (rdata.vIs_Disabled) {
                    @{
                        foreach (var item in ((SelectList)ViewBag.dIs_Disabled))
                        {
                            <text>
                    case '@item.Value':
                        return '@item.Text';
                        </text>
                        }
                    }
                }
            }

            function unformattervIs_Disabled(cellvalue, options, rdata) {
                return rdata.vIs_Disabled;
            }

            function formattervData_Status_Name(cellvalue, options, rdata) {
                if (rdata.vData_Status == 2) {
                    return "<a href='#' class='openDialog DialogAply_No' style='text-decoration:underline;' return:false; id='" + options.gid + "Aply_No" + options.rowId + "'  name='" + cellvalue + "' title='" + cellvalue + "' '>" + cellvalue + "</a>";
                }
                else {
                    return cellvalue;
                }
            }

            function UnformattervData_Status_Name(cellvalue, options, rdata) {
                return cellvalue;
            }

            function DCI_CompleteFun(listId) {
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    var tr = $(this);
                    tr.find('td').find('a.actionEditIcon').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            dialogOpen('@Ref.ActionType.Edit.ToString()', i + 1, listId);
                        });
                    });
                    tr.find('td').find('a.actionViewIcon').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            dialogOpen('@Ref.ActionType.View.ToString()', i + 1, listId);
                        });
                    });
                    tr.find('td').find('a.actionDeleIcon').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            dialogOpen('@Ref.ActionType.Dele.ToString()', i + 1, listId);
                        });
                    });
                    var status = tr.find($.validator.format('td[aria-describedby$={0}_vData_Status]', listId)).text();
                    var Exec_Action = tr.find($.validator.format('td[aria-describedby$={0}_vExec_Action]', listId)).text();
                    if (status != '1') {
                        $(this).find('.actionEditIcon').hide();
                        $(this).find('.actionDeleIcon').hide();
                    }

                    if (Exec_Action != 'A') {
                        $(this).find('.actionDeleIcon').hide();
                    }
                    //異動申請單號
                    $(this).find('td').find('a.DialogAply_No').each(function () {
                        $(this).off('click');
                        $(this).on('click', function () {
                            OpenAply_NoFun(listId, i + 1);
                        });
                    });

                });
            }

            function OpenAply_NoFun(listId, rowid) {
                var data = $("#" + listId).getRowData(rowid);

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: data.vAply_No,
                        data: TreasuryInOutChangeRecordSearchViewModel(data.vAccess_Type,
                        data.vIsortby)
                    }),
                    dataType: 'html',
                    url: DCI_Url.openChangeRecordView,
                    contentType: 'application/json',
                    success: function (data, textStatus, jqXHR) {
                        $('#' + OpenDetailId).html(data);
                        openDetailDialog('定存檢核表項目設定異動紀錄', 1250, 'OpenDialog');
                    }
                })
            }

            function openDetailDialog(title, width, dialogId) {
                title = title || '';
                width = width || 'auto';
                title += '查詢結果';
                var dialogId = dialogId;
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: title,
                    width: width,
                    autoOpen: false,
                    resizable: false,
                    maxHeight: 600,
                    closeText: '取消',
                    close: function () {
                        $('#' + OpenDetailId).children().remove();
                    }
                });
                $('#' + dialogId).dialog('open');
            }

            function DCI_TempGrid(Access_Type) {
                var AccessTypeData = GetAccessTypeData(Access_Type);

                var colNameArray = ['動作', '執行功能', '檢核項目說明', '停用狀態', '取代變數', '資料狀態', '資料凍結人員', '交易別', '資料順序', '執行功能值', '停用狀態值', '資料狀態值', '異動申請單號'];
                var colModelArray = [];
                colModelArray.push({ name: "act", index: "act", width: 90, sortable: false, formatter: formatterAct });
                colModelArray.push({ name: "vExec_Action_Name", index: "vExec_Action_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vDep_Chk_Item_Desc", index: "vDep_Chk_Item_Desc", width: 450, sortable: false });
                colModelArray.push({ name: "vIs_Disabled_Show", index: "vIs_Disabled_Show", width: 70, align: 'center', sortable: false, formatter: formattervIs_Disabled, unformatter: unformattervIs_Disabled });
                colModelArray.push({ name: "vReplace", index: "vReplace", width: 100, sortable: false });
                colModelArray.push({ name: "vData_Status_Name", index: "vData_Status_Name", width: 100, sortable: false, align: 'center', formatter: formattervData_Status_Name, unformat: UnformattervData_Status_Name });
                colModelArray.push({ name: "vFreeze_Uid_Name", index: "vFreeze_Uid_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vAccess_Type", index: "vAccess_Type", hidden: true });
                colModelArray.push({ name: "vIsortby", index: "vIsortby", hidden: true });
                colModelArray.push({ name: "vExec_Action", index: "vExec_Action", hidden: true });
                colModelArray.push({ name: "vIs_Disabled", index: "vIs_Disabled", hidden: true });
                colModelArray.push({ name: "vData_Status", index: "vData_Status", hidden: true });
                colModelArray.push({ name: "vAply_No", index: "vAply_No", hidden: true });
                jqgridCustom.createJqgridByCache(
                    AccessTypeData.jqgridDiv,
                    AccessTypeData.TempList,
                    AccessTypeData.TempPeger,
                    DCI_Url.getData,
                    {
                        type: Access_Type
                    },
                    colNameArray,
                    colModelArray,
                    AccessTypeData.title,
                    jqgridCustom.getPage(AccessTypeData.jqgridDiv),
                    DCI_CompleteFun,
                    true
                    );
            }
            //#endregion jqgrid

            function DCI_Search() {
                var dialogId = 'DCI_SearchDetail';
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: '查詢畫面-定存檢核表項目設定',
                    width: 1100,
                    autoOpen: false,
                    maxHeight: 700,
                    resizable: false,
                    closeText: '取消'
                });

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        searchModel: TreasuryInOutSearchViewModel(
                            $('#' + DCI_Is_Disabled_Search).val())
                    }),
                    url: DCI_Url.search,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#' + dialogId).dialog('open');
                        DCI_TempGrid('P');
                        DCI_TempGrid('G');
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                    }
                });
            }

            function DCI_Order() {
                var dialogId = 'DCI_OrderDetail';
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: '排序調整查詢畫面',
                    width: 800,
                    autoOpen: false,
                    maxHeight: 500,
                    resizable: false,
                    closeText: '取消'
                });

                $('#' + dialogId).dialog('open');
            }

            function DCI_Order_Search()
            {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        Access_Type: $('#' + DCI_Access_Type).val()
                    }),
                    dataType: 'html',
                    url: DCI_Url.openOrderView,
                    contentType: 'application/json',
                    success: function (vdata, textStatus, jqXHR) {
                        $('#' + OpenOrderDetailId).html(vdata);
                        openOrderDetailDialog('定存檢核表項目設定排序', 1250, 'OpenOrderDialog');
                    }
                })
            }

            function openOrderDetailDialog(title, width, dialogId) {
                title = title || '';
                width = width || 'auto';
                title += '查詢結果';
                var dialogId = dialogId;
                $('#' + dialogId).dialog({
                    position: { my: "top", at: "center top", of: window },
                    title: title,
                    width: width,
                    autoOpen: false,
                    resizable: false,
                    maxHeight: 600,
                    closeText: '取消',
                    close: function () {
                        $('#' + OpenOrderDetailId).children().remove();
                    }
                });
                $('#' + dialogId).dialog('open');
            }

            //開啟定存檢核表項目新增頁面
            function DCI_InsertFun(Access_Type)
            {
                $('#' + DCI_Access_Type).val(Access_Type);
                dialogOpen('@Ref.ActionType.Add.ToString()', null, null);
            }

            //申請覆核
            function DCI_ApplyFun() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: DCI_Url.ApplyTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result);
                    if (result.RETURN_FLAG) {
                        customerUtility.closeDialog($('#DCI_Apply'));
                    }
                })
            }

            //取消申請
            function DCI_CancelFun() {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: DCI_Url.ResetTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    ResetInsertDialog();
                    DCI_TempGrid('P');
                    DCI_TempGrid('G');
                    DCI_ConfirmFlag = false;
                })
            }

            //新增定存檢核表項目暫存資料
            function DCI_InsertTempFun()
            {
                if ($('#' + DCI_FormId).valid()) {
                    //取代變數檢核
                    if (CheckReplace())
                    {
                        var _CheckReplace = '@@_' + $('#' + DCI_Replace).val().trim() + '_';
                        customerUtility.alert('檢核項目說明未設定取代變數：' + _CheckReplace, 'w');
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: DCI_ViewModel(
                                $('#' + DCI_Access_Type).val().trim(),
                                created.uuid(),
                                $('#' + DCI_Dep_Chk_Item_Desc).val().trim(),
                                $('#' + DCI_Replace).val().trim(),
                                $('#' + DCI_Is_Disabled).val().trim())
                        }),
                        dataType: "json",
                        url: DCI_Url.InsertTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#DCI_InsertTemp'));
                            DCI_TempGrid('P');
                            DCI_TempGrid('G');
                            DCI_ConfirmFlag = true;
                        }
                    })
                }
            }

            //修改定存檢核表項目暫存資料
            function DCI_UpdateTempFun()
            {
                if ($('#' + DCI_FormId).valid()) {
                    //取代變數檢核
                    if (CheckReplace()) {
                        var _CheckReplace = '@@_' + $('#' + DCI_Replace).val().trim() + '_';
                        customerUtility.alert('檢核項目說明未設定取代變數：' + _CheckReplace, 'w');
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: DCI_ViewModel(
                                $('#' + DCI_Access_Type).val().trim(),
                                $('#' + DCI_Isortby).val().trim(),
                                $('#' + DCI_Dep_Chk_Item_Desc).val().trim(),
                                $('#' + DCI_Replace).val().trim(),
                                $('#' + DCI_Is_Disabled).val().trim())
                        }),
                        dataType: "json",
                        url: DCI_Url.UpdateTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#DCI_UpdateTemp'));
                            DCI_TempGrid('P');
                            DCI_TempGrid('G');
                            DCI_ConfirmFlag = true;
                        }
                    })
                }
            }

            //刪除定存檢核表項目暫存資料
            function DCI_DeleteTempFun()
            {
                if ($('#' + DCI_FormId).valid()) {
                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({
                            model: DCI_ViewModel(
                                $('#' + DCI_Access_Type).val().trim(),
                                $('#' + DCI_Isortby).val().trim())
                        }),
                        dataType: "json",
                        url: DCI_Url.DeleteTempData,
                        contentType: 'application/json',
                    }).done(function (result) {
                        customerUtility.alertAuto(result);
                        if (result.RETURN_FLAG) {
                            customerUtility.closeDialog($('#DCI_DeleteTemp'));
                            DCI_TempGrid('P');
                            DCI_TempGrid('G');
                        }
                    })
                }
            }

            function GetAccessTypeData(Access_Type) {
                Access_Type = Access_Type || '';
                var obj = {};
                obj.jqgridDiv = null; //jqgridDiv
                obj.TempList = null; //TempList
                obj.TempPeger = null; //TempPeger
                obj.title = null; //title

                switch (Access_Type) {
                    case 'P':
                        obj.jqgridDiv = 'DCI_P_jqgridDiv';
                        obj.TempList = 'DCI_P_TempList';
                        obj.TempPeger = 'DCI_P_TempPeger';
                        obj.title = '交易別：存入';
                        break;
                    case 'G':
                        obj.jqgridDiv = 'DCI_G_jqgridDiv';
                        obj.TempList = 'DCI_G_TempList';
                        obj.TempPeger = 'DCI_G_TempPeger';
                        obj.title = '交易別：取出';
                        break;
                }

                return obj;
            }

            //取代變數檢核
            function CheckReplace()
            {
                if ($('#' + DCI_Replace).val().trim() == "") {
                    return false;
                }
                else {
                    var _Dep_Chk_Item_Desc = $('#' + DCI_Dep_Chk_Item_Desc).val().trim();
                    var _CheckReplace = '@@_' + $('#' + DCI_Replace).val().trim() + '_';
                    if(_Dep_Chk_Item_Desc.match(_CheckReplace)!=null)
                    {
                        return false;
                    }
                    else
                    {
                        return true;
                    }
                }
            }

            function DCI_ViewModel(
                vAccess_Type,
                vIsortby,
                vDep_Chk_Item_Desc,
                vReplace,
                vIs_Disabled
                ) {
                    var obj = {};
                    obj['vAccess_Type'] = vAccess_Type;
                    obj['vIsortby'] = vIsortby;
                    obj['vDep_Chk_Item_Desc'] = vDep_Chk_Item_Desc;
                    obj['vReplace'] = vReplace;
                    obj['vIs_Disabled'] = vIs_Disabled;
                    return obj;
                }

            //#region 查詢畫面  ViewModel
            function TreasuryInOutSearchViewModel(
                vIs_Disabled
                ) {
                var obj = {};
                obj['vIs_Disabled'] = vIs_Disabled;
                return obj;
            }
            //#endregion

            //#region 異動紀錄查詢畫面  ViewModel
            function TreasuryInOutChangeRecordSearchViewModel(
                vAccess_Type,
                vIsortby
                ) {
                var obj = {};
                obj['vAccess_Type'] = vAccess_Type;
                obj['vIsortby'] = vIsortby;
                return obj;
            }
        }
    });
</script>