@using Treasury.Web.Enum;
@using Treasury.WebUtility;
<div class="row">
    <div style="padding-bottom:5px;">
        <input type="button" id="ItemImpInsert" value="新增存入明細" class="btn btn-primary" style="display:none" />
    </div>
    <div id="ItemImpjqgridDiv" class="jqd" style="padding-bottom:5px;">


    </div>
    <div style="text-align:center;display:none;" class="ItemImp_Act">
        <input type="button" id="ItemImpApply" value="申請覆核" class="btn btn-primary TAApplyClass" />
        <input type="button" id="ItemImpCancel" value="取消申請" class="btn btn-primary" />
        <input type="button" id="ItemImpBack" value="回上一頁" class="btn btn-primary" />
    </div>

    <div id="ItemImpDialog" style="display:none">
        <form id="ItemImpDialogForm">
            <table>
                
                <tr>
                    <td>
                        <label>物品名稱 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_Name" name="tItemImp_Name" class="ItemImpInsertType" maxlength="14" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>數量 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_Quantity" name="tItemImp_Quantity" class="ItemImpInsertType" maxlength="9"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>金額 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_Amount" name="tItemImp_Amount" class="ItemImpInsertType" maxlength="9" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>預計提取日期 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_Expected_Date" name="tItemImp_Expected_Date" class="ItemImpInsertType" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>說明 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_Description" name="tItemImp_Description" class="ItemImpInsertType" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>備註 : </label>
                    </td>
                    <td>
                        <textarea id="tItemImp_MEMO" name="tItemImp_MEMO" class="ItemImpInsertType" style="width:207px;height:80px;" maxlength="200" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" id="hItemImp_ITEM_ID" />
                    </td>
                </tr>
                @*<tr>
                    <td colspan="2">
                        <input type="hidden" id="tItemImp_Expected_Date_2" name="tItemImp_Expected_Date_2"class="ItemImpInsertType"/>
                    </td>
                </tr>*@
                <tr>
                    <td>
                        <input type="button" id="ItemImpInsertTemp" value="新增" class="btn btn-primary" />
                        <input type="button" id="ItemImpUpdateTemp" value="修改" class="btn btn-primary" />
                        <input type="button" id="ItemImpDeleteTemp" value="刪除" class="btn btn-primary" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" id="ItemImpCancelTemp" value="取消" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="ItemImpTakeOutDialog" style="display:none">
        <form id="ItemImpDialogTakeOutForm">
            <table>
                <tr>
                    <td>
                        <label>物品名稱 : </label>
                    </td>
                    <td>
                        <label id="lItemImp_Name"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>剩餘數量 : </label>
                    </td>
                    <td>
                        <label id="lItemImp_G_Remaining"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>取出數量 : </label>
                    </td>
                    <td>
                        <input type="text" id="tItemImp_G_Quantity" name="tItemImp_G_Quantity"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>金額 : </label>
                    </td>
                    <td>
                        <label id="lItemImp_Amount"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>預計提取日期 : </label>
                    </td>
                    <td>
                        <label id="lItemImp_Expected_Date"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>說明 : </label>
                    </td>
                    <td>
                        <label id="lItemImp_Description"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>備註 : </label>
                    </td>
                    <td>
                        <textarea id="tItemImpTakeOut_MEMO" name="tItemImpTakeOut_MEMO" disabled style="width:207px;height:80px;" maxlength="200" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" id="hTakeOutItemImp_ITEM_ID" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="ItemImpTakeOutTemp" value="修改" class="btn btn-primary" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" id="ItemImpTakeOutCancelTemp" value="取消" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    $(function () {
        //#region url設定
        var ItemImpurl = {};
        ItemImpurl.getData = '@Url.Action("GetCacheData", "ItemImp")';
        ItemImpurl.InsertTempData = '@Url.Action("InsertTempData", "ItemImp")';
        ItemImpurl.UpdateTempData = '@Url.Action("UpdateTempData", "ItemImp")';
        ItemImpurl.DeleteTempData = '@Url.Action("DeleteTempData", "ItemImp")';
        ItemImpurl.ResetTempData = '@Url.Action("ResetTempData", "ItemImp")';
        ItemImpurl.TakeOutData = '@Url.Action("TakeOutData", "ItemImp")';
        ItemImpurl.ApplyTempData = '@Url.Action("ApplyTempData", "ItemImp")';
        //#endregion

        //#region 參數設定


        //庫存資料
        var ItemImpDialogId = 'ItemImpDialog'; //dialogId
        var ItemImpDialogFormId = 'ItemImpDialogForm'; //dialogFormId
        var ItemImp_Name = 'tItemImp_Name';//物品名稱Id(text)
        var ItemImp_Quantity = 'tItemImp_Quantity';//數量Id(text)
        var ItemImp_Amount = 'tItemImp_Amount';//金額Id(text)
        var ItemImp_Expected_Date = 'tItemImp_Expected_Date';//預計提取日期(text)
        var ItemImp_Description = 'tItemImp_Description';//說明(text)
        var ItemImp_MemoId = 'tItemImp_MEMO'; //備註Id(texarea)
        var ItemImp_Item_IdHlId = 'hItemImp_ITEM_ID'; //物品標號Id(hidden)
        var ItemImpTakeOutDialogId = 'ItemImpTakeOutDialog'; //取出-TakeOutDialogId
        var ItemImpDialogTakeOutFormId = 'ItemImpDialogTakeOutForm'; //取出-DialogTakeOutForm
        var lItemImp_Name = 'lItemImp_Name'; //取出-物品名稱Id(label)
        var lItemImp_G_Remaining = 'lItemImp_G_Remaining'; //取出-剩餘數量Id(label)
        var tItemImp_G_Quantity = 'tItemImp_G_Quantity'; //取出-取出數量Id(text)
        var lItemImp_Amount = 'lItemImp_Amount'; //取出-金額Id(label)
        var lItemImp_Expected_Date = 'lItemImp_Expected_Date'; //取出-預計提取日期Id(label)
        var lItemImp_Description = 'lItemImp_Description'; //取出-說明Id(label)
        var tItemImpTakeOut_MEMO = 'tItemImpTakeOut_MEMO'; //取出-備註Id(texarea)
        var ITakeOuttemImp_Item_IdHlId = 'hTakeOutItemImp_ITEM_ID'; //取出-物品標號Id(hidden)
        //var ItemImp_Expected_Date_2 = 'tItemImp_Expected_Date_2';//預計提取日期西元年(hidden)
        var ItemImp_Act_Type = 'True' == '@ViewBag.dActType'; //覆核狀態
        var type = $('input[name=cProjectType]:checked').val(); //存入 or 取出
        var ItemImp_Aply_No_Flag = $('#TAR_AplyNo').val() != ''; //有單號(true)為查詢畫面之修改,(false)為新增
        if (ItemImp_Aply_No_Flag) {
            $('#ItemImpCancel').hide(); //已經申請故無法取消申請
            type = '@ViewBag.dAccess';
        }

        if (!ItemImp_Act_Type) { //不是覆核狀態 (為使用單號查詢資料)
            $('.ItemImp_Act').hide();
            type = '@ViewBag.dAccess';
        }
        else { //是覆核狀態 (為存入 or 取出 動作)
            $('.ItemImp_Act').show();
        }
        var typeFlag = (type == '@Ref.AccessProjectTradeType.P.ToString()'); //存入為 True 取出 為 False
        if (typeFlag && ItemImp_Act_Type) {
            $('#ItemImpInsert').show();
        }

        var OPVT = '@ViewBag.OPVT';
        if (OPVT == '@Ref.OpenPartialViewType.CustodyIndex') {
            $('#ItemImpInsert').hide();
        }

        //#endregion

        function clearJqgrid(gridDivId) {
            $('#' + gridDivId).children().remove();
        }

        var ItemImpConfirmFlag = false;

        //#region 初始動作
        ItemImpTempGrid();
        setItemImpVerified();
        //#endregion
        created.createDatepicker(ItemImp_Expected_Date, null);
        //#region 註冊verified
        function setItemImpVerified() {
            verified.required(ItemImpDialogFormId, ItemImp_Name, message.required('重要物品名稱')); //重要物品名稱為必填
            verified.required(ItemImpDialogFormId, ItemImp_Quantity, message.required('重要物品數量'));//重要物品數量為必填
            //verified.datepicker(ItemImpDialogFormId, ItemImp_Expected_Date, $('#' + ItemImp_Expected_Date).val());
            verified.price(ItemImpDialogFormId, ItemImp_Amount); //重要物品金額驗證
            verified.number(ItemImpDialogTakeOutFormId, tItemImp_G_Quantity); //取出物品數量輸入為數字
            verified.number(ItemImpDialogFormId, ItemImp_Quantity);//重要物品數量輸入為數字
        }
        //#endregion

        //#region 註冊事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'ItemImpInsert':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpInsertFun(); });
                    break;
                case 'ItemImpApply':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpApplyFun(); });
                    break;
                case 'ItemImpCancel':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () {
                        if (ItemImpConfirmFlag && !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                            return false;
                        }
                        ItemImpCancelFun();
                    });
                    break;
                case 'ItemImpTakeOutTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpTakeOutTempFun(); });
                    break;
                case 'ItemImpTakeOutCancelTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () {
                        customerUtility.closeDialog(this);
                    });
                    break;
                case 'ItemImpBack':
                case 'ItemImpCancelTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click',
                        function () {
                            if (id == 'ItemImpBack' &&
                                    ItemImpConfirmFlag &&
                                    !confirm('@Ref.MessageType.application_Audit_Confirm.GetDescription()')) {
                            return false;
                        }
                        customerUtility.closeDialog(this);
                    });
                    break;
                case 'ItemImpInsertTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpInsertTempFun(); });
                    break;
                case 'ItemImpUpdateTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpUpdateTempFun(); });
                    break;
                case 'ItemImpDeleteTemp':
                    $('#' + id).off('click');
                    $('#' + id).on('click', function () { ItemImpDeleteTempFun(); });
                    break;
            }
        });

        function ItemImpReset() {
            $('#' + ItemImp_LocatedTId).val('');
            $('#' + ItemImp_MemoTId).val('');
        }

        function ItemImpApplyFun() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: ItemImpurl.ApplyTempData,
                contentType: 'application/json',
            }).done(function (result) {
                customerUtility.alertAuto(result);
                if (result.RETURN_FLAG) {
                    customerUtility.closeDialog($('#ItemImpApply'));
                }
            })
        }

        function ItemImpCancelFun() {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    AccessType: type
                }),
                dataType: "json",
                url: ItemImpurl.ResetTempData,
                contentType: 'application/json',
            }).done(function (result) {
                ResetInsertDialog();
                ItemImpTempGrid();
            })
        }

        function formatterTakeOut(cellvalue, options, rdata) {
            var str = '';
            str += '<div class="btn-group">';
            if (ItemImp_Act_Type)
            {
                str += '<a title="取出" class="btn actionTakeout" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="ItemImp' + options.gid + 'TakeOut' + options.rowId + '" return:false;="">';
                str += '<i class="fa fa-pencil-square-o fa-lg"></i></a>';
            }
            str += '<a title="查詢" class="btn actionSearch" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" href="#" id="ItemImp' + options.gid + 'Search' + options.rowId + '" return:false;="">';
            str += '<i class="fa fa-search fa-lg"></i></a>';
            str += '</div>';
            return str;
        }


        function ItemImpTempGrid() {
            if (typeFlag) { //存入
                var colNameArray = ['動作', '歸檔編號', '重要物品名稱', '重要物品數量', '重要物品金額', '預計提取日期', '說明', '備註','ItemId'];
                var colModelArray = [];
                colModelArray.push({ name: "act", index: "act", width: 90, sortable: false });
                colModelArray.push({ name: "vShowItemId", index: "vItemId", width: 120, align: 'center' });
                colModelArray.push({ name: "vItemImp_Name", index: "vItemImp_Name", width: 100, sortable: false });
                colModelArray.push({ name: "vItemImp_Quantity", index: "vItemImp_Quantity", width: 100, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vItemImp_Amount", index: "vItemImp_Amount", width: 100, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vItemImp_Expected_Date", index: "vItemImp_Expected_Date", align: 'center', width: 100, sortable: false });
                colModelArray.push({ name: "vDescription", index: "vDescription", width: 100, sortable: false });
                colModelArray.push({ name: "vMemo", index: "vMemo", width: 270, sortable: false });
                colModelArray.push({ name: "vItemId", index: "vItemId", hidden:true });
                //colModelArray.push({ name: "vItemImp_Expected_Date_2", index: "vItemImp_Expected_Date_2", hidden: true });
                jqgridCustom.createJqgridByCache(
                    'ItemImpjqgridDiv',
                    'ItemImpTempList',
                    'ItemImpTempPeger',
                    ItemImpurl.getData,
                    {

                    },
                    colNameArray,
                    colModelArray,
                    '存入明細資料',
                    jqgridCustom.getPage('ItemImpjqgridDiv'),
                    ItemImpTempCompleteFun,
                    true
                    );
            }
            else { //取出
                var colNameArray = [ '動作', '歸檔編號', '重要物品名稱', '剩餘數量', '取出數量', '重要物品金額', '預計提取日期', '說明', '備註', '重要物品數量' ,'ItemId'];
                var colModelArray = [];
                if (!ItemImp_Act_Type) {
                    //colModelArray.push({ name: "vtakeoutFlag", index: "vtakeoutFlag", sortable: false, align: 'center', formatter: formatterTakeOut, hidden: true });
                    colModelArray.push({ name: "act", index: "act", width: 90, sortable: false, align: 'center', formatter: formatterTakeOut });
                }
                else {
                    //colModelArray.push({ name: "vtakeoutFlag", index: "vtakeoutFlag", width: 45, sortable: false, align: 'center', formatter: formatterTakeOut });
                    colModelArray.push({ name: "act", index: "act", width: 90, sortable: false, align: 'center', formatter: formatterTakeOut });
                }
                colModelArray.push({ name: "vShowItemId", index: "vItemId", width: 100, align: 'center' });
                colModelArray.push({ name: "vItemImp_Name", index: "vItemImp_Name", width: 90, sortable: false });
                colModelArray.push({ name: "vItemImp_Remaining", index: "vItemImp_Remaining", width: 90, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vItemImp_G_Quantity", index: "vItemImp_G_Quantity", width: 90, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vItemImp_Amount", index: "vItemImp_Amount", width:110, sortable: false, align: 'right', formatter: customerUtility.addCommas, unformat: customerUtility.removeCommas });
                colModelArray.push({ name: "vItemImp_Expected_Date", index: "vItemImp_Expected_Date", align: 'center', width: 110, sortable: false });
                colModelArray.push({ name: "vDescription", index: "vDescription", width: 90, sortable: false });
                colModelArray.push({ name: "vMemo", index: "vMemo", width: 210, sortable: false });
                colModelArray.push({ name: "vItemImp_Quantity", index: "vItemImp_Quantity", hidden: true });
                colModelArray.push({ name: "vItemId", index: "vItemId", hidden: true });
                //colModelArray.push({ name: "vItemImp_Expected_Date_2", index: "vItemImp_Expected_Date_2", hidden: true });
                jqgridCustom.createJqgridByCache(
                    'ItemImpjqgridDiv',
                    'ItemImpTempList',
                    'ItemImpTempPeger',
                    ItemImpurl.getData,
                    {
                    },
                    colNameArray,
                    colModelArray,
                    '取出明細資料',
                    jqgridCustom.getPage('ItemImpjqgridDiv'),
                    ItemImpTempTakeOutFun,
                    true
                    );
            }
        }

        function ItemImpTempTakeOutFun(listId) {
            jqgridCustom.randerAction(listId, 'ItemImpTemp', tempActFun);
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                $(this).find('td').find('a.actionTakeout').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        takeout(i + 1);
                    });
                });
                $(this).find('td').find('a.actionSearch').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        search(i + 1);
                    });
                });
            });
        }

        function takeout(rowid) {
            dialogTakeOutOpen(rowid, '取出');
            $('#' + tItemImp_G_Quantity).prop('disabled', false);
            $('#ItemImpTakeOutTemp').show();
        }

        function search(rowid) {
            dialogTakeOutOpen(rowid, '查詢');
            $('#' + tItemImp_G_Quantity).prop('disabled', true);
            $('#ItemImpTakeOutTemp').hide();
        }

        function dialogTakeOutOpen(rowid,title) {
            $('#' + ItemImpDialogTakeOutFormId).validate().resetForm();
            var dialogId = ItemImpTakeOutDialogId;
            var listId = 'ItemImpTempList';
            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: title + '重要物品',
                width: 'auto',
                autoOpen: false,
                resizable: false,
                closeText: '取消',
                close: function (event, ui) {
                    customerUtility.closeDialog(this);
                }
            });
            var data = $("#" + listId).getRowData(rowid);
            $('#' + lItemImp_Name).text('');
            $('#' + lItemImp_Name).text(data.vItemImp_Name);
            $('#' + lItemImp_G_Remaining).text('');
            $('#' + lItemImp_G_Remaining).text(customerUtility.addCommas(data.vItemImp_Remaining));
            $('#' + tItemImp_G_Quantity).val('');
            $('#' + tItemImp_G_Quantity).val(data.vItemImp_G_Quantity);
            $('#' + lItemImp_Amount).text('');
            $('#' + lItemImp_Amount).text(customerUtility.addCommas(data.vItemImp_Amount));
            $('#' + lItemImp_Expected_Date).text('');
            $('#' + lItemImp_Expected_Date).text(data.vItemImp_Expected_Date);
            $('#' + lItemImp_Description).text('');
            $('#' + lItemImp_Description).text(data.vDescription);
            $('#' + tItemImpTakeOut_MEMO).val('');
            $('#' + tItemImpTakeOut_MEMO).val(data.vMemo);
            $('#' + ITakeOuttemImp_Item_IdHlId).val('');
            $('#' + ITakeOuttemImp_Item_IdHlId).val(data.vItemId);
            $('#' + dialogId).dialog('open');
        }

        function ItemImpTempCompleteFun(listId) {
            jqgridCustom.randerAction(listId, 'ItemImpTemp', tempActFun);
            if (!ItemImp_Act_Type) { //申請狀態
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    $(this).find('.actionEditIcon').hide();
                    $(this).find('.actionDeleIcon').hide();
                });
            }
            if (OPVT == '@Ref.OpenPartialViewType.CustodyIndex') {
                $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                    $(this).find('.actionDeleIcon').hide();
                });
            }
        }

        var tempActFun = {};
        tempActFun.Edit = function (i) {
            dialogOpen('@Ref.ActionType.Edit.ToString()', i);
        }
        tempActFun.Dele = function (i) {
            dialogOpen('@Ref.ActionType.Dele.ToString()', i);
        }
        tempActFun.View = function (i) {
            dialogOpen('@Ref.ActionType.View.ToString()', i);
        }

        //#region function
        function ItemImpInsertFun() {

            dialogOpen('@Ref.ActionType.Add.ToString()', null);
        }

        function dialogOpen(type, rowid) {
            $('#' + ItemImpDialogFormId).validate().resetForm();
            var dialogId = 'ItemImpDialog';
            var listId = 'ItemImpTempList';
            var ItemImpInsertClass = 'ItemImpInsertType';
            var title = customerUtility.getDialogType(type);;
            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: title + '重要物品',
                width: 'auto',
                autoOpen: false,
                resizable: false,
                closeText: '取消',
                close: function (event, ui) {
                    customerUtility.closeDialog(this);
                }
            });
            $('#ItemImpInsertTemp,#ItemImpUpdateTemp,#ItemImpDeleteTemp').hide();
            if (type == '@Ref.ActionType.Add.ToString()') {
                ResetInsertDialog();
                $('#ItemImpInsertTemp').show();
                $('.' + ItemImpInsertClass).prop('disabled', false);
                @*if ('@ViewBag.CustodianFlag' != "True")
                {
                    $('#' + ItemImp_MemoId).prop('disabled', true);
                }*@
            }
            else if (type == '@Ref.ActionType.Dele.ToString()') {
                dialogSetData(listId, rowid);
                $('#ItemImpDeleteTemp').show();
                $('.' + ItemImpInsertClass).prop('disabled', true);
            }
            else if (type == '@Ref.ActionType.Edit.ToString()') {
                dialogSetData(listId, rowid);
                $('#ItemImpUpdateTemp').show();
                $('.' + ItemImpInsertClass).prop('disabled', false);
                @*if ('@ViewBag.CustodianFlag' != "True") {
                    $('#' + ItemImp_MemoId).prop('disabled', true);
                }*@
            }
            else if (type == '@Ref.ActionType.View.ToString()') {
                dialogSetData(listId, rowid);
                $('.' + ItemImpInsertClass).prop('disabled', true);
            }
            $('#' + dialogId).dialog('open');
        }

        function ResetInsertDialog() {

            $('#' + ItemImp_Name).val('');
            $('#' + ItemImp_Quantity).val('');
            $('#' + ItemImp_Amount).val('');
            $('#' + ItemImp_Expected_Date).val('');
            $('#' + ItemImp_Description).val('');
            $('#' + ItemImp_MemoId).val('');
            $('#' + ItemImp_Item_IdHlId).val('');
            //$('#' + ItemImp_Expected_Date_2).val('');
        }

        function dialogSetData(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            ResetInsertDialog();
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);
                //set value
                $('#' + ItemImp_Name).val(data.vItemImp_Name);
                $('#' + ItemImp_Quantity).val(data.vItemImp_Quantity);
                $('#' + ItemImp_Amount).val(data.vItemImp_Amount);
                $('#' + ItemImp_Expected_Date).val(data.vItemImp_Expected_Date);
                $('#' + ItemImp_Description).val(data.vDescription);
                $('#' + ItemImp_MemoId).val(data.vMemo);
                $('#' + ItemImp_Item_IdHlId).val(data.vItemId);
                //$('#' + ItemImp_Expected_Date_2).val(data.vItemImp_Expected_Date_2);
            }
        }

        //新增暫存重要物品明細
        function ItemImpInsertTempFun() {
            if ($('#' + ItemImp_Expected_Date).val().trim() != '' && !verified.isDate($('#' + ItemImp_Expected_Date).val().trim()))
            {
                customerUtility.alert('預計提取日期格式不為yyyy/MM/dd', 'w');
                return false;
            }
            if ($('#' + ItemImpDialogFormId).valid()) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        model: ItemImpViewModel(
                            created.uuid(),
                            $('#' + ItemImp_Name).val().trim(),
                            $('#' + ItemImp_Quantity).val().trim(),
                            $('#' + ItemImp_Amount).val().trim(),
                            $('#' + ItemImp_Expected_Date).val().trim(),
                            //$('#' + ItemImp_Expected_Date_2).val(),
                            $('#' + ItemImp_Description).val().trim(),
                            $('#' + ItemImp_MemoId).val().trim())
                    }),
                    dataType: "json",
                    url: ItemImpurl.InsertTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result);
                    if (result.RETURN_FLAG) {
                        customerUtility.closeDialog($('#ItemImpInsertTemp'));
                        ItemImpTempGrid();
                        ItemImpConfirmFlag = true;
                    }
                })
            }
        }

        function ItemImpUpdateTempFun() {
            if ($('#' + ItemImp_Expected_Date).val().trim() != '' && !verified.isDate($('#' + ItemImp_Expected_Date).val().trim())) {
                customerUtility.alert('預計提取日期格式不為yyyy/MM/dd', 'w');
                return false;
            }
            if ($('#' + ItemImpDialogFormId).valid()) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        model: ItemImpViewModel(

                            $('#' + ItemImp_Item_IdHlId).val(),
                            $('#' + ItemImp_Name).val().trim(),
                            $('#' + ItemImp_Quantity).val().trim(),
                            $('#' + ItemImp_Amount).val().trim(),
                            $('#' + ItemImp_Expected_Date).val().trim(),
                            //$('#' + ItemImp_Expected_Date).val(),
                            $('#' + ItemImp_Description).val().trim(),
                            $('#' + ItemImp_MemoId).val().trim())

                    }),
                    dataType: "json",
                    url: ItemImpurl.UpdateTempData,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result);
                    if (result.RETURN_FLAG) {
                        customerUtility.closeDialog($('#ItemImpUpdateTemp'));
                        ItemImpTempGrid();
                        ItemImpConfirmFlag = true;
                    }
                })
            }
        }

        function ItemImpDeleteTempFun() {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    model: ItemImpViewModel(
                        $('#' + ItemImp_Item_IdHlId).val())
                }),
                dataType: "json",
                url: ItemImpurl.DeleteTempData,
                contentType: 'application/json',
            }).done(function (result) {
                customerUtility.alertAuto(result);
                if (result.RETURN_FLAG) {
                    customerUtility.closeDialog($('#ItemImpDeleteTemp'));
                    ItemImpTempGrid();
                    if (ItemImp_Aply_No_Flag) //從查詢畫面進來的
                    {
                        ItemImpConfirmFlag = true;
                    }
                    else //新增存入畫面
                    {
                        ItemImpConfirmFlag = reault.Datas;
                    }
                }
            })
        }

        function ItemImpTakeOutTempFun() {
            if ($('#' + ItemImpDialogTakeOutFormId).valid())
            {
                if (Number($('#' + tItemImp_G_Quantity).val()) > Number(customerUtility.removeCommas($('#lItemImp_G_Remaining').text()))) {
                    customerUtility.alert('取出數量不能大於剩餘數量', 'w');
                    return false;
                }
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        vItemId: $('#' + ITakeOuttemImp_Item_IdHlId).val(),
                        vItemImp_G_Quantity: $('#' + tItemImp_G_Quantity).val()
                    }),
                    dataType: "json",
                    url: ItemImpurl.TakeOutData,
                    contentType: 'application/json',
                }).done(function (result) {
                    customerUtility.alertAuto(result);
                    if (result.RETURN_FLAG) {
                        ItemImpTempGrid();
                        ItemImpConfirmFlag = result.Datas;
                        customerUtility.closeDialog($('#ItemImpTakeOutTemp'));
                    }
                })
            }


        }


        function ItemImpViewModel(
            vItemId,
            vItemImp_Name,
            vItemImp_Quantity,
            vItemImp_Amount,
            vItemImp_Expected_Date,
            //vItemImp_Expected_Date_2,
            vDescription,
            vMemo
            ) {
            var obj = {};
            obj['vItemId'] = vItemId;
            obj['vItemImp_Name'] = vItemImp_Name;
            obj['vItemImp_Quantity'] = vItemImp_Quantity;
            obj['vItemImp_Amount'] = vItemImp_Amount;
            obj['vItemImp_Expected_Date'] = vItemImp_Expected_Date;
            //obj['vItemImp_Expected_Date_2'] = vItemImp_Expected_Date_2;
            obj['vDescription'] = vDescription;
            obj['vMemo'] = vMemo;
            return obj;
        }

        //#endregion

    });
</script>