@model FAP.Web.ViewModels.OAP0046Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;
    var opScope = ViewBag.opScope;
}




<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <table>
                    <tr>
                        <td>
                            申請人員帳號：@Html.TextBoxFor(model => model.update_id, new { @size = "12", @maxlength = "10" })
                        </td>

                        <td>
                            @Html.DisplayNameFor(model => model.tel_proc_no)：@Html.TextBoxFor(model => model.tel_proc_no, new { @size = "13", @maxlength = "12" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.paid_id)：@Html.TextBoxFor(model => model.paid_id, new { @size = "12", @maxlength = "10" })
                        </td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
                        <input type="submit" id="btnClear" name="btnClear" value="清空" class="btn btn-primary" />
                    </div>
                </div>
                <br>

                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>



<script type="text/javascript">
    //轉跳"申請單明細"畫面
    function qryDetail(aply_no) {
        rowData = $("#grid").jqGrid('getRowData', aply_no);

        var type = rowData.type;



        var url = '@Html.Raw(Url.Action("detailAply", "OAP0047A"
                  , new { aply_no = "__aply_no__", }))';
        var params = url.replace('__aply_no__', aply_no);

        window.location.href = params;

    }



    $(function () {
        $.unblockUI();
        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else {

            //createGrid();
        }


        //*---------------清除 begin ----------------*//
        $("#btnClear").click().on('click', function () {

            $('#update_id').val("");
            $('#tel_proc_no').val("");
            $('#paid_id').val("");

            jQuery("#grid").jqGrid('clearGridData').trigger("reloadGrid");
        });
        //*---------------清除 end ----------------*//


        //*-------------------覆核資料 GRID begin--------------------*//
        $("#grid").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "aply_no" },
            colModel: [
                {
                    label: '覆核編號',
                    name: 'aply_no', align: 'center',
                    editable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var aply_no = rowObject.aply_no;
                        return '<a href="javascript:qryDetail(\'' + options.rowId + '\')" style="color: #3366ff" id="' + options.rowId + '" >' + cellvalue.trim() + '</a>';

                    }
                },
                {
                    label: '電訪編號',
                    name: 'tel_proc_no', align: 'center',
                    editable: false
                },
                {
                    label: '給付對象姓名',
                    name: 'paid_name', align: 'center',
                    editable: false
                },
                {
                    label: '申請人',
                    name: 'update_id', align: 'center', width: '80',
                    editable: false
                },
                {
                    label: '申請人姓名',
                    name: 'update_name', align: 'center', width: '100',
                    editable: false
                },
                {
                    label: '申請日期',
                    name: 'update_datetime', align: 'center', width: '200',
                    editable: false
                }
            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: false,
            forceFit: false,
            loadonce: true,
            //sortname: "exec_date",
            rownumbers: true,
            viewrecords: true,
            rowNum: 20,
            rowList: [20, 25, 50],
            pager: "#pager",
            loadComplete: function () {

            }
        });

        //*-------------------覆核資料 GRID end--------------------*//




        //*---------------查詢 begin ----------------*//
        $("#btnQry").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }

            var jsonData = JSON.stringify({
                model: {
                     'update_id': $("#update_id").val()
                    , 'tel_proc_no': $("#tel_proc_no").val()
                    , 'paid_id': $("#paid_id").val()

                }

            });

            $.blockUI(); //畫面鎖起來

             $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("qryAply", "OAP0047A")',
                contentType: 'application/json',
                success: function (data) {

                    if (data.success) {
                        //更新畫面GRID
                        jQuery("#grid").jqGrid('clearGridData')
                            .jqGrid('setGridParam', { data: data.dataList })
                            .trigger("reloadGrid");


                        if (data.dataList.length == 0)
                            validationSummary.append('<li>' + '資料不存在!!"' + '</li>');

                    } else
                        validationSummary.append('<li>' + data.err + '</li>');

                    $.unblockUI(); //畫面打開
                }
            });


        });
        //*---------------查詢 end ----------------*//





        ////*--------------查詢待覆核資料  begin-----------------*//
        //function createGrid() {


        //    $('#qryResult').children().remove();

        //    $('#qryResult').append('<table id="' + "grid" + '"></table>');
        //    $('#qryResult').append('<div id="' + "pager" + '"></div>');



        //    $.blockUI(); //畫面鎖起來

        //    $("#grid").jqGrid({
        //        url: '/OAP0047A/LoadData/',
        //       // postData: para,
        //        datatype: 'json',
        //        jsonReader: {
        //            repeatitems: false, id: 'aply_no'
        //        },
        //        mtype: 'POST',
        //        colModel: [
        //        {
        //            label: '電訪編號',
        //                name: 'aply_no', align: 'center',
        //            editable: false,
        //            formatter: function (cellvalue, options, rowObject) {
        //                var aply_no = rowObject.aply_no;
        //                return '<a href="javascript:qryDetail(\'' + options.rowId + '\')" style="color: #3366ff" id="' + options.rowId + '" >' + cellvalue.trim() + '</a>';

        //            }
        //            },
        //            {
        //                label: '電訪編號',
        //                name: 'tel_proc_no', align: 'center',
        //                editable: false
        //            },
        //        {
        //            label: '給付對姓名',
        //            name: 'paid_name', align: 'center',
        //            editable: false
        //        },
        //       {
        //           label: '申請人',
        //           name: 'update_id', align: 'center',
        //           editable: false
        //            },
        //            {
        //                label: '申請人姓名',
        //                name: 'update_name', align: 'center',
        //                editable: false
        //            },
        //        {
        //            label: '申請日期',
        //            name: 'update_datetime', align: 'center',
        //            editable: false
        //        }
        //        ],

        //        autowidth: true,
        //        shrinkToFit: true,
        //        forceFit: true,
        //        pager: '#pager',
        //        width: 'auto',
        //        height: 'auto',
        //        rowNum: 10,
        //        rowList: [10, 20],
        //        sortname: 'aply_no',
        //        sortorder: "acs",
        //        viewrecords: true,
        //        loadonce: true,
        //        loadComplete: function () {
        //            var cnt = $('#grid').getGridParam('records')
        //            $('#validationSummary').children().remove();

        //            if (cnt == 0) {


        //                var validationSummary = $('#validationSummary ul.validation-summary-errors');

        //                if (validationSummary.length == 0) {
        //                    $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
        //                    validationSummary = $('#validationSummary ul.validation-summary-errors');
        //                }
        //                validationSummary.append('<li>' + '無符合條件的資料!!' + '</li>');

        //            }
        //        }

        //    });

        //    $.unblockUI(); //畫面打開
        //}

        ////*--------------查詢待覆核資料  end-----------------*//







    });
</script>


