@model FAP.Web.ViewModels.OAP0011Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;

    var opScope = ViewBag.opScope;

    var level1List = ViewBag.level1List as SelectList;
    var level2List = ViewBag.level2List as SelectList;
    var clrStatusList = ViewBag.clrStatusList as SelectList;
}


<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                @Html.Hidden("hidStatus", "")

                @Html.Hidden("hidLevel1", "")
                @Html.Hidden("hidLevel2", "")
                @Html.Hidden("hidClrStatus", "")   //add by daiyu 20200729
                //@Html.Hidden("closed_no", "") //delete by daiyu 20200729
                <table>
                    <tr>
                        <td>
                            @Html.RadioButton("qryType", "q_paid_id", new { @checked = true, onchange = "qryTypeChange();" })
                            @Html.DisplayNameFor(model => model.paid_id)：@Html.TextBoxFor(model => model.paid_id, new { @size = "12", @maxlength = "10", @onkeyup = "qryName()" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.paid_name)：@Html.TextBoxFor(model => model.paid_name, new { @size = "30", @maxlength = "30", @disabled = true })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButton("qryType", "q_check_no", new { onchange = "qryTypeChange();" })
                            @Html.DisplayNameFor(model => model.check_no)：@Html.TextBoxFor(model => model.check_no, new { @size = "11", @maxlength = "9", @disabled = true, @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButton("qryType", "q_closed_no", new { onchange = "qryTypeChange();" })
                            @Html.DisplayNameFor(model => model.closed_no)：@Html.TextBoxFor(model => model.closed_no, new { @size = "21", @maxlength = "20", @disabled = true, @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
                        <input type="submit" id="btnModify" name="btnModify" value="申請覆核" class="btn btn-primary" />
                        <input type="submit" id="btnPrint" name="btnPrint" value="結案報表" class="btn btn-primary" />
                        <input type="submit" id="btnDelete" name="btnDelete" value="刪除結案編號" class="btn btn-primary" />
                        <input type="submit" id="btnClear" name="btnClear" value="清空" class="btn btn-primary" />
                    </div>
                </div>

                <br>

                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.check_amt)：@Html.TextBoxFor(model => model.check_amt, new { @size = "30", @maxlength = "30", @disabled = true, @onchange = "javascript:this.value=Comma(this.value);" })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.closed_date)：@Html.TextBoxFor(model => model.closed_date, new { @size = "8", @maxlength = "7", @disabled = true }) (民國年YYYMMDD，例:0980507)
                            </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.level_1)：@Html.DropDownList("level_1", level1List, "請選擇", new { @disabled = true })
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.level_2)：@Html.DropDownList("level_2", level2List, "請選擇", new { @disabled = true })
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            結案報表說明：
                            @Html.TextAreaFor(model => model.closed_desc, 2, 40, htmlAttributes: new { style = "width: 80%; max-width: 80%;" })
                        </td>
                        </tr>
                </table>

                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>


                <div class="modal fade" id="modalAply" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-left:10px">
                        <div class="modal-content" style="width:850px;position:relative;left:10px">
                            <!-- Modal Header -->
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" onsubmit="return false">
                                    <div class="row">
                                        <div id="qryResultClosedProc" class="col-sm-24">
                                            <table id="gridClosedProc"></table>
                                            <div id="pagerClosedProc"></div>
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="row">
                                        <div id="qryResultProc" class="col-sm-24">
                                            <table id="gridProc"></table>
                                            <div id="pagerProc"></div>
                                        </div>
                                    </div>
                                    <button type="button" id="btnAplySave" class="btn btn-primary">確定</button>
                                    <button type="button" id="btnAplyCancel" class="btn btn-primary"> 取消</button>
                                    <button type="button" id="btnAplyPrint" class="btn btn-primary"> 結案報表</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>

</div>



<script type="text/javascript">




    //申請覆核
    function aplySave() {
        var rowObject = [];
        for (j = 0; j <= recData.length - 1; j++) {
            rowData = recData[j];
            rowObject.push({
                'check_no': rowData.check_no,
                'check_acct_short': rowData.check_acct_short,
                'closed_no': rowData.closed_no,
                'closed_date': rowData.closed_date
            });
        }

        var qryKey = "";
        qryKey = $("#paid_id").val() + "|" + $("#paid_name").val() + "|" + $("#check_no").val();

        var jsonData = JSON.stringify({
            'level_1': $("#level_1").val(),
            'level_2': $("#level_2").val(),
            'qryKey': qryKey,
            'closed_date': $("#closed_date").val(),
            'closed_desc': $("#closed_desc").val(),
            'gridData': rowObject
        });


        $.blockUI();

        $.ajax({
            type: "POST",
            data: jsonData,
            dataType: "json",
            url: '@Url.Action("execSave", "OAP0011")',
            contentType: 'application/json',
            success: function (data) {

                if (data.success) {
                    $("#btnModify").attr('disabled', true);
                    validationSummary.append('<li>' + '申請覆核成功!!' + '</li>');
                    if (data.err.length > 0)
                        validationSummary.append('<li>' + '以下資料覆核中，不可修改/刪除此筆資料：' + data.err + '</li>');
                    else
                        $("#closed_no").val(data.closed_no);


                    var gridData = $("#grid").jqGrid('getGridParam', 'data');

                    for (j = 0; j <= gridData.length - 1; j++) {
                        rowData = gridData[j];

                        if (recList.length > 0) {
                            for (i = 0, count = recList.length; i < count; i++) {
                                if (rowData.check_no == recList[i]) {
                                    $("#grid").jqGrid("setCell", rowData.check_no, "data_status", "2");

                                    $("#grid").jqGrid("setCell", rowData.check_no, "closed_no", data.closed_no);
                                    $("#grid").jqGrid("setCell", rowData.check_no, "level_1", $("#level_1").val());
                                    $("#grid").jqGrid("setCell", rowData.check_no, "level_2", $("#level_2").val());

                                }
                            }
                        } else
                            recData = null;
                    }


                } else
                    validationSummary.append('<li>' + data.err + '</li>');

                //recList = []; delete by daiyu 20200731

                $.unblockUI();
            }
        });
    }




    //申請覆核，並已確認踐行程序
    $("#btnAplySave").on("click", function () {
        $('#validationSummary').children().remove();

        var validationSummary = $('#validationSummary ul.validation-summary-errors');

        if (validationSummary.length == 0) {
            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
            validationSummary = $('#validationSummary ul.validation-summary-errors');
        }



        //本次要申請結案的支票
        var rowObject = [];
        for (j = 0; j <= recList.length - 1; j++) {
            rowData = recList[j];
            rowData = $("#grid").jqGrid('getRowData', recList[j]);
            rowObject.push({
                'check_no': rowData.check_no,
                'check_acct_short': rowData.check_acct_short,
                'closed_no': rowData.closed_no,
                'closed_date': rowData.closed_date
            });
        }

        //結案報表要顯示的踐行程序
        //1.已結案的踐行程序
        //2.本次要結案支票的踐行程序
        var rowRptPracObject = [];


        for (i = 0; i <= recClosedPracList.length - 1; i++) {



            var res = recClosedPracList[i].split("-");

            rowData = $("#" + res[0]).jqGrid('getRowData', res[1]);

            rowRptPracObject.push({
                'practice': rowData.practice,
                'exec_date': rowData.exec_date,
                'cert_doc': rowData.cert_doc,
                'proc_desc': rowData.proc_desc
            });
        }


        for (i = 0; i <= recPracList.length - 1; i++) {
            rowData = $("#gridProc").jqGrid('getRowData', recPracList[i]);

            rowRptPracObject.push({
                'practice': rowData.practice,
                'exec_date': rowData.exec_date,
                'cert_doc': rowData.cert_doc,
                'proc_desc': rowData.proc_desc
            });
        }



        var qryKey = "";
        qryKey = $("#paid_id").val() + "|" + $("#paid_name").val() + "|" + $("#check_no").val();

        var jsonData = JSON.stringify({
            'level_1': $("#level_1").val(),
            'level_2': $("#level_2").val(),
            'qryKey': qryKey,
            'closed_date': $("#closed_date").val(),
            'closed_desc': $("#closed_desc").val(),
            'gridData': rowObject,
            'rptPracList': rowRptPracObject
        });

        $.blockUI();

        $.ajax({
            type: "POST",
            data: jsonData,
            dataType: "json",
            url: '@Url.Action("execSave", "OAP0011")',
            contentType: 'application/json',
            success: function (data) {

                if (data.success) {
                    $("#btnModify").attr('disabled', true);

                    if (data.err.length > 0) {
                        alert("以下資料覆核中，不可修改/刪除此筆資料：" + data.err);
                        validationSummary.append('<li>' + '以下資料覆核中，不可修改/刪除此筆資料：' + data.err + '</li>');
                        return;
                    }

                    validationSummary.append('<li>' + '申請覆核成功!!' + '</li>');
                    $("#closed_no").val(data.closed_no);
                    $('#modalAply').modal('hide');

                    var gridData = $("#grid").jqGrid('getGridParam', 'data');

                    for (j = 0; j <= gridData.length - 1; j++) {
                        rowData = gridData[j];

                        if (recList.length > 0) {
                            for (i = 0, count = recList.length; i < count; i++) {
                                if (rowData.check_no == recList[i]) {
                                    $("#grid").jqGrid("setCell", rowData.check_no, "data_status", "2");

                                    $("#grid").jqGrid("setCell", rowData.check_no, "closed_no", data.closed_no);
                                    $("#grid").jqGrid("setCell", rowData.check_no, "level_1", $("#level_1").val());
                                    $("#grid").jqGrid("setCell", rowData.check_no, "level_2", $("#level_2").val());
                                }
                            }
                        } else
                            recData = null;
                    }
                } else {
                    alert(data.err);
                    validationSummary.append('<li>' + data.err + '</li>');
                }
                   

                //recList = []; delete by daiyu 20200731

                $.unblockUI();
            }
        });


        //var gridData = $("#gridClosedProc").jqGrid('getGridParam', 'data');
        //for (j = 0; j <= gridData.length - 1; j++) {
        //    rowData = gridData[j];

        //    var subgrid_table_id = "gridClosedProc_" + rowData.closed_no;
        //    jQuery("#" + subgrid_table_id).jqGrid

        //    var gridSubData = jQuery("#" + subgrid_table_id).jqGrid('getGridParam', 'data');
        //    for (jSub = 0; jSub <= gridSubData.length - jSub; j++) {
        //        rowSubData = gridSubData[jSub];

        //        alert(rowSubData.practice);
        //        alert(rowSubData.recClosedPrac);
        //    }

        //}
    });

    //取消申請覆核
    $("#btnAplyCancel").on("click", function () {
        $('#modalAply').modal('hide');
    });


    //申請覆核-結案報表
    $("#btnAplyPrint").on("click", function () {
         $('#validationSummary').children().remove();

        var validationSummary = $('#validationSummary ul.validation-summary-errors');

        if (validationSummary.length == 0) {
            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
            validationSummary = $('#validationSummary ul.validation-summary-errors');
        }



        //本次要申請結案的支票
        var rowObject = [];
        for (j = 0; j <= recList.length - 1; j++) {
            rowData = recList[j];
            rowData = $("#grid").jqGrid('getRowData', recList[j]);
            rowObject.push({
                'check_no': rowData.check_no,
                'check_acct_short': rowData.check_acct_short,
                'check_date': rowData.check_date,
                'o_paid_cd': rowData.o_paid_cd,
                'check_amt': rowData.check_amt,
                'closed_no': rowData.closed_no
            });
        }

        //結案報表要顯示的踐行程序
        //1.已結案的踐行程序
        //2.本次要結案支票的踐行程序
        var rowRptPracObject = [];


        for (i = 0; i <= recClosedPracList.length - 1; i++) {



            var res = recClosedPracList[i].split("-");

            rowData = $("#" + res[0]).jqGrid('getRowData', res[1]);

            rowRptPracObject.push({
                'practice': rowData.practice,
                'exec_date': rowData.exec_date,
                'cert_doc': rowData.cert_doc,
                'proc_desc': rowData.proc_desc
            });
        }


        for (i = 0; i <= recPracList.length - 1; i++) {
            rowData = $("#gridProc").jqGrid('getRowData', recPracList[i]);

            rowRptPracObject.push({
                'practice': rowData.practice,
                'exec_date': rowData.exec_date,
                'cert_doc': rowData.cert_doc,
                'proc_desc': rowData.proc_desc
            });
        }



        var qryKey = "";
        qryKey = $("#paid_id").val() + "|" + $("#paid_name").val() + "|" + $("#check_no").val();

        var jsonData = JSON.stringify({
            'paid_id': $("#paid_id").val(),
            'paid_name': $("#paid_name").val(),
            'level_1': $("#level_1").val(),
            'level_2': $("#level_2").val(),
            'qryKey': qryKey,
            'closed_date': $("#closed_date").val(),
            'closed_desc': $("#closed_desc").val(),
            'gridData': rowObject,
            'rptPracList': rowRptPracObject
        });

        $.blockUI();

        $.ajax({
            type: "POST",
            data: jsonData,
            dataType: "json",
            url: '@Url.Action("PrintAply", "OAP0011")',
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.success) {
                    var url = '/OAP0011/downloadRpt?id=' + data.guid;

                    window.location = url;
                } else
                    validationSummary.append('<li>' + data.err + '</li>');


                $.unblockUI();
            }
        });

    });



    function qryTypeChange() {
        value = $('input:radio:checked[name="qryType"]').val();

        if (value == 'q_paid_id') {
            execClear();
            $('input[id=qryType][value=q_paid_id]').prop("checked", true);
            $('#paid_id').attr('disabled', false);
            $('#check_no').attr('disabled', true);
            $('#closed_no').attr('disabled', true);
        } else if (value == 'q_check_no') {
            execClear();
            $('input[id=qryType][value=q_check_no]').prop("checked", true);
            $('#paid_id').attr('disabled', true);
            $('#check_no').attr('disabled', false);
            $('#closed_no').attr('disabled', true);
        } else if (value == 'q_closed_no') { //add by daiyu 20200729
            execClear();
            $('input[id=qryType][value=q_closed_no]').prop("checked", true);
            $('#paid_id').attr('disabled', true);
            $('#check_no').attr('disabled', true);
            $('#closed_no').attr('disabled', false);
        }

    }


    //查詢"給付對象姓名"
    function qryName() {
        $('#paid_id').val($('#paid_id').val().toUpperCase());

        if ($('#paid_id').val().length == 10) {
            $('#paid_name').val("");

            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }

            $.blockUI(); //畫面鎖起來

            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    'paid_id': $('#paid_id').val()
                }),
                dataType: "json",
                url: '@Url.Action("qryPaidName", "OAP0011")',
                contentType: 'application/json',
                success: function (data) {

                    if (data.success)
                        $('#paid_name').val(data.paid_name);
                    else
                        validationSummary.append('<li>' + data.err + '</li>');

                    $.unblockUI(); //畫面打開
                }
            });
        }
    }



    //清畫面
    function execClear(clearQry) {
        recList = [];
        recClosedPracList = [];

        if (clearQry) {
            $('#validationSummary').children().remove();

            $('#btnModify').attr('disabled', true);
            $('#btnPrint').attr('disabled', true);
            $('#btnQry').attr('disabled', false);

            $('#paid_id').attr('disabled', false);
            $('#paid_id').val("");
            $('#paid_name').val("");
            $('#check_no').attr('disabled', true);
            $('#check_no').val("");

            $('#closed_no').attr('disabled', true);  //add by daiyu 20200729

            $('#check_amt').val("");
            $('#level_1').val("");
            $('#level_2').val("");
            $('#closed_desc').val("");
            $('#closed_no').val("");
            $('#closed_date').val("");

            $('input[id=qryType][value=q_paid_id]').prop("checked", true);
            //$('input[name=qryType][value=q_paid_id]').attr('checked', true);
            //$("#q_paid_id").prop("checked", true);
        }
        jQuery("#grid").jqGrid('clearGridData').trigger("reloadGrid");

    }



    //取得"資料狀態"下拉選單
    function getStatus() {
        return $('#hidStatus').val();
    }

    //取得"清理大類"下拉選單
    function getLevel1() {
        return $('#hidLevel1').val();
    }

    //取得"清理小類"下拉選單
    function getLevel2() {
        return $('#hidLevel2').val();
    }

    //取得"清理狀態"下拉選單  add by daiyu 20200729
    function getClrStatus() {
        return $('#hidClrStatus').val();
    }


    //勾選已結案的踐行程序到結案報表
    var recClosedPracList = [], ckRecClosedPrac = function (chItem, rowId) {
        var index = $.inArray(rowId, recClosedPracList);

        if (chItem.checked)
            recClosedPracList.push(rowId);
         else
            recClosedPracList.splice(index, 1);
    }


    //勾選踐行程序到結案報表
    var recPracList = [], ckRecPrac = function (chItem, rowId) {
        var index = $.inArray(rowId, recPracList);

        if (chItem.checked)
            recPracList.push(rowId);
        else
            recPracList.splice(index, 1);
    }


    //勾選、取消勾選要結案的支票
    var $grid = $("#grid"), recList = [], ckRec = function (chItem, rowId) {
        rowData = $("#grid").jqGrid('getRowData', rowId);


        var check_amt = Number($("#check_amt").val().replaceAll(',',''));
        var value = chItem.checked;
        var index = $.inArray(rowId, recList);

        if (value == true) {
            recList.push(rowId);
            $("#check_amt").val(check_amt + Number(rowData.check_amt));
        } else {
            if (index >= 0) {
                recList.splice(index, 1);
                $("#check_amt").val(check_amt - Number(rowData.check_amt));
            }
        }

        $("#check_amt").val(Comma($("#check_amt").val()));
    };



    $(function () {
        $(window).bind('resize', function () {
            var newWidth = $("#grid").closest(".ui-jqgrid").parent().width();
            jQuery("#grid").setGridWidth(newWidth, false);
        }).trigger('resize');

        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else {
            $('#btnModify').attr('disabled', true);
            $('#btnPrint').attr('disabled', true);
            $('#btnDelete').attr('disabled', true); //add by daiyu 20200731


            $('#hidStatus').val('@Html.Raw(ViewBag.statusjqList)');
            $('#hidLevel1').val('@Html.Raw(ViewBag.level1jqList)');
            $('#hidLevel2').val('@Html.Raw(ViewBag.level2jqList)');
            $('#hidClrStatus').val('@Html.Raw(ViewBag.clrStatusjqList)');   //add by daiyu 20200729
        }


        //*---------------清除 begin ----------------*//
        $("#btnClear").click().on('click', function () {
            execClear(true);
        });
        //*---------------清除 end ----------------*//



        //*---------------查詢 begin ----------------*//
        $("#btnQry").click().on('click', function () {
            recList = [];

            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }

            value = $('input:radio:checked[name="qryType"]').val();
            if (value == 'q_paid_id') {
                if ($("#paid_id").val().length == 0) {
                    validationSummary.append('<li>' + '請輸入「給付對象ID」!!' + '</li>');
                    return
                }
            } else if (value == 'q_check_no') {
                if ($("#check_no").val().length == 0) {
                    validationSummary.append('<li>' + '請輸入「支票號碼」!!' + '</li>');
                    return
                }
            } else if (value == 'q_closed_no') { //add by daiyu 20200729
                if ($("#closed_no").val().length == 0) {
                    validationSummary.append('<li>' + '請輸入「結案編號」!!' + '</li>');
                    return
                }
            }

            $('#paid_id').attr('disabled', true);
            $('#check_no').attr('disabled', true);
            $('#closed_no').attr('disabled', true); //add by daiyu 20200729


            $('#btnQry').attr('disabled', true);
            $('#btnModify').attr('disabled', false);
            $('#btnDelete').attr('disabled', false);    //add by daiyu 20200729

            var jsonData = JSON.stringify({
                'qType': value
                , 'paid_id': $("#paid_id").val()
                , 'check_no': $("#check_no").val()
                , 'closed_no': $("#closed_no").val()
            });

            $.blockUI(); //畫面鎖起來

            $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("qryProc", "OAP0011")',
                contentType: 'application/json',
                success: function (data) {

                    if (data.success) {
                        //更新畫面GRID
                        jQuery("#grid").jqGrid('clearGridData')
                            .jqGrid('setGridParam', { data: data.dataList })
                            .trigger("reloadGrid");


                        if (data.dataList.length == 0)
                            validationSummary.append('<li>' + '資料不存在!!"' + '</li>');
                        else {
                            if (value != 'q_paid_id')
                                $("#paid_id").val(data.paid_id);


                            if ($("#paid_name").val().length == 0)
                                $("#paid_name").val(data.paid_name);

                            $('#btnPrint').attr('disabled', false);

                            $('#level_1').attr('disabled', false);
                            $('#level_2').attr('disabled', false);
                        }


                    } else
                        validationSummary.append('<li>' + data.err + '</li>');

                    $.unblockUI(); //畫面打開
                }
            });
        });
        //*---------------查詢 end ----------------*//



        //*-------------------支票 GRID begin--------------------*//
        $("#grid").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "check_no" },
            colModel: [
                 //{
                 //    label: 'temp_id',
                 //    name: 'temp_id', align: 'center', hidden: true,
                 //    editable: false,
                 //},
                 {
                     label: '勾選',
                     name: 'rec', index: 'rec', align: 'center', width: '70', editable: true
                        , formatter: function (cellvalue, options, rowObject) {
                            var id = options.rowId.length == 0 ? "0" : options.rowId;
                            return '<input type="checkbox" id="chk_rec_' + id + '" onClick="ckRec(this,' + '\'' + id + '\'' + ')"';
                        }
                 },
                  {
                      label: '支票號碼',
                      name: 'check_no', align: 'center', width: '120', editable: false, width: '100'
                  },
                  {
                      label: '支票帳號簡稱',
                      name: 'check_acct_short', align: 'center', width: '120', editable: false
                  },
                  {
                      label: '結案編號',
                      name: 'closed_no', align: 'center', width: '140', editable: false
                  },
                  {
                      label: '結案日期',
                      name: 'closed_date', align: 'center', width: '120', editable: false
                  },
                  {
                      label: '清理狀態',
                      name: 'status', align: 'center', editable: false,
                      edittype: "select",
                      formatter: 'select',
                      editoptions: {
                          value: getClrStatus()
                      }
                  },
                  {
                      label: '支票到期日',
                      name: 'check_date', align: 'center', width: '120', editable: false, hidden: true
                  },
                  {
                      label: '原給付性質',
                      name: 'o_paid_cd', align: 'center', width: '120', editable: false, hidden: true
                  },
                  {
                      label: '清理大類',
                      name: 'level_1', align: 'center', editable: false,
                      edittype: "select",
                      formatter: 'select',
                      editoptions: {
                          value: getLevel1()
                      }
                  },
                  {
                      label: '清理小類',
                      name: 'level_2', align: 'center', editable: false,
                      edittype: "select",
                      formatter: 'select',
                      editoptions: {
                          value: getLevel2()
                      }
                  },
                  {
                      label: '支票金額',
                      name: 'check_amt', align: 'right', width: '120',
                      editable: false,
                      formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 0 }
                  },
                   {
                       label: '過程說明',
                       name: 'proc_desc', align: 'center', width: '160', editable: false
                   },
                  {
                      label: '資料狀態',
                      name: 'data_status', align: 'center', editable: false,
                      edittype: "select",
                      formatter: 'select',
                      editoptions: {
                          value: getStatus()
                      }
                  }
            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: false,
            forceFit: false,
            loadonce: true,
            //sortname: "exec_date",
            rownumbers: true,
            viewrecords: true,
            rowNum: 25,
            rowList: [10, 25, 50],
            pager: "#pager",
            loadComplete: function () {
                var cnt = $('#grid').getGridParam('records')
                var gridData = $("#grid").jqGrid('getGridParam', 'data');

                var level1, level2 = "";
                var bDiffLeve1 = false;
                var bAppr = false;

                for (j = 0; j <= gridData.length - 1; j++) {
                    rowData = gridData[j];

                    if (j == 0) {
                        $('#level_1').val(rowData.level_1);
                        $('#level_2').val(rowData.level_2);
                        level1 = rowData.level_1;
                        level2 = rowData.level_2;
                    }

                    if (bDiffLeve1 == false & (level1 != rowData.level_1 || level2 != rowData.level_2))
                        bDiffLeve1 = true;

                    if (recList.length > 0) {
                        for (i = 0, count = recList.length; i < count; i++) {
                            if (rowData.check_no == recList[i])
                                $("input#chk_rec_" + rowData.check_no).prop("checked", true);
                        }
                    }

                    if (rowData.data_status == "2")
                        bAppr = true;
                }


                var validationSummary = $('#validationSummary ul.validation-summary-errors');

                if (validationSummary.length == 0) {
                    $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                    validationSummary = $('#validationSummary ul.validation-summary-errors');
                }

                if (bDiffLeve1)
                    validationSummary.append('<li>' + '同一給付對象ID有不同的清理大、小類！' + '</li>');


                if (bAppr) {
                    validationSummary.append('<li>' + '資料申請結案中！' + '</li>');
                    $('#btnModify').attr('disabled', true);
                }


            }
        });

        //*-------------------支票 GRID end--------------------*//


        //*-------------------結案編號-踐行程序  GRID begin--------------------*//
        $("#gridClosedProc").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "closed_no" },
            colModel: [
                  {
                      label: '結案編號',
                      name: 'closed_no', align: 'center', width: '300', editable: false
                  },
                   {
                       label: '結案日期',
                       name: 'closed_date', align: 'center', width: '300', editable: false
                   }

            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: true,
            forceFit: true,
            loadonce: true,
            //sortname: "exec_date",
            rownumbers: true,
            viewrecords: true,
            //rowNum: 25,
            //rowList: [10, 25, 50],
            pager: "#pagerClosedProc",
            loadComplete: function () {

            },
            subGrid: true,
        subGridOptions: {
            "plusicon": "ui-icon-triangle-1-e",
            "minusicon": "ui-icon-triangle-1-s",
            "openicon": "ui-icon-arrowreturn-1-e",
            // load the subgrid data only once
            // and the just show/hide
            "reloadOnExpand": false,
            // select the row when the expand column is clicked
            "selectOnExpand": true
        }, subGridRowExpanded: function (subgrid_id, row_id) {
            var subgrid_table_id, pager_id;

            var para = {
                closed_no: row_id
            };

            subgrid_table_id = subgrid_id + "_t";
            pager_id = "p_" + subgrid_table_id;
            $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");

            jQuery("#" + subgrid_table_id).jqGrid({
                url: '/OAP0011/qryPracByClosedNo/',
                postData: para,
                datatype: 'json',
                jsonReader: {
                    repeatitems: false, id: 'seq'
                },
                mtype: 'POST',

                colModel: [
 {
     label: 'seq',
     name: 'seq', align: 'center', hidden: true,
     editable: false,
 },
 {
     label: '勾選',
     name: 'recClosedPrac', index: 'recClosedPrac', align: 'center', width: '70', editable: true
                        , formatter: function (cellvalue, options, rowObject) {
                            var id = options.rowId.length == 0 ? "0" : options.rowId;

                            var recClosedPrac = rowObject.recClosedPrac;
                            var practice = rowObject.practice;
                            var exec_date = rowObject.exec_date;
                            var cert_doc = rowObject.cert_doc;
                            return '<input type="checkbox" id="chk_recClosedPrac_' + id + '" onClick="ckRecClosedPrac(this,' + '\'' + subgrid_table_id + '-' + id + '\'' + ')"';
                        }
 },
{
    label: '踐行程序',
    name: 'practice', align: 'center', width: '200', editable: false, width: '100', hidden: true
},
                   {
                       label: '踐行程序',
                       name: 'practice_desc', align: 'center', width: '200', editable: false
                   },
                   {
                       label: '執行日期',
                       name: 'exec_date', align: 'center', width: '120', editable: false, width: '100'
                   },
                    {
                        label: '証明文件',
                        name: 'cert_doc', align: 'center', width: '120', editable: false, width: '100', hidden: true
                    },
                   {
                       label: '証明文件',
                       name: 'cert_doc_desc', align: 'center', width: '200', editable: false
                   }
                   ,
                   {
                       label: '過程說明',
                       name: 'proc_desc', align: 'center', width: '200', editable: false
                   }
                ],
                rowNum: 20,
                pager: pager_id,
                sortname: 'exec_date',
                sortorder: "asc",
                height: '100%'
            });
            jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false })
        }
        });

        //*-------------------結案編號-踐行程序 GRID end--------------------*//



        //*-------------------踐行程序  GRID begin--------------------*//
        $("#gridProc").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "seq" },
            colModel: [
                 {
                     label: 'seq',
                     name: 'seq', align: 'center', hidden: true,
                     editable: false,
                 },
                 {
                     label: '勾選',
                     name: 'recPrac', index: 'recPrac', align: 'center', width: '70', editable: true
                        , formatter: function (cellvalue, options, rowObject) {
                            var id = options.rowId.length == 0 ? "0" : options.rowId;
                            return '<input type="checkbox" id="chk_recPrac_' + id + '" onClick="ckRecPrac(this,' + '\'' + id + '\'' + ')"';
                        }
                 },
                  {
                      label: '踐行程序',
                      name: 'practice', align: 'center', width: '200', editable: false, width: '100', hidden: true
                  },
                   {
                       label: '踐行程序',
                       name: 'practice_desc', align: 'center', width: '200', editable: false
                   },
                   {
                       label: '執行日期',
                       name: 'exec_date', align: 'center', width: '120', editable: false, width: '100'
                   },
                    {
                        label: '証明文件',
                        name: 'cert_doc', align: 'center', width: '120', editable: false, width: '100', hidden: true
                    },
                   {
                       label: '証明文件',
                       name: 'cert_doc_desc', align: 'center', width: '200', editable: false
                   },
                   {
                       label: '過程說明',
                       name: 'proc_desc', align: 'center', width: '200', editable: false
                   }
            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: false,
            forceFit: false,
            loadonce: true,
            //sortname: "exec_date",
            rownumbers: true,
            viewrecords: true,
            //rowNum: 25,
            //rowList: [10, 25, 50],
            pager: "#pagerProc",
            loadComplete: function () {

            }
        });

        //*-------------------踐行程序 GRID end--------------------*//





        //*---------------刪除結案編號 begin ----------------*//
        $("#btnDelete").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }

            //檢核-支票
            if (recList.length == 0) {
                bPass = false;
                validationSummary.append('<li>' + '請選擇要刪除結案編號的資料！' + '</li>');
                return;
            } else {
                ids = $("#grid").jqGrid('getDataIDs');

                var gridData = $("#grid").jqGrid('getGridParam', 'data');
                var closed_no = '';

                for (j = 0; j <= gridData.length - 1; j++) {

                    if (rowData.closed_date != '') {
                        alert("支票號碼：" + rowData.check_no + "已結案，不可刪除!!");
                        return;
                    }

                    if (rowData.data_status == "2") {
                        alert("支票號碼：" + rowData.check_no + "覆核中，不可執行刪除結案編號!!");
                        return;
                    }

                    rowData = gridData[j];

                    if (recList.length > 0) {
                        for (i = 0, count = recList.length; i < count; i++) {
                            if (rowData.check_no == recList[i] && rowData.closed_no != "") {
                                if (rowData.closed_no != closed_no) {
                                    if (closed_no == "")
                                        closed_no = rowData.closed_no;
                                    else {
                                        alert("勾選資料含不同的結案編號!!請重新確認!!")
                                        return;
                                    }
                                }
                            }
                        }
                    } else
                        recData = null;
                }
            }

            if (closed_no == "") {
                validationSummary.append('<li>' + '無可刪除結案編號的資料！' + '</li>');
                return;
            }

            var jsonData = JSON.stringify({
                'closed_no': closed_no
            });
            $.blockUI();


            $.ajax({
                url: "@Url.Action("DelClosedNo", "OAP0011")",
                data: jsonData,
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.success) {
                    validationSummary.append('<li>' + '作業成功！' + '</li>');
                    execClear(false);
                } else {

                    if (data.err.length > 0) {
                        validationSummary.append('<li>' + data.err + '</li>');
                    }
                }

                $.unblockUI();
            },
            error: function () {
                $.unblockUI();
            }
        });


        });
        //*---------------刪除結案編號 end ----------------*//



        //*---------------修改(申請覆核) begin ----------------*//
        $("#btnModify").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }


            var bPass = true;

            //檢核-結案日期   delete by daiyu 20210225
            //if (!checkChtDate($("#closed_date").val(), true)) {
            //    bPass = false;
            //    validationSummary.append('<li>' + '請輸入結案日期！' + '</li>');
            //}


            //檢核-清理大類
            if ($("#level_1").val().length == 0) {
                bPass = false;
                validationSummary.append('<li>' + '請輸入清理大類！' + '</li>');
            }


            //檢核-清理小類
            if ($("#level_2").val().length == 0) {
                bPass = false;
                validationSummary.append('<li>' + '請輸入清理小類！' + '</li>');
            }

            if ($("#level_1").val().length > 0 & $("#level_2").val().length > 0) {
                if ($("#level_2").val().substr( 0, 1) != $("#level_1").val()) {
                    bPass = false;
                    validationSummary.append('<li>' + '清理大小類不對應！' + '</li>');
                }
            }
            


            //檢核-支票
            if (recList.length == 0) {
                bPass = false;
                validationSummary.append('<li>' + '請選擇要結案的資料！' + '</li>');
            } else {
                ids = $("#grid").jqGrid('getDataIDs');

                var recData = [];

                var gridData = $("#grid").jqGrid('getGridParam', 'data');

                for (j = 0; j <= gridData.length - 1; j++) {
                    rowData = gridData[j];

                    if (recList.length > 0) {
                        for (i = 0, count = recList.length; i < count; i++) {
                            if (rowData.check_no == recList[i]) {
                                if (rowData.closed_date != '') {  //add by daiyu 20200730
                                    alert("支票號碼：" + rowData.check_no + "已結案，不可再次申請覆核!!");
                                    return;
                                }

                                if (rowData.status == "1" || rowData.status == "2") {
                                    alert("支票號碼：" + rowData.check_no + " 已給付或已清理，不可再次申請覆核!!");
                                    return;
                                }

                                recData.push(rowData);
                            }
                        }
                    } else
                        recData = null;
                }
            }


            if (!bPass)
                return;
            else {

                var rowObject = [];
                for (j = 0; j <= recData.length - 1; j++) {
                    rowData = recData[j];
                    rowObject.push({
                        'check_no': rowData.check_no,
                        'check_acct_short': rowData.check_acct_short,
                        'closed_no': rowData.closed_no,
                        'closed_date': rowData.closed_date
                    });
                }

                var jsonData = JSON.stringify({
                    'paid_id': $("#paid_id").val()
                    ,'gridData': rowObject
                });

                $.blockUI();

                recClosedPracList = [];
                recPracList = [];
                

                $.ajax({
                    type: "POST",
                    data: jsonData,
                    dataType: "json",
                    url: '@Url.Action("qryPractice", "OAP0011")',
                    contentType: 'application/json',
                    success: function (data) {

                        if (data.success) {
                            //更新畫面GRID
                            jQuery("#gridProc").jqGrid('clearGridData')
                                .jqGrid('setGridParam', { data: data.rows })
                                .trigger("reloadGrid");

                            jQuery("#gridClosedProc").jqGrid('clearGridData')
                                .jqGrid('setGridParam', { data: data.dataClosedList })
                                .trigger("reloadGrid");

                            $('#modalAply').modal('show');
                        } else
                            validationSummary.append('<li>' + data.err + '</li>');

                        $.unblockUI();
                    }
                });




            }



    });
        //*---------------修改(申請覆核) end ----------------*//






    //*---------------報表列印 begin ----------------*//
    $("#btnPrint").click().on('click', function () {
        $('#validationSummary').children().remove();

        var validationSummary = $('#validationSummary ul.validation-summary-errors');

        if (validationSummary.length == 0) {
            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
            validationSummary = $('#validationSummary ul.validation-summary-errors');
        }

        var closed_no = '';
        var _closed_no = $("#closed_no").val();
        var _closed_date = $("#closed_date").val();
        var rowObject = [];

        var gridData = $("#grid").jqGrid('getGridParam', 'data');

        for (j = 0; j <= gridData.length - 1; j++) {
            rowData = gridData[j];

            if (recList.length > 0) {
                for (i = 0, count = recList.length; i < count; i++) {
                    if (rowData.check_no == recList[i]) {
                        if (rowData.closed_no != closed_no) {
                            if (closed_no == "")
                                closed_no = rowData.closed_no;
                            else {
                                alert("勾選資料含不同的結案編號!!請重新確認!!")
                                rowObject = [];
                                return;
                            }
                        }

                        if (rowData.data_status == "1" & (rowData.status == "3" || rowData.status == "4" )) {
                            alert("勾選資料未結案，或未選擇結案報表相關踐行的程序!!")
                            rowObject = [];
                            return;
                        }

                        if (rowData.closed_no != "" & rowData.closed_date != "") {
                            _closed_no = rowData.closed_no;
                            _closed_date = rowData.closed_date;
                        }

                        rowObject.push({
                            'check_no': rowData.check_no,
                            'check_acct_short': rowData.check_acct_short,
                            'check_date': rowData.check_date,
                            'o_paid_cd': rowData.o_paid_cd,
                            'check_amt': rowData.check_amt,
                            'closed_no': rowData.closed_no,
                            'closed_date': rowData.closed_date
                        });

                    }
                }
            } else
                recData = null;
        }



        if (rowObject.length == 0) {
            validationSummary.append('<li>' + '請選擇要列印的資料！' + '</li>');
            return;
        } else if (closed_no == ""){
            validationSummary.append('<li>' + '選取的資料尚未有結案編號，請執行"申請覆核"，挑選踐行程序後，再執行結案報表列印！' + '</li>');
            return;
        }

        

        var jsonData = JSON.stringify({
            'paid_id': $("#paid_id").val(),
            'paid_name': $("#paid_name").val(),
            'level_1': $("#level_1").val(),
            'level_2': $("#level_2").val(),
            'closed_no': _closed_no,
            'closed_date': _closed_date,
            'gridData': rowObject
        });
        $.blockUI();

        $.ajax({
            url: "@Url.Action("Print", "OAP0011")",
            data: jsonData,
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                var link = '';
                if (data.success) {
                    var url = '/OAP0011/downloadRpt?id=' + data.guid;

                    window.location = url;

                    @*link = '@Url.HttpRouteUrl("Report", new { aspx = "OAP0011PViewer",  id = "-1"})';
                    link = link.replace("-1", data.guid);
                    window.open(link);*@



                } else {
                    $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                    validationSummary = $('#validationSummary ul.validation-summary-errors');

                    if (data.err.length > 0) {
                        validationSummary.append('<li>' + data.err + '</li>');
                    }
                }

                $.unblockUI();
            },
            error: function () {
                $.unblockUI();
            }
        });


    });

    //*---------------報表列印 end ----------------*//

    });
</script>




