@using Treasury.Web.Enum;
@using Treasury.WebUtility;
@{
    ViewBag.Title = "金庫進出管理作業 - 金庫登記簿執行作業(關庫後)";
    var opScope = ViewBag.opScope;
}
<div class="container-fluid" id="main">
    <div class="panel panel-primary solid">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;"></div>
            @if (opScope != "" && opScope != "0")
            {
                <div>
                    <form id="AOT_Form">
                        <table>
                            <tr>
                                <td>
                                    <label>入庫日期 :&ensp;</label>
                                </td>
                                <td>
                                    <input type="text" id="AOT_DT" name="AOT_DT" disabled="disabled" />
                                </td>
                                <td>
                                    <label>金庫登記簿單號 :&ensp;</label>
                                </td>
                                <td>
                                    @Html.DropDownList("RegisterID", (SelectList)ViewBag.RegisterList)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="button" class="btn btn-primary" id="Search" value="查詢" />
                                </td>
                                <td colspan="2">
                                    <input type="button" class="btn btn-primary" id="Print" value="列印金庫登記簿" disabled="disabled" />
                                </td>
                                <td colspan="2">
                                    <input type="button" class="btn btn-primary" id="Apply" value="申請覆核" disabled="disabled" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            }
        </div>
    </div>
    <div id="DetailsDiv" style="display:none;">
        <ul class="nav nav-tabs">
            <li id="confirmTimeli" class="active"><a data-toggle="tab" href="#menu1">登打出入庫時間</a></li>
            <li><a data-toggle="tab" href="#menu2">修改金庫登記簿</a></li>
            <li id="unConfirmedIDli"><a data-toggle="tab" href="#menu3">未確認表單資料</a></li>
        </ul>
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <h3>登打出入庫時間</h3>
                <form id="TMT_DialogForm">
                    <table>
                        <tr>
                            <td align="right">
                                <label>入庫時間 :&ensp;</label>
                            </td>
                            <td>
                                <input type="text" id="INTRA_T" name="INTRA_T" class="timepicker" size="4" />
                            </td>
                            <td>
                                <label>24:00 小時格式</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label>出庫時間 :&ensp;</label>
                            </td>
                            <td>
                                <input type="text" id="OUTTRA_T" name="OUTTRA_T" class="timepicker" size="4" />
                            </td>
                            <td>
                                <label>24:00 小時格式</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" class="btn btn-primary" id="ConfrimedSave" value="確定存檔" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>修改金庫登記簿</h3>
                <div id="SearchjqgridDiv" class="jqd"></div>
                <div>
                    <input type="button" id="Insert" value="新增" class="btn btn-primary" style="display:none" />
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>未確認表單資料</h3>
                @*<div>
                    <input type="button" id="UnconfirmedData" value="未確認表單資料" class="btn btn-primary"/>
                </div>*@
                <div id="UnconfirmedDataDiv" class="jqd"></div>
                <div>
                    <input type="button" id="InsertUnconfirmedData" value="新增至金庫登記簿" class="btn btn-primary" style="display:none" />
                </div>
            </div>
        </div>
        <div id="UpdateDialog" style="display:none;" role="dialog">
            <form id="UpdateForm">
                <table>
                    <tr id="AplyNo_TR">
                        <td><label>申請單號 :&ensp;</label></td>
                        <td colspan="3"><label id="AplyNo_LAB"></label></td>
                    </tr>
                    <tr>
                        <td><label>作業類型 :&ensp;</label></td>
                        <td colspan="3">@Html.DropDownList("ItemOpType", (SelectList)ViewBag.ItemOpType)</td>
                    </tr>
                    <tr>
                        <td><label>存取項目 :&ensp;</label></td>
                        <td>@Html.DropDownList("TreaItem", (SelectList)ViewBag.TreaItem)</td>
                        <td @*class="ShowOrNot"*@ style="display:none">@Html.DropDownList("AccessType", (SelectList)ViewBag.AccessType)</td>
                        <td id="SealItemTd" class="ShowOrNot">@Html.DropDownList("SealItem", (SelectList)ViewBag.SealItem)</td>
                    </tr>
                    <tr>
                        <td>
                            <label>入庫原因 :&ensp;</label>
                        </td>
                        <td colspan="3">
                            <input type="text" id="InsertReason" maxlength="50" />
                        </td>
                    </tr>
                    <tr id="CONFIRM_NAME_TR">
                        <td>
                            <label>入庫人員 :&ensp;</label>
                        </td>
                        <td colspan="3">
                            <label id="CONFIRM_NAME_LAB"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>實際入庫人員 :&ensp;</label>
                        </td>
                        <td colspan="3">
                            @Html.DropDownList("ActualAccessEmps", (SelectList)ViewBag.Emps)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>實際作業別 :&ensp;</label>
                        </td>
                        <td colspan="3">
                            @Html.DropDownList("ActualAccessType", (SelectList)ViewBag.AccessType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="btn btn-primary" id="InsertConfirm" value="新增" disabled="disabled" />
                            <input type="button" class="btn btn-primary" id="UpdateConfirm" value="修改" disabled="disabled" />
                        </td>
                        @*<td colspan="3">
                                <input type="hidden" id="_hvSEAL_ITEM_ID" />
                                <input type="hidden" id="huuid" />
                            </td>*@
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div id="OpenSearchDialog" style="display:none;overflow-y:auto" role="dialog" class="myDialog">
        <div id="OpenSearchDetail"></div>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        //region set url
        var UrlFor = {};
        UrlFor.InsertUnconfirmedData = '@Url.Action("InsertUnconfirmedData", "AfterOpenTreasury")';
        UrlFor.SearchUnconfirmedData = '@Url.Action("SearchUnconfirmedData", "AfterOpenTreasury")';
        UrlFor.Search = '@Url.Action("Search", "AfterOpenTreasury")';
        UrlFor.Confrimed = '@Url.Action("Confrimed", "AfterOpenTreasury")';
        UrlFor.Apply = '@Url.Action("Apply", "AfterOpenTreasury")';
        UrlFor.CheckPGTime = '@Url.Action("CheckPGTime", "AfterOpenTreasury")';
        UrlFor.GetData = '@Url.Action("GetCacheData", "AfterOpenTreasury")';
        UrlFor.Change = '@Url.Action("Change", "AfterOpenTreasury")';
        UrlFor.Insert = '@Url.Action("Insert", "AfterOpenTreasury")';
        UrlFor.Update = '@Url.Action("Update", "AfterOpenTreasury")';
        UrlFor.UnConfirmedUpdate = '@Url.Action("UnConfirmedUpdate", "AfterOpenTreasury")';
        UrlFor.Delete = '@Url.Action("Delete", "AfterOpenTreasury")';
        UrlFor.UnconfirmedDelete = '@Url.Action("UnconfirmedDelete", "AfterOpenTreasury")';
        UrlFor.GetActualUsers = '@Url.Action("GetActualUsers", "AfterOpenTreasury")';
        UrlFor.GetActualAccessType = '@Url.Action("GetActualAccessType", "AfterOpenTreasury")';
        UrlFor.TakeOutData = '@Url.Action("TakeOutData", "AfterOpenTreasury")';
        UrlFor.GetConfrimedT = '@Url.Action("GetConfrimedT", "AfterOpenTreasury")';
        UrlFor.GetSeal = '@Url.Action("GetSeal", "AfterOpenTreasury")';
        @*UrlFor.openBILL = '@Url.Action("View", "Bill")';
        UrlFor.openESTATE = '@Url.Action("View", "Estate")';
        UrlFor.openSEAL = '@Url.Action("View", "Seal")';
        UrlFor.openSTOCK = '@Url.Action("View", "Stock")';
        UrlFor.openCA = '@Url.Action("View","CA")';
        UrlFor.openMARGING = '@Url.Action("View", "Marging")';
        UrlFor.openMARGINP = '@Url.Action("View", "Marginp")';
        UrlFor.openDEPOSIT = '@Url.Action("View", "Deposit")';
        UrlFor.openItemImp = '@Url.Action("View", "ItemImp")';*@
        UrlFor.getByAplyNo = '@Url.Action("GetByAplyNo", "TreasuryAccess")';
        UrlFor.changeUnit = '@Url.Action("ChangeUnit", "TreasuryAccess")';
        //#endregion
        //region 變數設定 name
        var TMT_FormId = 'TMT_DialogForm'; //formId
        var AOT_DT = 'AOT_DT';
        var AOT_Form = 'AOT_Form';
        var RegisterID = 'RegisterID';
        var TABS_ID = 'TABS_ID';
        var INTRA_T = 'INTRA_T';
        var OUTTRA_T = 'OUTTRA_T';
        var Print = 'Print';
        var Apply = 'Apply';
        var Insert = 'Insert';
        var DetailsDiv = 'DetailsDiv';
        var ItemOpType = 'ItemOpType';
        var AccessType = 'AccessType';
        var SealItem = 'SealItem';
        var TreaItem = 'TreaItem';
        var UpdateForm = 'UpdateForm'
        var InsertReason = 'InsertReason';
        var InsertConfirm = 'InsertConfirm';
        var UpdateConfirm = 'UpdateConfirm';
        var ActualAccessType = 'ActualAccessType';
        var ActualAccessEmps = 'ActualAccessEmps';
        //var UnconfirmedData = 'UnconfirmedData';
        var InsertUnconfirmedData = 'InsertUnconfirmedData';
        var OpenSearchDialog = 'OpenSearchDialog';
        var CONFIRM_NAME_LAB = 'CONFIRM_NAME_LAB';
        var CONFIRM_NAME_TR = 'CONFIRM_NAME_TR';
        var AplyNo_TR = 'AplyNo_TR';
        var AplyNo_LAB = 'AplyNo_LAB';
        var unConfirmedIDli = 'unConfirmedIDli';
        var confirmTime_Id = 'confirmTimeli';
        //#endregion

        var opScope = '@Html.Raw(ViewBag.opScope)';
        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();
            var validationSummary = $('#validationSummary ul.validation-summary-errors');
            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
               }
            validationSummary.append('<li>' + '無使用權限' + '</li>');
        }
        else {
            //初始畫面
            if ($('#' + RegisterID).val() == null) {
                $('#Search').prop('disabled', true);
            }
            setTimepicker();
            GetConfrimedTime();
            //region datepicker
            var today = $.datepicker.formatDate('yy/mm/dd', new Date());
            $('#' + AOT_DT).val(today);
            verified.time(TMT_FormId, INTRA_T);//入庫時間 時間格式
            verified.time(TMT_FormId, OUTTRA_T);//出庫時間 時間格式
            //created.createDatepicker(AOT_DT, today);
            //verified.datepicker(AOT_Form, AOT_DT, $('#' + AOT_DT).val());
            //verified.required(AOT_Form, AOT_DT, message.required('入庫日期'));
            //#endregion
        }
        //region 驗證時間
        function compareTime(startTime, endTime) {
            if (Date.parse("1-1-2000 " + startTime) >= Date.parse("1-1-2000 " + endTime)) {
                customerUtility.alert("出庫時間需大於入庫時間", 'w');
                return false;
            }
            return true;
        }
        //#endregion
        //region 產生產生button事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'Search':
                    $('#' + id).on('click', function () { formSearch(); });
                    break;
                case 'ConfrimedSave':
                    $('#' + id).on('click', function () { ConfrimedSave(); });
                    break;
                case 'Apply':
                    $('#' + id).on('click', function () { formApply(); });
                    break;
                case 'Insert':
                    $('#' + id).on('click', function () { OpenInsert(); });
                    break;
                case 'InsertConfirm':
                    $('#' + id).on('click', function () { InsertFun(); });
                    break;
                //case 'UnconfirmedData':
                //    $('#' + id).on('click', function () { SearchUnconfirmedData(); });
                //    break;
                case 'InsertUnconfirmedData':
                    $('#' + id).on('click', function () { InsertUnconfirmedDetail(); });
                    break;
                case 'Print':
                    $('#' + id).on('click', function () { PrintFun(); });
                    break;
            }
        });
        //#endregion

        $('#' + confirmTime_Id).on('click', function () { GetConfrimedTime() });
        $('#' + unConfirmedIDli).on('click', function () { SearchUnconfirmedData(); });
        //region 設定Timepicker
        function setTimepicker() {
            $('.timepicker').timepicker({
                timeFormat: 'H:i',
                step: 1,
                minTime: '8:00',
                maxTime: '23:00',
                //defaultTime: '8:00',
                scrollDefault: 'now',
                startTime: '08:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        }
        //#endregion
        //Dialog SelectedChange 事件
        $('#' + ItemOpType).change(function () {
            var opType = $('#' + ItemOpType).val();
            listChange(opType, null, null);
        });
        $('#' + TreaItem).change(function () {
            var opType = $('#' + ItemOpType).val();
            var treaItem = $('#' + TreaItem).val();
            listChange(opType, treaItem, null);
        });
        $('#' + AccessType).change(function () {
            var opType = $('#' + ItemOpType).val();
            var treaItem = $('#' + TreaItem).val();
            var accessType = $('#' + AccessType).val();
            listChange(opType, treaItem, accessType);
        });
        $('#SealItemTd').change(function () {
            GetActualAccessTypeFun($('#' + SealItem).val(), null);
        });
        //#endregion
        //Dialog SelectedChange
        function listChange(opType, treaItem, accessType) {
            ResetDialog();
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    ItemOpType: opType,
                    TreaItem: treaItem,
                    AccessType: accessType
                }),
                url: UrlFor.Change,
                contentType: 'application/json'
            }).done(function (result) {
                $('#TreaItem').find('option').remove();
                customerUtility.addoption('TreaItem', result.Item1);
                $('#' + ActualAccessEmps).find('option').remove();
                customerUtility.addoption('ActualAccessEmps', result.Item3);
                $('#' + ActualAccessType).find('option').remove();
                customerUtility.addoption('ActualAccessType', result.Item4);

                if (treaItem != null) {
                    $('#' + TreaItem).val(treaItem);
                }
                if (accessType == null) {
                    $('#' + AccessType).val("P");
                }
                if (opType == "1") {
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + InsertReason).prop('disabled', true);
                }
                if (opType == "2") {
                    $('.ShowOrNot').show();
                    $('#' + ActualAccessType).prop('disabled', false);
                    $('#' + SealItem).prop('disabled', true);
                    $('#' + InsertReason).prop('disabled', true);
                    //if ($('#TreaItem option').length > 0) {
                    //    $('#TreaItem').val($($('#TreaItem option')[0]).val()).change();
                    //}
                    $('#SealItemTd').children().remove();
                    $('#SealItemTd').append('<select id="SealItem" name="SealItem"></select>');
                    customerUtility.addoption('SealItem', result.Item2);
                }
                else {
                    $('.ShowOrNot').hide();
                    //$('#SealItemTd').empty();
                }
                if (opType == "3") {
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + InsertReason).prop('disabled', true);
                }
                if (opType == "4") {
                    var _TreaItem = $('#' + TreaItem).val();
                    $('#' + InsertReason).prop('disabled', false);
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + ActualAccessEmps).prop('disabled', false);
                    //if (_TreaItem == 'D1023') {
                    //    $('#' + ActualAccessEmps).prop('disabled', true);
                    //}
                    //else {
                    //    $('#' + ActualAccessEmps).prop('disabled', false);
                    //}
                }
                //if (opType != "4") {
                //    $('#' + InsertReason).prop('disabled', true);
                //}
                //else {
                //    $('#' + InsertReason).prop('disabled', false);
                //}
            });
        }
        //#endregion
        //region 金庫登記簿單號SelectedChange事件
        $('#' + RegisterID).change(function () {
            $('#' + Print).prop('disabled', true);
            $('#' + Apply).prop('disabled', true);
            $('#' + DetailsDiv).hide();
        });
        //#endregion
        //region 新增至金庫登記簿
        function InsertUnconfirmedDetail() {
            var _isCheck = [];
            if ($('.UnconfirmedTakeouts:checked').length > 0) {
                $('.UnconfirmedTakeouts:checked').each(function () {
                    _isCheck.push($(this).val());
                });
            }
            if (_isCheck.length === 0) {
                customerUtility.alert("無選擇項目", 'w');
                return false;
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    RegisterID: $('#' + RegisterID).val()
                }),
                url: UrlFor.InsertUnconfirmedData,
                contentType: 'application/json'
            }).done(function (result) {
                if (!result.RETURN_FLAG) {
                    customerUtility.alert(result.DESCRIPTION, 'w');
                } else {
                    customerUtility.alert(result.DESCRIPTION, 's');
                    UnconfirmedGrid();
                    formSearch();
                }
            });
        }
        //#endregion
        //region 查詢未確認資料
        function SearchUnconfirmedData() {
            $.ajax({
                type: 'POST',
                data: null,
                url: UrlFor.SearchUnconfirmedData,
                contentType: 'application/json'
            }).done(function (result) {
                if (!result.RETURN_FLAG) {
                    //customerUtility.alert(result.DESCRIPTION, 'w');
                }
                else {
                    UnconfirmedGrid();
                    $('#' + InsertUnconfirmedData).prop('disabled', false);
                    $('#' + InsertUnconfirmedData).show();
                }
            });
        }
        //region 查詢
        function formSearch() {
            //if ($('#' + AOT_Form).valid()) {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    searchModel: SearchViewModel(
                        $('#' + AOT_DT).val(),
                        $('#' + RegisterID).val()
                        )
                }),
                url: UrlFor.Search,
                contentType: 'application/json'
            }).done(function (result) {
                if (!result.RETURN_FLAG) {
                    customerUtility.alert(result.DESCRIPTION, 'w');
                    //$('#' + Apply).prop('disabled', true);
                    //$('#' + Print).prop('disabled', true);
                    //$('#' + DetailsDiv).hide();
                    //$('#' + Insert).hide();
                    var reigisterId = $('#' + RegisterID).val();
                    if (reigisterId != "") {
                        $('#' + Apply).prop('disabled', false);
                        $('#' + Print).prop('disabled', false);
                        $('#' + DetailsDiv).show();
                        $('#' + Insert).show();
                    }
                } else {
                    $('#' + Apply).prop('disabled', false);
                    $('#' + Print).prop('disabled', false);
                    $('#' + DetailsDiv).show();
                    $('#' + Insert).show();
                    SearchGrid();
                }
            });
        }
        //#endregion
        //region 申請覆核
        function formApply() {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    registerID: $('#' + RegisterID).val()
                }),
                url: UrlFor.CheckPGTime,
                contentType: 'application/json'
            }).done(function (result) {
                if (!result.RETURN_FLAG) {
                    customerUtility.alert(result.DESCRIPTION, 'w');
                }
                else {
                    if (result.Datas.vACTUAL_GET_TIME == null || result.Datas.vACTUAL_PUT_TIME == null) {
                        customerUtility.alert("尚未輸入出入庫時間，請先登打出入庫時間!!", 'w');
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            registerID: $('#' + RegisterID).val()
                        }),
                        url: UrlFor.Apply,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (!result.RETURN_FLAG) {
                            customerUtility.alert(result.DESCRIPTION, 'w');
                        }
                        else {
                            customerUtility.alert(result.DESCRIPTION, 's');
                            $('#SearchjqgridDiv').empty();
                            $('#RegisterID').empty();
                            $('#DetailsDiv').hide();
                            //SearchGrid();
                        }
                    });
                }
            });
        }
        //#endregion
        //region 取出入庫時間
        function GetConfrimedTime() {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    registerID: $('#' + RegisterID).val()
                }),
                url: UrlFor.GetConfrimedT,
                contentType: 'application/json'
            }).done(function (result) {
                if (result != null) {
                    $('#' + INTRA_T).val(result.Item1);
                    $('#' + OUTTRA_T).val(result.Item2);
                }
            });
        }
        //#endregion
        //region 確定存檔
        function ConfrimedSave() {
            var startTime = $('#' + INTRA_T).val();
            var endTime = $('#' + OUTTRA_T).val();
            var checkTime = compareTime(startTime, endTime);
            if (!checkTime) {
                return false;
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    searchModel: SearchViewModel(
                        null,
                        $('#' + RegisterID).val(),
                        $('#' + INTRA_T).val(),
                        $('#' + OUTTRA_T).val()
                        )
                }),
                url: UrlFor.Confrimed,
                contentType: 'application/json'
            }).done(function (result) {
                if (!result.RETURN_FLAG) {
                    customerUtility.alert(result.DESCRIPTION, 'w');
                }
                else {
                    customerUtility.alert(result.DESCRIPTION, 's');
                    $('#' + INTRA_T).val('');
                    $('#' + OUTTRA_T).val('');
                    GetConfrimedTime();
                }
            });
        }
        //#endregion
        //region 新增
        function InsertFun() {
            var registerID = $('#' + RegisterID).val();

            var opType = $('#' + ItemOpType).val();
            var treaItem = $('#' + TreaItem).val();
            //var reason = $('#' + InsertReason).val();
            var actualAccType = $('#' + ActualAccessType).val();
            var actualAccEmp = $('#' + ActualAccessEmps).val();
            var insertReasonTxT = $('#' + InsertReason).val();
            var accessType;
            var SealItemId;
            var accessTypeCode;
            if (actualAccEmp.trim() == '') {
                customerUtility.alert("未輸入實際入庫人員!!", 'w');
                return false;
            }
            if (opType == "4") {
                if (insertReasonTxT.length == 0) {
                    customerUtility.alert("請輸入入庫原因!!", 'w');
                    return false;
                }
            }
            if (opType == "2") {
                accessTypeCode = $('#' + AccessType).val();
                SealItemId = $('#' + SealItem).val();
                if (SealItemId.length == 0) {
                    customerUtility.alert("請選擇印章!!", 'w');
                    return false;
                }
                if (actualAccType.length == 0) {
                    customerUtility.alert("請選擇實際作業別!!", 'w');
                    return false;
                }               
            }
            if (confirm("確定新增?")) {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        InsertModel: InsertViewModel(
                          registerID,
                          opType,
                          treaItem,
                          insertReasonTxT,
                          actualAccType,
                          actualAccEmp,
                          SealItemId,
                          accessTypeCode
                          )
                    }),
                    url: UrlFor.Insert,
                    contentType: 'application/json'
                }).done(function (result) {
                    if (!result.RETURN_FLAG) {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                    } else {
                        $('#UpdateDialog').dialog('close');
                        customerUtility.alert(result.DESCRIPTION, 's');
                        SearchGrid();
                    }
                });
            }
        }
        //#endregion
        //region 修改
        function UpdateFun(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);
                var actualAccType = $('#' + ActualAccessType).val();
                var actualAccEmp = $('#' + ActualAccessEmps).val();
                var insertReasonTxT = $('#' + InsertReason).val();
                var registerID = $('#' + RegisterID).val();
                var treaItem = data.vITEM_ID;
                var opType = data.vITEM_OP_TYPE;
                var accessTypeCode;
                var SealItemId;
                if (actualAccEmp.trim() == '') {
                    customerUtility.alert("未輸入實際入庫人員!!", 'w');
                    return false;
                }
                if (opType == "4") {
                    if (insertReasonTxT.length == 0) {
                        customerUtility.alert("請輸入入庫原因!!", 'w');
                        return false;
                    }
                }
                if (opType == "2") {
                    //accessType = $('#AccessType option:selected').text();
                    accessTypeCode = $('#' + AccessType).val();
                    SealItemId = $('#' + SealItem).val();
                    if (SealItemId.length == 0) {
                        customerUtility.alert("請選擇印章!!", 'w');
                        return false;
                    }
                    if (accessTypeCode.length == 0 && actualAccType.length == 0) {
                        customerUtility.alert("請選擇實際作業別!!", 'w');
                        return false;
                    }
                }
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        APLYNO: data.hvAPLY_NO,
                        InsertModel: InsertViewModel(
                            registerID,
                            opType,
                            treaItem,
                            insertReasonTxT,
                            actualAccType,
                            actualAccEmp,
                            SealItemId,
                            accessTypeCode
                            ),

                        //ActualAccEmp: actualAccEmp,
                        //ActualAccType: actualAccType,
                        //InsertReason: insertReasonTxT,
                        //ItemId: itemId,
                        //OpType: opType
                    }),
                    url: UrlFor.Update,
                    contentType: 'application/json'
                }).done(function (result) {
                    if (!result.RETURN_FLAG) {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                    } else {
                        $('#UpdateDialog').dialog('close');
                        customerUtility.alert(result.DESCRIPTION, 's');
                        SearchGrid();
                    }
                });
            }
        }
        //#endregion
        //region 未確認修改
        function UnConfirmedUpdateFun(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);
                var actualAccEmp = $('#' + ActualAccessEmps).val();
                var actualAccType = $('#' + ActualAccessType).val();
                if (actualAccEmp.trim() == '') {
                    customerUtility.alert("未輸入實際入庫人員!!", 'w');
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        APLYNO: data.hvAPLY_NO,
                        ActualAccEmp: actualAccEmp,
                        ActualAccType: actualAccType
                    }),
                    url: UrlFor.UnConfirmedUpdate,
                    contentType: 'application/json'
                }).done(function (result) {
                    if (!result.RETURN_FLAG) {
                        customerUtility.alert(result.DESCRIPTION, 'w');
                    } else {
                        $('#UpdateDialog').dialog('close');
                        customerUtility.alert(result.DESCRIPTION, 's');
                        SearchUnconfirmedData();
                    }
                });
            }
        }
        //#endregion
        //region 刪除
        function DeleteFun(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);

                if (data.vITeM_OP_TYPE == "3") {
                    customerUtility.alert("此為不可刪除作業項目!!", 'w');
                    return false;
                }
                if (confirm("是否退回 " + data.vITEM_DESC + "??")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            APLYNO: data.hvAPLY_NO
                        }),
                        url: UrlFor.Delete,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (!result.RETURN_FLAG) {
                            customerUtility.alert(result.DESCRIPTION, 'w');
                        } else {
                            customerUtility.alert(result.DESCRIPTION, 's');
                            SearchGrid();
                        }
                    });
                }
            }
        }
        //#endregion
        //region 未確認退回
        function UnconfirmedDeleteFun(listId, rowid) {
            listId = listId || '';
            rowid = rowid || 0;
            if (rowid > 0) {
                var data = $("#" + listId).getRowData(rowid);

                if (confirm("是否退回單號:  " + data.hvAPLY_NO + "??")) {
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify({
                            APLYNO: data.hvAPLY_NO
                        }),
                        url: UrlFor.UnconfirmedDelete,
                        contentType: 'application/json'
                    }).done(function (result) {
                        if (!result.RETURN_FLAG) {
                            customerUtility.alert(result.DESCRIPTION, 'w');
                        } else {
                            customerUtility.alert(result.DESCRIPTION, 's');
                            UnconfirmedGrid();
                        }
                    });
                }
            }
        }
        //#endregion
        //#region jqGrid 單號變連結
        function formatterAPLYNO(cellvalue, options, rdata) {
            if (rdata.vITEM_OP_TYPE == "3") {
                return "<a href='#' class='openDialog DialogAPLYNO' style='text-decoration:underline;' return:false; id='" + options.gid + "APLYNO" + options.rowId + "'  name='" + cellvalue + "' title='" + cellvalue + "' '>" + cellvalue + "</a>";
            }
            return "";
        }
        function UnformatterAPLYNO(cellvalue, options, rdata) {
            return cellvalue;
        }
        //#endregion
        ////#region jqGrid checkbox
        function formatterTakeOut(cellvalue, options, rdata) {
            var str = "<div class='checkbox checkbox-info' title=' ' style='padding-top: 0px; margin-top: 0px; margin-bottom: 0px;'><input type='checkbox' id='" + options.gid + options.colModel.index + options.rowId + "' ' tage='" + options.colModel.index + "' name='" +
                    options.gid + options.colModel.index + options.rowId + "' title =' ' " + (cellvalue == true ? 'checked' : ' ') + " class='cbox UnconfirmedTakeouts customerCheck'></div>";
            return str;
        }
        //#endregion
        //region 查詢UnconfirmedTable
        function UnconfirmedGrid() {
            var colUnconTitleArray = ['動作', '確認', '作業類型', '存取項目', '印章內容', '作業別', '申請單號', '入庫原因', '實際入庫人員', '申請時間', '存取項目編號', '印章編號', '作業別編號', 'h申請單號', '申請人員編號', '實際入庫人員', '申請人員'];
            var colUnconModelArray = [
                { name: "act", index: "act", width: 60, sortable: false, align: 'center' },
                { name: "IsTakeout", index: "IsTakeout", width: 60, sortable: false, align: 'center', formatter: formatterTakeOut },
                { name: "vITEM_OP_TYPE", index: "vITEM_OP_TYPE", width: 65, sortable: false, align: 'center' },
                { name: "vITEM_DESC", index: "vITEM_DESC", width: 85, sortable: false, align: 'center' },
                { name: "vSEAL_ITEM", index: "vSEAL_ITEM", width: 65, sortable: false, align: 'center' },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", width: 65, sortable: false, align: 'center' },
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 130, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width: 135, sortable: false, align: 'center' },
                { name: "vACTUAL_ACCESS_NAME", index: "vACTUAL_ACCESS_NAME", width: 80, sortable: false, align: 'center' },
                { name: "APLY_DT", index: "APLY_DT", width: 150, sortable: false, align: 'center' },
                { name: "vITEM_ID", index: "vITEM_ID", hidden: true },
                { name: "vSEAL_ITEM_ID", index: "vSEAL_ITEM_ID", hidden: true },
                { name: "vACCESS_TYPE_CODE", index: "vACCESS_TYPE_CODE", hidden: true },
                { name: "hvAPLY_NO", index: "hvAPLY_NO", hidden: true },
                { name: "APLY_UID", index: "APLY_UID", hidden: true },
                { name: "vACTUAL_ACCESS_UID", index: "vACTUAL_ACCESS_UID", hidden: true },
                { name: "APLY_NAME", index: "APLY_NAME", hidden: true }
            ];
            jqgridCustom.createJqgridByCache(
                'UnconfirmedDataDiv',
                'UnconfirmedDataList',
                'UnconfirmedDataPeger',
                 UrlFor.GetData,
              {
                  type: 'UnconfirmedData'
              },
              colUnconTitleArray,
              colUnconModelArray,
              '未確認表單資料',
              jqgridCustom.getPage('UnconfirmedDataDiv'),
              UnconfirmedTakeOutFun,
              true
                );
        }
        //#endregion
        //region 查詢Table
        function SearchGrid() {
            var colTitleArray = ['動作', '作業類型', '存取項目', '印章內容', '作業別', '申請單號', '入庫原因', '入庫人員', '實際入庫人員', '實際作業別', '存取項目編號', '印章內容編號', 'h申請單號', '入庫人員ID', '作業別編號'];
            var colModelArray = [
                { name: "act", index: "act", width: 60, sortable: false, align: 'center' },
                { name: "vITEM_OP_TYPE", index: "vITEM_OP_TYPE", width: 65, sortable: false, align: 'center' },
                { name: "vITEM_DESC", index: "vITEM_DESC", width: 90, sortable: false, align: 'center' },
                { name: "vSEAL_ITEM", index: "vSEAL_ITEM", width: 95, sortable: false, align: 'center' },
                { name: "vACCESS_TYPE", index: "vACCESS_TYPE", width: 65, sortable: false, align: 'center' },
                { name: "vAPLY_NO", index: "vAPLY_NO", width: 130, sortable: false, align: 'center', formatter: formatterAPLYNO, unformat: UnformatterAPLYNO },
                { name: "vACCESS_REASON", index: "vACCESS_REASON", width: 130, sortable: false, align: 'center' },
                { name: "vCONFIRM_NAME", index: "vCONFIRM_NAME", width: 70, sortable: false, align: 'center' },
                { name: "ACTUAL_ACCESS_NAME", index: "ACTUAL_ACCESS_NAME", width: 80, sortable: false, align: 'center' },
                { name: "ACTUAL_ACCESS_TYPE", index: "ACTUAL_ACCESS_TYPE", width: 80, sortable: false, align: 'center' },
                { name: "vITEM_ID", index: "vITEM_ID", hidden: true },
                { name: "vSEAL_ITEM_ID", index: "vSEAL_ITEM_ID", hidden: true },
                { name: "hvAPLY_NO", index: "hvAPLY_NO", hidden: true },
                { name: "vCONFIRM_UID", index: "vCONFIRM_UID", hidden: true },
                { name: "vACCESS_TYPE_CODE", index: "vACCESS_TYPE_CODE", hidden: true }
            ];
            jqgridCustom.createJqgridByCache(
                'SearchjqgridDiv',
                'SearchList',
                'SearchPeger',
                UrlFor.GetData,
              {
                  type: 'Search'
              },
              colTitleArray,
              colModelArray,
              '金庫登記簿-修改',
              jqgridCustom.getPage('SearchjqgridDiv'),
              SearchGridDoneFun,
              true
           );
        }
        //#endregion
        //region Unconfirmed Grid 點擊事件
        function UnconfirmedTakeOutFun(listId) {
            jqgridCustom.randerAction(listId, 'Unconfirmed', UnTempActFun);
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                //$(this).find('.actionEditIcon').hide();
                //$(this).find('.actionDeleIcon').hide();
                $(this).find('.actionViewIcon').hide();
                $(this).find('td').find('.UnconfirmedTakeouts').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        takeout(i + 1, $(this).prop('checked'));
                    });
                });
                //申請單號
                $(this).find('td').find('a.DialogAPLYNO').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        OpenAPLYNOFun(listId, i + 1, false);
                    });
                });
            });
        }
        //#endregion
        //region 打勾事件
        function takeout(rowid, flag) {
            var listId = 'UnconfirmedDataList';
            var data = $("#" + listId).getRowData(rowid);
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    checkedmodel: data.hvAPLY_NO,
                    takeoutFlag: flag
                }),
                dataType: "json",
                url: UrlFor.TakeOutData,
                contentType: 'application/json',
            }).done(function (result) {
                if (result.RETURN_FLAG) {
                    UnconfirmedGrid();
                }
            });
        }
        //#endregion
        //region Search Grid 點擊事件
        function SearchGridDoneFun(listId) {
            jqgridCustom.randerAction(listId, 'Update', tempActFun);
            $('#' + listId + ' > tbody > tr:gt(0) ').each(function (i, j) {
                $(this).find('.actionViewIcon').hide();
                //$(this).find('.actionDeleIcon').hide();
                //申請單號
                $(this).find('td').find('a.DialogAPLYNO').each(function () {
                    $(this).off('click');
                    $(this).on('click', function () {
                        OpenAPLYNOFun(listId, i + 1, false);
                    });
                });
            });
        }
        //#endregion
        //region 修改、刪除、檢視
        var UnTempActFun = {};
        UnTempActFun.Edit = function (i) {
            UndialogOpen('@Ref.ActionType.Edit.ToString()', i);
        }
        UnTempActFun.Dele = function (i) {
            var listId = 'UnconfirmedDataList';
            UnconfirmedDeleteFun(listId, i);
        }
        UnTempActFun.View = function (i) {
            @*UndialogOpen('@Ref.ActionType.View.ToString()', i);*@
        }
        //#endregion
        //region 修改、刪除、檢視
        var tempActFun = {};
        tempActFun.Edit = function (i) {
            dialogOpen('@Ref.ActionType.Edit.ToString()', i);
        }
        tempActFun.Dele = function (i) {
            var listId = 'SearchList';
            DeleteFun(listId, i);
        }
        tempActFun.View = function (i) {
            @*dialogOpen('@Ref.ActionType.View.ToString()', i);*@
        }
        //#endregion
        function OpenInsert() {
            dialogOpen('@Ref.ActionType.Add.ToString()', null);
        }
        //region 修改、刪除、檢視事件
        function UndialogOpen(type, rowid) {
            $('#' + UpdateForm).validate().resetForm();
            ResetDialog();
            var dialogId = 'UpdateDialog';
            var listId = 'UnconfirmedDataList';
            var title = customerUtility.getDialogType(type);
            var data = $("#" + listId).getRowData(rowid);

            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: title + '作業',
                width: 'auto',
                autoOpen: false,
                resizable: false,
                closeText: '取消',
                close: function (event, ui) {
                    customerUtility.closeDialog(this);
                }
            });

            $('#InsertConfirm,#UpdateConfirm').hide();
            if (type == '@Ref.ActionType.Edit.ToString()') {
                $('#' + UpdateConfirm).show();
                $('#' + InsertConfirm).prop('disabled', true);
                $('#' + ItemOpType).prop('disabled', true);
                $('#' + TreaItem).prop('disabled', true);
                $('#' + InsertReason).prop('disabled', true);
                //$('#' + ActualAccessEmps).prop('disabled', false);
                //$('#' + ActualAccessType).prop('disabled', false);

                $('#' + TreaItem).empty();
                $('#' + ItemOpType).val(data.vITEM_OP_TYPE);
                $('#' + TreaItem).append($('<option></option>').val(data.vITEM_ID).html(data.vITEM_DESC));
                $('#' + InsertReason).val(data.vACCESS_REASON);
                $('#' + CONFIRM_NAME_LAB).text(data.vCONFIRM_NAME);

                if (data.vITEM_OP_TYPE == "3") {
                    $('#' + CONFIRM_NAME_TR).hide();
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + AplyNo_LAB).text(data.hvAPLY_NO);
                    $('#' + AplyNo_TR).show();
                }
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        TreaItem: $('#' + TreaItem).val(),
                        ConfirmUid: data.vCONFIRM_UID
                    }),
                    url: UrlFor.GetActualUsers,
                    contentType: 'application/json'
                }).done(function (result) {
                    $('#' + ActualAccessEmps).find('option').remove();
                    customerUtility.addoption('ActualAccessEmps', result);
                });
                $('#' + UpdateConfirm).off('click');
                $('#' + UpdateConfirm).on('click', function () { UnConfirmedUpdateFun(listId, rowid); });
            }
            $('#' + dialogId).dialog('open');
        }
        //#endregion
        //region 修改、刪除、檢視事件
        function dialogOpen(type, rowid) {
            $('#' + UpdateForm).validate().resetForm();
            ResetDialog();
            var dialogId = 'UpdateDialog';
            var listId = 'SearchList';
            var title = customerUtility.getDialogType(type);
            var data = $("#" + listId).getRowData(rowid);

            $('#' + dialogId).dialog({
                position: { my: "top+30%", at: "center top", of: window },
                title: title + '作業',
                width: 'auto',
                autoOpen: false,
                resizable: false,
                closeText: '取消',
                close: function (event, ui) {
                    customerUtility.closeDialog(this);
                }
            });
            $('#InsertConfirm,#UpdateConfirm').hide();

            if (type == '@Ref.ActionType.Edit.ToString()') {
                $('#' + UpdateConfirm).show();
                $('#' + InsertConfirm).prop('disabled', true);
                $('#' + ItemOpType).prop('disabled', true);
                $('#' + TreaItem).prop('disabled', true);
                $('#' + InsertReason).prop('disabled', true);

                $('#' + TreaItem).empty();
                $('#' + ItemOpType).val(data.vITEM_OP_TYPE);
                $('#' + TreaItem).append($('<option></option>').val(data.vITEM_ID).html(data.vITEM_DESC));
                $('#' + InsertReason).val(data.vACCESS_REASON);
                $('#' + CONFIRM_NAME_LAB).text(data.vCONFIRM_NAME);

                if (data.vITEM_OP_TYPE == "1") {
                    $('#' + ActualAccessType).prop('disabled', true);
                }
                if (data.vITEM_OP_TYPE == "2") {
                    $('#' + AccessType).empty();
                    $('#' + SealItem).empty();
                    $('#' + AccessType).append($('<option></option>').val(data.vACCESS_TYPE_CODE).html(data.vACCESS_TYPE));

                    if (data.vSEAL_ITEM_ID != ''){
                        $('#' + SealItem).append($('<option></option>').val(data.vSEAL_ITEM_ID).html(data.vSEAL_ITEM));
                        $('#' + SealItem).prop('disabled', true);
                        GetActualAccessTypeFun(data.vSEAL_ITEM_ID, data.vACCESS_TYPE_CODE);
                    }
                    else {
                        GetSEAL_ITEM_ID(data.vITEM_ID);
                        $('#' + SealItem).prop('disabled', false);
                    }
                        
                    $('#' + CONFIRM_NAME_TR).hide();
                    $('#' + ActualAccessType).prop('disabled', false);
                    $('.ShowOrNot').show();
                }
                else {
                    $('.ShowOrNot').hide();
                }

                if (data.vITEM_OP_TYPE == "3") {
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + AplyNo_LAB).text(data.hvAPLY_NO);
                    $('#' + AplyNo_TR).show();
                }
                if (data.vITEM_OP_TYPE == "4") {
                    $('#' + InsertReason).prop('disabled', false);
                    $('#' + ActualAccessType).prop('disabled', true);
                    $('#' + ActualAccessEmps).prop('disabled', false);
                    if (data.vITEM_ID == 'D1023') {
                        $('#' + ActualAccessEmps).prop('disabled', true);
                    }
                }
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        TreaItem: $('#' + TreaItem).val(),
                        ConfirmUid: data.vCONFIRM_UID
                    }),
                    url: UrlFor.GetActualUsers,
                    contentType: 'application/json'
                }).done(function (result) {
                    $('#' + ActualAccessEmps).find('option').remove();
                    customerUtility.addoption('ActualAccessEmps', result);
                });

                $('#' + UpdateConfirm).off('click');
                $('#' + UpdateConfirm).on('click', function () { UpdateFun(listId, rowid); });
            }
            else if (type == '@Ref.ActionType.Add.ToString()') {
                $('#' + InsertConfirm).show();
                $('#' + InsertConfirm).prop('disabled', false);
                if ($('#ItemOpType option').length > 0) {
                    $('#' + ItemOpType).val($($('#ItemOpType option')[0]).val()).change();
                }
                $('#' + CONFIRM_NAME_TR).hide();
            }
            $('#' + dialogId).dialog('open');
        }
        //#endregion
        //#region 申請項目設定檔案
        @*function GetItemData(item) {
            item = item || '';
            var _reportTitle = '金庫物品存取申請單';
            var obj = {};
            obj.url = null; //開啟金庫物品的頁面 url
            obj.title = null; //開啟金庫物品的頁面 Title
            obj.openDialogWidth = 860; //開啟金庫物品的頁面 寬度
            obj.reportTitle = _reportTitle; //報表Title
            obj.reportType = null; //報表類型

            switch (item) {
                case '@Ref.TreaItemType.D1012.ToString()':
                    obj.url = UrlFor.openBILL;
                    obj.title = '@Ref.TreaItemType.D1012.GetDescription()';
                    obj.reportType = 'BILL';
                    break;
                case '@Ref.TreaItemType.D1014.ToString()':
                    obj.url = UrlFor.openESTATE;
                    obj.title = '@Ref.TreaItemType.D1014.GetDescription()';
                    obj.reportType = 'ESTATE';
                    break;
                case '@Ref.TreaItemType.D1008.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1008.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1009.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1009.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1010.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1010.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1011.ToString()':
                    obj.url = UrlFor.openSEAL;
                    obj.title = '@Ref.TreaItemType.D1011.GetDescription()';
                    obj.reportType = 'SEAL';
                    break;
                case '@Ref.TreaItemType.D1015.ToString()':
                    obj.url = UrlFor.openSTOCK;
                    obj.title = '@Ref.TreaItemType.D1015.GetDescription()';
                    obj.openDialogWidth = 1200;
                    obj.reportType = 'STOCK';
                    break;
                case '@Ref.TreaItemType.D1024.ToString()':
                    obj.url = UrlFor.openCA;
                    obj.title = '@Ref.TreaItemType.D1024.GetDescription()';
                    obj.reportType = 'CA';
                    break;
                case '@Ref.TreaItemType.D1017.ToString()':
                    obj.url = UrlFor.openMARGINP;
                    obj.title = '@Ref.TreaItemType.D1017.GetDescription()';
                    obj.openDialogWidth = 1250;
                    obj.reportType = 'MARGINP';
                    break;
                case '@Ref.TreaItemType.D1016.ToString()':
                    obj.url = UrlFor.openMARGING;
                    obj.title = '@Ref.TreaItemType.D1016.GetDescription()';
                    obj.openDialogWidth = 900;
                    obj.reportType = 'MARGING';
                    break;
                case '@Ref.TreaItemType.D1018.ToString()':
                    obj.url = UrlFor.openItemImp;
                    obj.title = '@Ref.TreaItemType.D1018.GetDescription()';
                    obj.openDialogWidth = 1040;
                    obj.reportType = 'ITEMIMP';
                    break;
                case '@Ref.TreaItemType.D1013.ToString()':
                    obj.url = UrlFor.openDEPOSIT;
                    obj.title = '@Ref.TreaItemType.D1013.GetDescription()';
                    obj.openDialogWidth = 1325;
                    obj.reportType = 'DEPOSIT';
                    break;
            }
            return obj;
        }*@
        //#endregion
        //#region 開啟申請單號
        function OpenAPLYNOFun(listId, rowid, closeFalg) {
            var data = $("#" + listId).getRowData(rowid);
            var itemId = data.vITEM_ID;
            var itemData = GetItemDataByDefault(itemId);
            if (itemData.url != null) {
                $('#TAR_AplyNo').val(data.vAPLY_NO);
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        AplyNo: data.vAPLY_NO,
                        data: null
                    }),
                    url: UrlFor.getByAplyNo,
                    contentType: 'application/json',
                }).done(function (result) {
                    if (result.RETURN_FLAG) {
                        var aplyNoData = result.Datas.Item1;
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify({
                                AplyNo: data.vAPLY_NO,
                                data: null,
                                type: 0 //金庫物品存取申請作業
                            }),
                            dataType: 'html',
                            url: itemData.url,
                            contentType: 'application/json',
                            success: function (vdata, textStatus, jqXHR) {
                                $('#OpenSearchDetail').html(GetAplyNoDetail() + vdata);
                                $('#TAVMvAplyNo').text(aplyNoData.vAplyNo);
                                $('#TAVMvItem').text(aplyNoData.vItem);
                                customerUtility.addoption('TAVMvAplyUnit', result.Datas.Item3);
                                $('#TAVMvAplyUnit').val(aplyNoData.vAplyUnit);
                                customerUtility.addoption('TAVMvAplyUid', result.Datas.Item4);
                                $('#TAVMvAplyUid').val(aplyNoData.vAplyUid);
                                $('#TAVMvChargeUnit').text(aplyNoData.vChargeUnit);
                                $('#TAVMvAccessType').text(aplyNoData.vAccessType);
                                created.createDatepicker('TAVMvExpectedAccessDate', aplyNoData.vExpectedAccessDate);
                                $('#TAVMvExpectedAccessDate').datepicker("option", "minDate", aplyNoData.vCreateDt);
                                $('#TAVMvExpectedAccessDate').next().prop('disabled', true);
                                $('#TAVMvCreateDt').text(aplyNoData.vCreateDt);
                                $('#TAVMvCreateUnit').text(aplyNoData.vCreateUnit);
                                $('#TAVMvCreateUid').text(aplyNoData.vCreateUid);
                                $('#TAVMvAccessReason').val(aplyNoData.vAccessReason);
                                $('#TAVMvAplyUnit').off('change');
                                $('#TAVMvAplyUnit').on('change', function () {
                                    $.ajax({
                                        type: "POST",
                                        data: JSON.stringify({
                                            DPT_CD: $(this).val()
                                        }),
                                        dataType: "json",
                                        url: UrlFor.changeUnit,
                                        contentType: 'application/json'
                                    }).done(function (result) {
                                        customerUtility.addoption('TAVMvAplyUid', result);
                                    })
                                });
                                openTADialog(itemData.title, itemData.openDialogWidth, 'OpenSearchDialog', closeFalg, result.Datas.Item2);
                            }
                        })
                    }
                });
            }
        }
        //#endregion
        //#region 新增事件(打開Dialog)
        function openTADialog(title, width, dialogId, closeFalg, custodianFlag) {
            title = title || '';
            width = width || 'auto';
            title += '明細';
            var dialogId = dialogId;
            $('#' + dialogId).dialog({
                position: { my: "top", at: "center top", of: window },
                title: title,
                width: width,
                autoOpen: false,
                resizable: false,
                maxHeight: 600,
                closeText: '取消',
                close: function () {
                    ////查詢畫面且為可申請覆核的選項時關閉更新畫面
                    //if (dialogId == 'TAOpenSearchDialog' && $('#TAR_AplyNo').val() != '' && closeFalg) {
                    //    TAAccessGrid();
                    //    TAReportGrid();
                    //}
                    //    //新增畫面官必須清空畫面參數
                    //else if (dialogId == 'TAOpenInsertDialog') {
                    //    resetTADialogDeatil();
                    //}
                }
            });
            $('#' + dialogId).dialog('open');
        }
        //#endregion

        function GetActualAccessTypeFun(SEAL_ID, ACCESS_TYPE_CODE) {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    AccessType: ACCESS_TYPE_CODE,
                    SEAL_ID: SEAL_ID
                }),
                url: UrlFor.GetActualAccessType,
                contentType: 'application/json'
            }).done(function (result) {
                $('#' + ActualAccessType).find('option').remove();
                customerUtility.addoption('ActualAccessType', result);
            });
        }

        //region 修改時 作業類型 2 data.vSEAL_ITEM_ID 無值 必須查DB 帶出印章
        function GetSEAL_ITEM_ID(treaItem) {
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    TreaItem: treaItem
                }),
                url: UrlFor.GetSeal,
                contentType: 'application/json'
            }).done(function (result) {
                customerUtility.addoption('SealItem', result);

                GetActualAccessTypeFun($('#' + SealItem).val(), null);
            })
        }
        //#endregion
        //region 查詢 ViewModel
        function SearchViewModel(vAOT_DT, vTREA_REGISTER_ID, vACTUAL_PUT_TIME, vACTUAL_GET_TIME) {
            var obj = {};
            obj['vCREATE_DT'] = vAOT_DT;
            obj['vTREA_REGISTER_ID'] = vTREA_REGISTER_ID;
            obj['vACTUAL_PUT_TIME'] = vACTUAL_PUT_TIME;
            obj['vACTUAL_GET_TIME'] = vACTUAL_GET_TIME;
            return obj;
        }
        //#endregion
        //region 新增 ViewModel
        function InsertViewModel(vTREA_REGISTER_ID, vITEM_OP_TYPE, vITEM_ID, vACCESS_REASON, ACTUAL_ACCESS_TYPE, ACTUAL_ACCESS_UID, vSEAL_ITEM_ID, vACCESS_TYPE_CODE) {
            var obj = {};
            obj['vTREA_REGISTER_ID'] = vTREA_REGISTER_ID;
            obj['vITEM_OP_TYPE'] = vITEM_OP_TYPE;
            obj['vITEM_ID'] = vITEM_ID;
            obj['vACCESS_REASON'] = vACCESS_REASON;
            obj['ACTUAL_ACCESS_TYPE'] = ACTUAL_ACCESS_TYPE;
            obj['ACTUAL_ACCESS_UID'] = ACTUAL_ACCESS_UID;
            obj['vSEAL_ITEM_ID'] = vSEAL_ITEM_ID;
            obj['vACCESS_TYPE_CODE'] = vACCESS_TYPE_CODE;
            return obj;
        }
        //#endregion
        //region 列印
        function PrintFun() {
            var parms = [];
            setTimeout(
                function () {
                    parms.push(customerUtility.reportParm('vTreaRegisterId', $('#' + RegisterID).val()));
                    parms.push(customerUtility.reportParm('vUser_Id', '@ViewBag.vUser_Id'));
                    customerUtility.report(
                        customerUtility.reportModel('金庫登記簿', 'TREASURY_REGISTER'),
                        parms,
                        null
                        );
                }, 100);
        }
        //#endregion
        //#region 申請單號基本資料(點選單號時使用)
        function GetAplyNoDetail() {
            var str = '';
            str += '<div  class="aplyNoDetail" style="border-bottom:1px solid #000;margin-bottom:10px;">';
            str += '<form id="TAVMvForm">';
            str += '<table id="TAVMvTablr" style="width:95%" >';
            str += '<tr>';
            str += '<td style="width:150px">';
            str += '<label>申請單號 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvAplyNo"></label>';
            str += '</td>';
            str += '<td style="width:150px">';
            str += '<label>存取申請項目 : </label>';
            str += '</td>';
            str += '<td style="width:250px">';
            str += '<label id="TAVMvItem"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<select id="TAVMvAplyUnit" name="TAVMvAplyUnit" disabled></select>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<select id="TAVMvAplyUid" name="TAVMvAplyUid" disabled></select>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>權責部門 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvChargeUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>申請作業 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvAccessType"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>預計存取日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<input type="text" id="TAVMvExpectedAccessDate" name="TAVMvExpectedAccessDate" style="width:170px" disabled/>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表日期 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateDt"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += ' <label>填表單位 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUnit"></label>';
            str += '</td>';
            str += '<td>';
            str += '<label>填表人 : </label>';
            str += '</td>';
            str += '<td>';
            str += '<label id="TAVMvCreateUid"></label>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td>';
            str += '<label>申請原因 : </label>';
            str += '</td>';
            str += '<td colspan="3">';
            str += '<textarea id="TAVMvAccessReason" style="width:100%" disabled></textarea>';
            str += '</td>';
            str += '</tr>';
            str += '<tr>';
            str += '<td colspan="3">';
            str += '<input type="button" class="btn btn-primary" id="TAVMUpdate" value="修改" disabled style="display:none;margin-right:10px;" />';
            str += '<input type="button" class="btn btn-primary" id="TAVMSave" value="儲存" disabled style="display:none;margin-right:10px;" />';
            str += '<input type="button" class="btn btn-primary" id="TAVMCancel" value="取消" disabled style="display:none;" />';
            str += '</td>';
            str += '</tr>';
            str += '</table>';
            str += '</form>';
            str += '</div>';
            return str;
        }
        //#endregion
        function ResetDialog() {
            $('#' + InsertConfirm).prop('disabled', false);
            $('#' + UpdateConfirm).prop('disabled', false);
            $('#' + ItemOpType).prop('disabled', false);
            $('#' + TreaItem).prop('disabled', false);
            $('#' + SealItem).prop('disabled', false);
            $('#' + InsertReason).prop('disabled', false);
            $('#' + AccessType).prop('disabled', true);
            $('#' + ActualAccessType).prop('disabled', false);
            $('#' + ActualAccessEmps).prop('disabled', false);
            $('#' + CONFIRM_NAME_TR).show();
            $('#' + AplyNo_TR).hide();
            $('#' + CONFIRM_NAME_LAB).text('');
            $('#' + AplyNo_LAB).text('');
            $('#' + AccessType).val(' ');
            $('#' + TreaItem).val('');
            $('#' + InsertReason).val('');
            $('#' + ActualAccessType).val(' ');
            $('#' + SealItem).val('');
            $('.ShowOrNot').hide();
        }
    });
</script>