@model FRT.Web.ViewModels.ORTB010Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;

    var opScope = ViewBag.opScope;
    var fastParaList = ViewBag.fastParaList as SelectList;

}


<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <table>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.code)：@Html.DropDownList("code", fastParaList)
                        </td>
                    </tr>
                </table>


                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
                        <input type="submit" id="btnModify" name="btnModify" value="申請覆核" class="btn btn-primary" />
                        <input type="submit" id="btnClear" name="btnClear" value="清空" class="btn btn-primary" />
                    </div>
                </div>
                <br>
                @Html.Hidden("onEdit", "")
                @Html.Hidden("valueErr", "")
                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>



<script type="text/javascript">
    var lastSelectRoot = "";

    //快速付款通道開啟(啟用)
    function TheOnOpenFunction(rowid) {

        //updateFBApiStat(rowid, "open");

        $("#grid").jqGrid("setCell", rowid, "paraValue", "Y");

        $("#btn_open_" + rowid).hide();
        $("#btn_close_" + rowid).show();
    }

    //快速付款通道開啟(關閉)
    function TheOnCloseFunction(rowid) {
        //updateFBApiStat(rowid, "close");

        $("#grid").jqGrid("setCell", rowid, "paraValue", "N");

        $("#btn_open_" + rowid).show();
        $("#btn_close_" + rowid).hide();
    }

    //*---------------快速付款通道開啟(啟用)/關閉 begin ----------------*//
    function updateFBApiStat(rowid, type) {
        $('#validationSummary').children().remove();

        var validationSummary = $('#validationSummary ul.validation-summary-errors');

        if (validationSummary.length == 0) {
            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
            validationSummary = $('#validationSummary ul.validation-summary-errors');
        }

        var jsonData = JSON.stringify({
            'refNo': "open" == type ? "Y" : "N"
        });

        $.blockUI();

        $.ajax({
            type: "POST",
            data: jsonData,
            dataType: "json",
            url: '@Url.Action("updateFBApiStat", "ORTB010")',
            contentType: 'application/json',
            success: function (data) {
                if (data.success) {
                    validationSummary.append('<li>' + '異動成功!!' + '</li>');

                    if ("open" == type) {
                        $("#grid").jqGrid("setCell", rowid, "paraValue", "Y");

                        $("#btn_open_" + rowid).hide();
                        $("#btn_close_" + rowid).show();
                    } else {
                        $("#grid").jqGrid("setCell", rowid, "paraValue", "N");

                        $("#btn_open_" + rowid).show();
                        $("#btn_close_" + rowid).hide();
                    }
                } else {
                    validationSummary.append('<li>' + data.err + '</li>');
                }
                $.unblockUI();

            }
        });
    }

    //*---------------快速付款通道開啟(啟用)/關閉 end ----------------*//

    //jqgrid中的修改
    function TheOnEditFunction(rowid) {
        if ($("#onEdit").val() == "Y") {
            alert("畫面仍有資料在編輯中，不可修改!!");
        } else {
            var rowData = jQuery("#grid").jqGrid("getRowData", rowid);


            jQuery("#grid").setSelection(rowid, true);
            jQuery("#grid").editRow(rowid);


            $("#btn_save_" + rowid).css("visibility", "visible");
            $("#btn_cancel_" + rowid).css("visibility", "visible");

            $("#btn_edit_" + rowid).css("visibility", "hidden");
            $("#btn_edit_" + rowid).hide();
            $("#btn_save_" + rowid).show();
            $("#btn_cancel_" + rowid).show();

            $("#onEdit").val("Y");
            lastSelectRoot = rowid;
        }

    }


    //jqgrid中的儲存
    function TheOnSaveFunction(rowid) {
        chkData(rowid, "Edit")
    }


    //檢查該筆資料格式是否正確
    function chkData(rowid, execBtn) {

        var paraValue = "";

        var reserve1 = "";
        var remark = "";

        var errMsg = "";

        rowData = $("#grid").jqGrid('getRowData', rowid);
        reserve1 = rowData.reserve1;
        remark = rowData.remark;
        paraValue = $("#" + rowid + "_paraValue").val();

        var type = "";
        if (reserve1.toLowerCase().indexOf("numeric") >=0)
            type = "numeric";
        else
            type = reserve1.toLowerCase();

        switch (type) {
            case "yn":
                if (!(paraValue == "y" || paraValue == "n"))
                    errMsg += remark + " -輸入錯誤，應為Y或N；";

                break;

            case "int":
                if (!checkNumP(paraValue))
                    errMsg += remark + " -輸入錯誤，應為數值；";

                break;
            case "time":
                if (!checkTime(paraValue, false))
                    errMsg += remark + " -輸入錯誤，應為時間格式，例:0830；";

                break;

            case "numeric":
                var intLen = reserve1.substring(reserve1.toLowerCase().indexOf("(") + 1, reserve1.toLowerCase().indexOf(","));
                var decLen = reserve1.substring(reserve1.toLowerCase().indexOf(",") + 1, reserve1.toLowerCase().indexOf(")"));

                if (!checkDecimal(paraValue, intLen, decLen))
                    errMsg += remark + " -輸入錯誤，應為數值(最多" + intLen + "位整數、" + decLen + "位小數)";

                break;
        }

        if (errMsg != "") {
            $("#valueErr").val("Y");
            alert(errMsg);
            return;
        } else {
            $("#valueErr").val("");
            jQuery("#grid").saveRow(rowid, false);
            DisplayEditButton(rowid);
        }
    }


    //jqgrid中的取消
    function TheOnCancelFunction(rowid) {
        $("#onEdit").val("");
        $("#valueErr").val("");
        lastSelectRoot = "";

        jQuery("#grid").restoreRow(rowid);


        $("#btn_save_" + rowid).css("visibility", "hidden");
        $("#btn_cancel_" + rowid).css("visibility", "hidden");

        $("#btn_edit_" + rowid).css("visibility", "visible");
        $("#btn_edit_" + rowid).show();
        $("#btn_save_" + rowid).hide();
        $("#btn_cancel_" + rowid).hide();

    }



    function DisplayEditButton(rowid) {
        if ($("#valueErr").val() == "Y") {
        } else {
            jQuery("#grid").trigger("reloadGrid");
            $("#btn_save_" + rowid).css("visibility", "hidden");
            $("#btn_cancel_" + rowid).css("visibility", "hidden");

            $("#btn_edit_" + rowid).css("visibility", "visible");
            $("#btn_edit_" + rowid).show();
            $("#btn_save_" + rowid).hide();
            $("#btn_cancel_" + rowid).hide();

            $("#onEdit").val("");
            $("#valueErr").val("");
            lastSelectRoot = "";

        }
    }

    $(document).click(function (e) {
        if ($("#onEdit").val() == "Y" & e.target.id != "btnNew" & e.target.id != "btnClear") {
            if (e.target.id.indexOf(lastSelectRoot) < 0) {
                alert("畫面仍有資料在編輯中，不可執行其它功能!!");
                return
            }

        }

    });


    $(function () {

        $(window).bind('resize', function () {
            var newWidth = $("#grid").closest(".ui-jqgrid").parent().width();
            jQuery("#grid").setGridWidth(newWidth, false);
        }).trigger('resize');


        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else {
            $('#btnModify').attr('disabled', true);
        }


        //*---------------清除 begin ----------------*//
        $("#btnClear").click().on('click', function () {
            $('#validationSummary').children().remove();
            $('#code').val("");

            jQuery("#grid").jqGrid('clearGridData').trigger("reloadGrid");
            $('#btnModify').attr('disabled', true);
            $('#btnQry').attr('disabled', false);
            $("#onEdit").val("");
            $("#valueErr").val("");
            lastSelectRoot = "";
        });
        //*---------------清除 end ----------------*//



        //*---------------查詢 begin ----------------*//
        $("#btnQry").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }


            var jsonData = JSON.stringify({
                'code': $("#code").val()
            });


            $.blockUI(); //畫面鎖起來

            $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("LoadData", "ORTB010")',
                contentType: 'application/json',
                success: function (data) {

                    if (data.success) {
                        //更新畫面GRID
                        jQuery("#grid").jqGrid('clearGridData')
                            .jqGrid('setGridParam', { data: data.dataList })
                            .trigger("reloadGrid");


                        if(data.dataList.length == 0)
                            validationSummary.append('<li>' + '資料不存在!!"' + '</li>');


                    } else
                        validationSummary.append('<li>' + data.err + '</li>');


                    $('#btnModify').attr('disabled', false);
                    $.unblockUI(); //畫面打開
                }
            });
        });
        //*---------------查詢 end ----------------*//



        //*-------------------GRID begin--------------------*//
        $("#grid").jqGrid({
            editurl: 'clientArray',
            datatype: "local",
            //caption: '明細資料',
            localReader: { id: "paraId" },
            colModel: [
                {
                    label: "修改", name: 'Action', index: 'Action', search: false, align: 'center', width: '120',
                },

    {
        label: '參數代碼',
        name: 'paraId', align: 'center', width: '150',
        editable: false,
    },
    {
        label: '設定值',
        name: 'paraValue', align: 'left', width: '200',
        editable: true,
        editoptions: {
            size: 20,
            maxlength: 100
        }
    },
     {
         label: '參數說明',
         name: 'remark', align: 'left', width: '300',
         editable: false,
     },
     {
         label: 'reserve1',
         name: 'reserve1', align: 'left', width: '250',
         editable: false, hidden: true,
     }
     ,
     {
         label: 'reserve2',
         name: 'reserve2', align: 'left', width: '250',
         editable: false, hidden: true,
     },
     {
         label: 'reserve3',
         name: 'reserve3', align: 'left', width: '250',
         editable: false, hidden: true,
     }


            ],
            autowidth: true,
            height: 'auto',
            width: 'auto',
            shrinkToFit: false,
            forceFit: false,
            loadonce: true,
            rownumbers: true,
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 25, 50],
            pager: "#pager",
            loadComplete: function () {
                if ($("#valueErr").val() == "Y") {
                } else {
                    var ids = jQuery("#grid").jqGrid('getDataIDs');



                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];

                        if ($("#code").val() == "FAST_API") {
                            oe = "<input class=\"edit\" style='height:28px;width:50px; ' type='button' id='btn_open_" + rowId + "' value='開啟' onclick=\"TheOnOpenFunction('" + rowId + "');\"  />";
                            ce = "<input class=\"edit\" style='height:28px;width:50px; ' type='button' id='btn_close_" + rowId + "' value='關閉' onclick=\"TheOnCloseFunction('" + rowId + "');\"  />";
                            jQuery("#grid").jqGrid('setRowData', ids[i], { Action: oe + ce });

                            var rowData = jQuery("#grid").jqGrid("getRowData", rowId);
                            if("Y" == rowData.paraValue)
                                $("#btn_open_" + rowId).hide();
                            else
                                $("#btn_close_" + rowId).hide();

                        } else {

                            be = "<input class=\"edit\" style='height:28px;width:50px; ' type='button' id='btn_edit_" + rowId + "' value='修改' onclick=\"TheOnEditFunction('" + rowId + "');\"  />";
                            se = "<input class=\"save\" style='height:28px;width:50px; ' type='button' id='btn_save_" + rowId + "' value='儲存' onclick=\"TheOnSaveFunction('" + rowId + "');\"  />";
                            ce = "<input class=\"cancel\" style='height:28px;width:50px; visibility: hidden;' type='button' id='btn_cancel_" + rowId + "'  value='取消' onclick=\"TheOnCancelFunction('" + rowId + "');\"  />";
                            jQuery("#grid").jqGrid('setRowData', ids[i], { Action: be + se + ce });

                            $("#btn_save_" + rowId).hide();
                            $("#btn_cancel_" + rowId).hide();

                        }
                    }

                }

            }
        });

        //*-------------------GRID end--------------------*//




        //*---------------修改(申請覆核) begin ----------------*//
        $("#btnModify").click().on('click', function () {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }


            var bPass = true;

            if ($('#onEdit').val() == "Y") {
                bPass = false;
                validationSummary.append('<li>' + '畫面資料未存檔!!' + '</li>');
            }


            if (bPass == false)
                return;

            var gridData = $("#grid").jqGrid('getGridParam', 'data');

            var jsonData = JSON.stringify({
                'code': $('#code').val(),
                'gridData': gridData
            });


            $.blockUI();


            $.ajax({
                type: "POST",
                data: jsonData,
                dataType: "json",
                url: '@Url.Action("execSave", "ORTB010")',
                contentType: 'application/json',
                success: function (data) {
                    if (data.success) {
                        validationSummary.append('<li>' + '申請覆核成功!!' + '</li>');
                    } else {
                        validationSummary.append('<li>' + data.err + '</li>');
                    }
                    $("#btnModify").attr('disabled', true);
                    var ids = jQuery("#grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var rowId = ids[i];

                        $("#btn_edit_" + rowId).hide();
                        $("#btn_del_" + rowId).hide();
                        $("#btn_save_" + rowId).hide();
                        $("#btn_cancel_" + rowId).hide();

                    }

                    $.unblockUI();
                }
            });

        });
        //*---------------修改(申請覆核) end ----------------*//


        
    });
</script>


